<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @quote.customer.name %></h4>
    <p>
      Your Avaid Quote <small><a href="avaid.com">avaid.com</a></small>
    </p>

    <p>
      Attached file is your requested quote.
    </p>
    <br/>

    <p>
     FROM,
     <br>
     <%= @user_email %>
    </p>
    <br/>

    <div class="row">
      <div class="col-md-12">
        <p>Quotes are valid for seven days from date issued. Prices and availability to change without notice. All sales are final. No returns without prior written authorization and are subject to a minimum 15% restocking fee. Prices are fixed on date of purchase and cannot be renegotiated at a later date.</p>
      </div>
    </div>

  </body>
</html>
