- if @product_warranty.errors
  - @product_warranty.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @product_warranty]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Name
    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true


  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/product_warranties"} Cancel
        %button.btn.btn-primary.btn-sm{:warranty => "submit"} Save
