.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Update Product Warranties
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/product_warranties"} List View
      %li.breadcrumb-item.active
        %strong Edit
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Product Warranties Form
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up

        .ibox-content
          = render "form"