= form_tag admin_audits_path, method: :get do
  .form-group.row
    .col
      %label Audit Code
      = select_tag "audit[code]", options_from_collection_for_select(@audits, "code", "code", params[:audit].present? ? params[:audit][:code] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Audited Date
      = text_field_tag "audit[audited_date]", params[:audit].present? ? params[:audit][:audited_date] : nil, class: "datepicker form-control"
    .col
      %label Audited By
      = select_tag "audit[user_id]", options_from_collection_for_select(@users, "id", "email", params[:audit].present? ? params[:audit][:code] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Customer
      = select_tag "audit[customer_id]", options_from_collection_for_select(@customers, "id", "name", params[:audit].present? ? params[:audit][:customer_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Received Date
      = text_field_tag "audit[received_date]", params[:audit].present? ? params[:audit][:received_date] : nil, class: "datepicker form-control"
    .col
      %label Received By
      = select_tag "audit[received_by]", options_from_collection_for_select(@workers, "name", "name", params[:audit].present? ? params[:audit][:received_by] : nil), include_blank: true, class: 'form-control select2'

  .form-group.row
    .col-md-12
      .float-right
        %a.btn.btn-default{href: "/admin/audits"} Reset
        = submit_tag 'Search', class: 'btn btn-secondary'

:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true,
      width: '100%'
    });
  });