= form_for([:admin, @audit]) do |f|
  .row
    .col-lg-8
      .ibox
        .ibox-title
          %h5 Audit Form
          .ibox-tools
            %a.collapse-link#form-audit
              %i.fa.fa-chevron-up
        .ibox-content.form-audit
          .form-group.row
            %label.col-sm-2.col-form-label Audit Code
            .col-sm-4
              = f.text_field :code, class: "form-control"
              %small.form-text.text-muted Leave Blank for Auto generated Code

            %label.col-sm-2.col-form-label Note
            .col-sm-4
              = f.text_area :note, class: "form-control"

          %hr
          .form-group.row
            %label.col-sm-2.col-form-label Purchase By
            .col-sm-4
              - if current_user.role.name == "admin"
                = f.select(:user_id, @users.collect {|a| [a.email, a.id]},  {include_blank: true, selected: current_user.id}, {class: 'select2 form-control'})
              - elsif current_user.role.name == "sales"
                = f.select(:user_id, @current_users.collect {|a| [a.email, a.id]},  {include_blank: true, selected: current_user.id}, {class: 'select2 form-control'})

            %label.col-sm-2.col-form-label Audited Date
            .col-sm-4
              = f.text_field :audited_date, class: "datepicker form-control"

          %hr
          .form-group.row
            %label.col-sm-2.col-form-label Customer
            .col-sm-4
              = f.select(:customer_id, @customers.collect {|c| [c.name, c.id]},  {include_blank: true}, {class: 'select2 form-control'})

            %label.col-sm-2.col-form-label Received Date
            .col-sm-4
              = f.text_field :received_date, class: "datepicker form-control"


          %hr
          .form-group.row
            %label.col-sm-2.col-form-label Received By
            .col-sm-4
              = f.select(:received_by, @workers.collect {|a| [a.name, a.name]},  {include_blank: true}, {class: 'select2 form-control'})

            %label.col-sm-2.col-form-label Audit Start
            .col-sm-4
              = f.text_field :audit_start, class: "datepicker form-control"

          %hr
          .form-group.row
            %label.col-sm-2.col-form-label No. of Items
            .col-sm-4
              = f.number_field :no_of_items, class: "form-control"

            %label.col-sm-2.col-form-label Received Note
            .col-sm-4
              = f.text_area :receive_note, class: "form-control"


          .clearfix-big
          .form-group.row
            .col-sm-12
              .float-right
                %a.btn.btn-white{href: "/admin/audits"} Cancel
                %button.btn.btn-primary{:type => "submit"} Save


    .col-lg-4
      .ibox
        .ibox-title
          %h5 Audit Items
          .ibox-tools
            %a.collapse-link#link-audit
              %i.fa.fa-chevron-up
        .ibox-content.link-audit
          .form-group.row
            .col-sm-12
              = f.select(:item_ids, @items.collect {|t| ["ID: #{t.id} #{t.sku.present? ? "- SKU: #{t.sku}" : nil }", t.id]},  {include_blank: true}, {multiple: true, class: 'form-control select2'})




:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });
  });
