.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Update Audit
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/audits"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/audits/#{@audit.id}"}= @audit.code
      %li.breadcrumb-item.active
        %strong Edit
  .col-lg-2

.wrapper.wrapper-content
  = render "form"