%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js", :type => "text/javascript"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js", :type => "text/javascript"}



.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Audits
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong LIST VIEW
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/audits/new'}
        %i.fa.fa-plus
        Add Audit

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link#audit-filter
              %i.fa.fa-chevron-up
        .ibox-content.audit-filter{class: "#{params[:audit].present? ? '' : 'collapse'}"}
          = render 'filter'

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Audit Lists
          .ibox-tools
            %a.collapse-link#audit-index
              %i.fa.fa-chevron-up
        .ibox-content.audit-index
          .table-responsive
            %table.table.table-bordered.table-hover#audit_dt
              %thead
                %tr
                  %th{width:"8%"} ID
                  %th Audit Code
                  %th{width: "12%"} Audit Start
                  %th # of Items
                  %th{width: "12%"} Audited Date
                  %th Audited By
                  %th Customer
                  %th{width: "12%"} Received Date
                  %th Received By
                  %th Received Note
                  %th Note
                
              %tbody
                - @audits.each do |audit|
                  %tr
                    %td= audit.id
                    %td
                      %a{href: "/admin/audits/#{audit.id}"}
                        = audit.code
                    %td= format_full_date(audit.audit_start)
                    %td= audit.no_of_items
                    %td= format_full_date(audit.audited_date)
                    %td= audit.user_id.present? ? audit.user.email : "NA"
                    %td= audit.customer_id.present? ? audit.customer.name : "NA"
                    %td= format_full_date(audit.received_date)
                    %td= audit.received_by
                    %td= audit.receive_note
                    %td= audit.note




:javascript
  $( document ).ready(function() {

    $('#audit_dt').dataTable({
      searching: false,
      paging: true,
      info: true,
      "order": [[ 1, "desc" ]],
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'print', {
                extend: 'pdf',
                orientation: 'landscape'
            }
      ]
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

  });