.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Audits
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong Audits
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-info.mr-3{href: '/admin/audits/lists'}
        %i.fa.fa-search
        Show Table

      %a.btn.btn-primary.mr-3{href: '/admin/audits/new'}
        %i.fa.fa-plus
        Add Audit

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          = render 'filter'

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Result
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          - if @result.present?
            - @result.each_with_index do |result, index|
              - i = index+1
              .card#result-box
                .card-header
                  .float-left
                    = i
                  .float-right
                    %a.btn.btn-primary.btn-xs{href: "/admin/audits/#{result.id}/edit"}
                      %i.fa.fa-edit
                      Edit
                .card-body
                  .form-group.row
                    %label.col-sm-2.col-form-label Audit Code
                    .col-sm-4
                      = text_field_tag "", result.code, class: "form-control", readonly: true
                    %label.col-sm-2.col-form-label Audit Date
                    .col-sm-4
                      = text_field_tag "", result.audited_date.present? ? format_full_date(result.audited_date) : "NA", class: "form-control", readonly: true

                  .form-group.row
                    %label.col-sm-2.col-form-label Audited By
                    .col-sm-4
                      = text_field_tag "", result.user.present? ? result.user.email : "NA", class: "form-control", readonly: true
                    %label.col-sm-2.col-form-label Asset Tag
                    .col-sm-4
                      = text_field_tag "", result.asset_tag.present? ? result.asset_tag : "NA", class: "form-control", readonly: true

                  .form-group.row
                    %label.col-sm-2.col-form-label Warehouse Tag
                    .col-sm-4
                      = text_field_tag "", result.warehouse_tag.present? ? result.warehouse_tag : "NA", class: "form-control", readonly: true
                    %label.col-sm-2.col-form-label Softchoice RMA #
                    .col-sm-4
                      = text_field_tag "", result.softchoice_rma_number.present? ? result.softchoice_rma_number : "NA", class: "form-control", readonly: true

                  .form-group.row
                    %label.col-sm-2.col-form-label Note
                    .col-sm-4
                      = text_area_tag "", result.note.present? ? result.note : "NA", class: "form-control", readonly: true
                    %label.col-sm-2.col-form-label ITEMS
                    .col-sm-4
                      - if Item.where(id: result.item_ids).present?
                        - item_sku = Item.where(id: result.item_ids).pluck(:sku)
                        = select_tag "", options_for_select(item_sku, item_sku), :include_blank => false, :multiple => true, class: "select2 form-control", disabled: true
                      - else
                        = "N/A"


          - else
            .alert.alert-secondary
              No Result



:javascript
  $( document ).ready(function() {
    $('#audit_dt').DataTable();
  });