.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Audits
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/audits"} Filter
      %li.breadcrumb-item.active
        %strong Audits
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/audits/new'}
        %i.fa.fa-plus
        Add Audit

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Audit Lists
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#audit_dt
              %thead
                %tr
                  %th #
                  %th Audit Code
                  %th Audited Date
                  %th Audited By
                  %th{width: "15%"}
              %tbody
                - @audits.each do |audit|
                  %tr
                    %td= audit.id
                    %td= audit.code
                    %td= format_full_date(audit.audited_date)
                    %td= audit.user.present? ? audit.user.email : "NA"

                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/audits/#{audit.id}/edit"}
                        %i.far.fa-edit
                      %a.btn.btn-xs{href: "/admin/audits/#{audit.id}"}
                        %i.far.fa-eye


:javascript
  $( document ).ready(function() {
    $('#audit_dt').DataTable();
  });