.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Create Audit
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/audits"} List View
      %li.breadcrumb-item.active
        %strong New
  .col-lg-2

.wrapper.wrapper-content
  = render "form"