.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Audit View
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/audits"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/audits/new"} Create New
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-4
    .clearfix-big
    .float-right
      %input.hidden#lastId{:value => @audit_first_id.id}
      %input.hidden#nextId{:value => @audit_last_id.id}

      %a.btn.btn-default.mr-3.prevItem{href: 'javascript:void(0)', id: @audit.id}
        %i.fa.fa-arrow-left
        PREV
      %a.btn.btn-default.mr-3.nextItem{href: 'javascript:void(0)', id: @audit.id}
        NEXT
        %i.fa.fa-arrow-right


.wrapper.wrapper-content
  .toast.hidden
    .toast-body
      #notif-message
      #redirect
        %i.fas.fa-circle-notch.fa-spin
        %span.ml-2
  .row
    .col-lg-12
      .ibox-content.m-b-sm.border-bottom
        .p-xs
          .float-right
            %a.btn.btn-white.mr-3.btn-default-outline.clone-record-only{:href => "javascript:void(0);", id: "#{@audit.id}"} Clone w/o Items
            %a.btn.btn-primary{:href => "/admin/audits/#{@audit.id}/edit"} Edit Audit
          .float-left.m-r-md
            %i.fas.fa-info-circle.text-navy.mid-icon.mr-5
          %h2= @audit.code
          %span Audit Code

  .clearfix-big
  .row
    .col-lg-12
      .tabs-container
        %ul.nav.nav-tabs{:role => "tablist"}
          %li
            %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1"} Details
          %li
            %a.nav-link{"data-toggle" => "tab", :href => "#tab-2"} Inventory Items

        .tab-content
          #tab-1.tab-pane.active
            .panel-body
              .clearfix
              .row
                .col-lg-12
                  .clearfix
                  %table.table.table-bordered
                    %tr
                      %th Audit ID
                      %td= @audit.id
                    %tr
                      %th Purchase By
                      %td= @audit.user.present? ? @audit.user.email : "NA"
                    %tr
                      %th Customer
                      %td= @audit.customer.present? ? @audit.customer.name : "NA"
                    %tr
                      %th Received By
                      %td= @audit.received_by.present? ? @audit.received_by : "NA"
                    %tr
                      %th Audited Date
                      %td= @audit.audited_date.present? ? format_full_date(@audit.audited_date) : "NA"
                    %tr
                      %th Audit Start
                      %td= @audit.audit_start.present? ? format_full_date(@audit.audit_start) : "NA"
                    %tr
                      %th Received Date
                      %td= @audit.received_date.present? ? format_full_date(@audit.received_date) : "NA"
                    %tr
                      %th No. of Items
                      %td= @audit.no_of_items
                    %tr
                      %th Note
                      %td= @audit.note
                    %tr
                      %th Received Note
                      %td= @audit.receive_note

          #tab-2.tab-pane
            .panel-body
              .clearfix
              .row
                .col-lg-12
                  .clearfix
                  %table.table.table-bordered.table-hover#audited_items_dt
                    %thead
                      %tr
                        %th{width:"8%"} ID
                        %th SKU
                        %th Vendor
                        %th
                    %tbody
                      - @audited_items.each do |item|
                        %tr
                          %td= item.id
                          %td= item.sku
                          %td
                            - if item.vendor_id.present?
                              - if item.vendor.name.present?
                                = item.vendor.name
                              - else
                                = item.vendor_id
                          %td
                            %a.btn.btn-xs{href: "/admin/items/#{item.id}"}
                              %i.far.fa-eye

  .clearfix-big                          
  .row
    .col-lg-4
      = link_to "Delete", admin_audit_path(@audit.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-block'
.clearfix-big

:javascript
  $( document ).ready(function() {

    var lastId = $("#lastId").val();
    if(lastId == "#{@audit.id}") {
      $('.prevItem').addClass( "disabled" );
    } else {
      $('.prevItem').removeClass( "disabled" );
    }

    var nextId = $("#nextId").val();
    if((nextId == "#{@audit.id}")) {
      $('.nextItem').addClass( "disabled" );
    } else {
      $('.nextItem').removeClass( "disabled" );
    }

    $('.prevItem').on('click', function (e) {
      var audit_id = $(this).attr('id');
      console.log(audit_id);

      $.ajax({
        type: "GET",
        url: "/admin/audits/get_prev_item",
        dataType: "json",
        data: {
          audit_id: audit_id
        },
        success: function(data) {
          window.location.href = "/admin/audits/"+data.id;
        }
      });

    });

    $('.nextItem').on('click', function (e) {
      var audit_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/audits/get_next_item",
        dataType: "json",
        data: {
          audit_id: audit_id
        },
        success: function(data) {
          window.location.href = "/admin/audits/"+data.id;
        }
      });

    });

    $('.clone-record-only').on('click', function (e) {
      var id = $(this).attr('id');
      $.ajax({
        type: "POST",
        url: "/admin/audits/clone",
        dataType: "json",
        data: {
          audit_id: id
        },
        success: function(data) {
          var notif = $('.toast');
          notif.removeClass('hidden');
          $('#notif-message').html('Successfully Duplicated.');
          $('#redirect span').html("Redirecting to Cloned Audit");
          setTimeout((function() {
            notif.addClass('hidden');
            window.location = "/admin/audits/"+data.id;
          }), 4000);
        }
      });
    });

  });
