.form-group.row
  %label.col-sm-4.col-form-label Note
  .col-sm-8
    
    = text_area_tag 'item_audit[note]', "#{@item_audit.present? ? @item_audit.note : nil}", class: "form-control"

.form-group.row
  %label.col-sm-4.col-form-label Weight (lbs)
  .col-sm-8
    %input#audit-weight.form-control{:name => "item_audit[weight]", :value => "#{@item_audit.present? ? @item_audit.weight : ''}"}

.form-group.row
  %label.col-sm-4.col-form-label Audited By
  .col-sm-8
    = select_tag "item_audit[user_id]", options_from_collection_for_select(@users, "id", "email", @item_audit.present? ? @item_audit.user_id : ''), include_blank: true, class: 'form-control'



.form-group.row
  %label.col-sm-4.col-form-label Date
  .col-sm-8
    %input#audit-date.datepicker.form-control{:name => "item_audit[audited_date]", :value => "#{@item_audit.present? ? @item_audit.audited_date : ''}"}

.form-group.row
  %label.col-sm-4.col-form-label Asset Tag
  .col-sm-8
    %input#asset-tag.form-control{:name => "item_audit[asset_tag]", :value => "#{@item_audit.present? ? @item_audit.asset_tag : ''}"}

.form-group.row
  %label.col-sm-4.col-form-label Warehouse Tag
  .col-sm-8
    %input#warehouse-tag.form-control{:name => "item_audit[warehouse_tag]", :value => "#{@item_audit.present? ? @item_audit.warehouse_tag : ''}"}

.form-group.row
  %label.col-sm-4.col-form-label Softchoice RMA #
  .col-sm-8
    %input#softchoice-rma.form-control{:name => "item_audit[softchoice_rma_number]", :value => "#{@item_audit.present? ? @item_audit.softchoice_rma_number : ''}"}


