.form-group.row
  .col
    %label Bootable?
    = select_tag("item_category[bootable]", options_for_select([['Yes', true], ['No', false]], {:selected => spec.present? ? spec.bootable : nil }), :prompt => "Select", class: 'form-control disabled')
  .col
    %label Processor
    = text_field_tag "item_category[processor]", spec.present? ? spec.processor : nil, class: 'form-control disabled'
  .col
    %label Speed
    = text_field_tag "item_category[speed]", spec.present? ? spec.speed : nil, class: 'form-control disabled'
  .col
    %label Hard Disk
    = text_field_tag "item_category[hard_disk]", spec.present? ? spec.hard_disk : nil, class: 'form-control disabled'
  .col
    %label Ram
    = text_field_tag "item_category[ram]", spec.present? ? spec.ram : nil, class: 'form-control disabled'
  .col
    %label Video Card
    = text_field_tag "item_category[video_card]", spec.present? ? spec.video_card : nil, class: 'form-control disabled'

.form-group.row
  .col
    %label NIC
    = text_field_tag "item_category[nic]", spec.present? ? spec.nic : nil, class: 'form-control disabled'
  .col
    %label CD Drive
    = text_field_tag "item_category[nic]", spec.present? ? spec.cd_drive : nil, class: 'form-control disabled'
  .col
    %label COA
    = text_field_tag "item_category[nic]", spec.present? ? spec.coa : nil, class: 'form-control disabled'
  .col
    %label Carrier
    = text_field_tag "item_category[nic]", spec.present? ? spec.carrier : nil, class: 'form-control disabled'
  .col
    %label Memory Slot
    = text_field_tag "item_category[nic]", spec.present? ? spec.memory_slot : nil, class: 'form-control disabled'
  .col
    %label Memory Type
    = text_field_tag "item_category[memory_type]", spec.present? ? spec.memory_type : nil, class: 'form-control disabled'


