%table.table.table-bordered
  %tr
    %th{width: "30%"}
    %td.text-center{colspan:"2"}
      .text-primary= "#{@item.category.name.upcase} Specifications"
  %tr
    %th{width: "30%"} Is Bootable?
    %td.text-center= @item_category.bootable
  %tr
    %th{width: "30%"} Processor
    %td.text-center= @item_category.processor
  %tr
    %th{width: "30%"} Speed
    %td.text-center= @item_category.speed
  %tr
    %th{width: "30%"} Hard Disk
    %td.text-center= @item_category.hard_disk
  %tr
    %th{width: "30%"} RAM
    %td.text-center= @item_category.ram
  %tr
    %th{width: "30%"} Video Card
    %td.text-center= @item_category.video_card
  %tr
    %th{width: "30%"} NIC
    %td.text-center= @item_category.nic
  %tr
    %th{width: "30%"} CD Drive
    %td.text-center= @item_category.cd_drive
  %tr
    %th{width: "30%"} COA
    %td.text-center= @item_category.coa
  %tr
    %th{width: "30%"} Memory Slots
    %td.text-center= @item_category.memory_slot
  %tr
    %th{width: "30%"} Memory Type
    %td.text-center= @item_category.memory_type
  %tr
    %th{width: "30%"} Carrier
    %td.text-center= @item_category.carrier