= form_tag lists_admin_items_path, method: :get do
  .form-group.row
    .col-md-1
      %label ID
      = text_field_tag "item[id]", params[:item].present? ? params[:item][:id] : nil, class: "form-control"
    .col-md-1
      %label PO #
      = select_tag "item[purchase_order_id]", options_from_collection_for_select(@purchase_orders, "id", "id", params[:item].present? ? params[:item][:purchase_order_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Audit
      = select_tag "item[audit_id]", options_from_collection_for_select(@audits, "id", "code", params[:item].present? ? params[:item][:audit_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Part #
      = text_field_tag "item[part_number]", params[:item].present? ? params[:item][:part_number] : nil, class: "form-control upper"
    .col
      %label HDD
      = text_field_tag "item[hdd_serial]", params[:item].present? ? params[:item][:hdd_serial] : nil, class: "form-control upper"
    .col
      %label Status
      = select_tag "item[status_id]", options_from_collection_for_select(@statuses, "id", "name", params[:item].present? ? params[:item][:status_id] : nil), class: 'form-control select2'
    .col
      %label Condition
      = select_tag "item[condition_type_id]", options_from_collection_for_select(@condition_types, "id", "name", params[:item].present? ? params[:item][:condition_type_id] : nil), include_blank: true, class: 'form-control select2'
    .col-md-1
      %label Processor
      = text_field_tag "item_category[processor]", params[:item_category].present? ? params[:item_category][:processor] : nil, class: "form-control"


  .form-group.row
    .col
      %label Make
      = select_tag "item[maker_id]", options_from_collection_for_select(@makes, "id", "name", params[:item].present? ? params[:item][:maker_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Model
      = select_tag "item[maker_model_id]", options_from_collection_for_select(@maker_models, "id", "name", params[:item].present? ? params[:item][:maker_model_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Category
      = select_tag "item[category_id]", options_from_collection_for_select(@categories, "id", "name", params[:item].present? ? params[:item][:category_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Sub Category
      = select_tag "item[sub_category_id]", options_from_collection_for_select(@subcategories, "id", "name", params[:item].present? ? params[:item][:sub_category_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Location
      = select_tag "item[warehouse_id]", options_from_collection_for_select(@warehouses, "id", "name", params[:item].present? ? params[:item][:warehouse_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Grade
      = select_tag "item[grade_id]", options_from_collection_for_select(@grades, "id", "name", params[:item].present? ? params[:item][:grade_id] : nil), include_blank: true, class: 'form-control select2'
    .col-md-1
      %label RAM
      = text_field_tag "item_category[ram]", params[:item_category].present? ? params[:item_category][:ram] : nil, class: "form-control"


  .clearfix-sm
  %hr
  .form-group.row
    .col-md-12
      .float-right
        %a.btn.btn-default{href: "/admin/items/lists"} Reset
        = submit_tag 'Search', class: 'btn btn-secondary'

:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true,
      width: '100%'
    });

  });