= text_field_tag :item_id, @item.present? ? @item.id : nil,  class: 'form-control hidden'
.form-group.row
  %label.col-sm-2.col-form-label SKU
  .col-sm-6
    = f.text_field :sku, class: 'form-control'

  .col-sm-4
    %a.btn.btn-default-outline.btn-xs.ml-3#generate-sku{href:"javascript:void(0)"} Generate SKU
    - if @item.new_record?
      %a.btn.btn-secondary.btn-xs.ml-3{ href: "javascript:void(0);", "data-target" => "#audtiModal", "data-toggle" => "modal" } Add Audit
    - else
      - if @item.audit_id.present?
        %a.btn.btn-secondary.btn-xs.ml-3{ href: "javascript:void(0);"}
          = @audit.present? ? "#{@audit.code}" : "-"
      - else
        %a.btn.btn-secondary.btn-xs.ml-3{ href: "javascript:void(0);", "data-target" => "#audtiModal", "data-toggle" => "modal" }
          = @audit.present? ? "#{@audit.code}" : "Add Audit"

.form-group.row
  %label.col-sm-2.col-form-label Part Number
  .col-sm-6
    = f.text_field :part_number, class: 'form-control upper'


%hr
.form-group.row
  %label.col-sm-2.col-form-label Make
  .col-sm-4
    = f.select(:maker_id, @makes.collect {|m| [m.name, m.id]}, {include_blank: true}, {class: 'form-control select2-create required'})
  %label.col-sm-2.col-form-label Model
  .col-sm-4
    - if @item.new_record?
      = f.select(:maker_model_id, options_for_select([]), {include_blank: true}, class: 'form-control select2-create' )
    - else
      = f.select(:maker_model_id, @models.collect {|m| [m.name, m.id]}, {include_blank: true}, {class: 'form-control select2-create'})


.form-group.row
  %label.col-sm-2.col-form-label Category
  .col-sm-4
    = f.select(:category_id, @categories.collect {|c| [c.name, c.id]},  {include_blank: true}, {class: 'form-control select2'})
  %label.col-sm-2.col-form-label Sub Category
  .col-sm-4
    - if @item.new_record?
      = f.select(:sub_category_id, options_for_select([]), {include_blank: true}, class: 'form-control select2-create' )
    - else
      = f.select(:sub_category_id, @sub_categories.collect {|m| [m.name, m.id]}, {include_blank: true}, {class: 'form-control select2-create'})

%hr
.form-group.row
  %label.col-sm-2.col-form-label Serial
  .col-sm-4
    = f.text_field :serial, class: 'form-control upper'
  %label.col-sm-2.col-form-label HDD Serial
  .col-sm-4
    = f.text_field :hdd_serial, class: 'form-control upper'
%hr
.form-group.row
  %label.col-sm-2.col-form-label Status
  .col-sm-4
    - if @item.new_record?
      = f.select(:status_id, options_for_select(@statuses.map {|s| [s.name, s.id]}, @item.status_id.present? ? @item.status_id : nil), {include_blank: false}, class: 'form-control' )
    - else
      - if @item.status_id.present?
        - if @item.status.name == "Assigned"
          = f.select(:status_id, options_for_select(@assigned_statuses.map {|s| [s.name, s.id]}, @item.status_id.present? ? @item.status_id : nil), {include_blank: false}, class: 'form-control' )
        - else
          = f.select(:status_id, options_for_select(@statuses.map {|s| [s.name, s.id]}, @item.status_id.present? ? @item.status_id : nil), {include_blank: false}, class: 'form-control' )
      - else
        = f.select(:status_id, options_for_select(@statuses.map {|s| [s.name, s.id]}, @item.status_id.present? ? @item.status_id : nil), {include_blank: false}, class: 'form-control' )
  %label.col-sm-2.col-form-label Condition
  .col-sm-4
    = f.select(:condition_type_id, options_for_select(@condition_types.map {|ct| [ct.name, ct.id]}, @item.condition_type_id.present? ? @item.condition_type_id : nil), {include_blank: true}, class: 'form-control' )
%hr
.form-group.row
  %label.col-sm-2.col-form-label Description
  .col-sm-4
    = f.text_area :description, class: 'form-control', required: true
  %label.col-sm-2.col-form-label Vendor
  .col-sm-4
    = f.select(:vendor_id, @vendors.collect {|s| [s.name, s.id]},  {include_blank: true, selected: f.object.vendor_id}, {class: 'form-control select2-create'})

%hr

.form-group.row
  %label.col-sm-1.col-form-label LOC.
  .col-sm-3
    = f.select(:warehouse_id, @warehouses.collect {|w| [w.name, w.id]},  {include_blank: true, selected: f.object.warehouse_id}, {class: 'form-control select2-create'})
  %label.col-sm-1.col-form-label Grade
  .col-sm-3
    = f.select(:grade_id, @grades.collect {|g| [g.name, g.id]},  {include_blank: true, selected: f.object.grade_id}, {class: 'form-control select2-create'})
  %label.col-sm-1.col-form-label QTY
  .col-sm-3
    = f.number_field :qty, class: 'form-control', required: true


%hr
.form-group.row
  %label.col-sm-1.col-form-label Cost
  .col-sm-3
    = f.text_field :cost, class: 'form-control'
  %label.col-sm-1.col-form-label Addson
  .col-sm-3
    = f.text_field :cost_of_addons, class: 'form-control'
  %label.col-sm-1.col-form-label Freight
  .col-sm-3
    = f.text_field :cost_of_freight, class: 'form-control'
%hr
.form-group.row
  %label.col-sm-1.col-form-label PO
  .col-sm-2
    = text_field_tag "purchase_order", @item.purchase_order_id.present? ? @item.purchase_order_id : nil, class: 'form-control disabled', readonly: true
  %label.col-sm-1.col-form-label Quote
  .col-sm-2
    = text_field_tag "quote", @item.quote_id.present? ? @item.quote_id : nil, class: 'form-control disabled', readonly: true
  %label.col-sm-1.col-form-label Order
  .col-sm-2
    = text_field_tag "order", @item.order_id.present? ? @item.order_id : nil, class: 'form-control disabled', readonly: true
  %label.col-sm-1.col-form-label Audit
  .col-sm-2
    = text_field_tag "audit[code]", @audit.nil? ? "" : @audit.code,  class: 'form-control disabled', readonly: true
    = f.hidden_field :audit_id, class: 'form-control disabled'

#alertModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        %h4 Warning
        %hr
        %p
          For Notebook, Server and System
          %br
          Category, Make, Model, Processor, Hard Disk and Ram can't be blank.
        %p
          For Monitor
          %br
          Category, Make, Model, Size and Color can't be blank.
        %p
          For Printer
          %br
          Category, Make, Model and Ram
        %br
        %p Leave blank if you want to edit later.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


:javascript
  $( document ).ready(function() {

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true
    })
    $(".select2-create").select2({
      tags: true
    });

    $('#item_maker_id').change(function() {
      var id = $(this).val();
      return $.ajax({
        type: "GET",
        url: "/admin/items/update_maker_model",
        data: {
          maker_id: id
        }
      });
    });

    $('#item_category_id').change(function() {
      var id = $(this).val();
      var device = $("#item_category_id option:selected").text();
      var item_id = $("#item_id").val();
      var setId = device.toLowerCase() + "-form";
      $(".deviceForm")[0].setAttribute("id", setId);
      $('#item-device-form').removeClass('hidden');
      $('#device-chosen').html(device);


      $.ajax({
        type: "GET",
        url: "/admin/items/set_device",
        data: {
          name: device.toLowerCase(),
          category_id: id,
          item_id: item_id
        }
      });

      return $.ajax({
        type: "GET",
        url: "/admin/items/update_sub_category",
        data: {
          category_id: id
        }
      });
    });

    $("#generate-sku").on('click', function (e) {
      var cat = $("#item_category_id option:selected").text();
      var make = $("#item_maker_id option:selected").text();
      var model = $("#item_maker_model_id option:selected").text();
      var processor = $("#item_category_processor").val();
      var hd = $("#item_category_hard_disk").val();
      var ram = $("#item_category_ram").val();
      var size = $("#item_category_size").val();
      var color = $("#item_category_color").val();
      var screen_size = $("#item_category_screen_size").val();
      var memory_slot = $("#item_category_memory_slot").val();
      
      if((cat == "Desktop") || (cat == "Server") || (cat == "System") || (cat == "Laptop")) {
        if(cat && make && model && processor && hd && ram) {
          var sku_1 = cat.substring(0, 2).toUpperCase();
          var sku_2 = make.substring(0, 2).toUpperCase();
          var sku_3 = model.toUpperCase().replace(/ /g,'');
          var sku_4 = processor.replace(/ /g,'');
          var sku_5 = hd.replace ( /[^\d.]/g, '' );
          var sku_6 = ram.replace ( /[^\d.]/g, '' );

          var item_sku = sku_1+"-"+sku_2+"-"+sku_3+sku_4+"-"+sku_5+sku_6;
          $("#item_sku").val(item_sku);

        } else {
          $('#alertModal').modal('show');
        }
      } else if (cat == "Portable") {
        if(cat && make && model && ram && screen_size && memory_slot) {
          var sku_1 = cat.substring(0, 2).toUpperCase();
          var sku_2 = make.substring(0, 2).toUpperCase();
          var sku_3 = model.toUpperCase().replace(/ /g,'');
          var sku_4 = ram.replace(/ /g,'');
          var sku_5 = screen_size.replace(/ /g,'');
          var sku_6 = memory_slot.replace(/ /g,'');

          var item_sku = sku_1+"-"+sku_2+"-"+sku_3+sku_4+sku_5+sku_6;
          $("#item_sku").val(item_sku);

        } else {
          $('#alertModal').modal('show');
        }
      } else if ( cat == "Printer" ){
        if(cat && make && model && ram ) {
          var sku_1 = cat.substring(0, 2).toUpperCase();
          var sku_2 = make.substring(0, 2).toUpperCase();
          var sku_3 = model.toUpperCase().replace(/ /g,'');
          var sku_4 = ram.replace(/ /g,'');

          var item_sku = sku_1+"-"+sku_2+"-"+sku_3+sku_4;
          $("#item_sku").val(item_sku);

        } else {
          $('#alertModal').modal('show');
        }
      } else if ( cat == "Monitor") {
        if(cat && make && model && size && color ) {
          var sku_1 = cat.substring(0, 2).toUpperCase();
          var sku_2 = make.substring(0, 2).toUpperCase();
          var sku_3 = model.toUpperCase().replace(/ /g,'');
          var sku_4 = size.replace(/ /g,'');
          var sku_5 = color.replace(/ /g,'').toUpperCase();

          var item_sku = sku_1+"-"+sku_2+"-"+sku_3+"-"+sku_4+"-"+sku_5;
          $("#item_sku").val(item_sku);

        } else {
          $('#alertModal').modal('show');
        }
      } else {
        $('#alertModal').modal('show');
      }


    });

  });