#itemEditModal.modal.fade{"aria-hidden" => "true", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    = form_for([:admin, @item]) do |f|
      = hidden_field_tag "editable", value: true
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title ITEM EDIT
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×

        .modal-body
          .form-group.row
            .col-sm-3
              %label Part Number
              = f.text_field :part_number, class: 'form-control'
            .col-sm-3
              %label Make
              = f.select(:maker_id, makes.collect {|m| [m.name, m.id]}, {include_blank: true}, {class: 'form-control select2-create disabled'})
            .col-sm-3
              %label Model
              = f.select(:maker_model_id, models.collect {|m| [m.name, m.id]}, {include_blank: true}, {class: 'form-control select2-create disabled'})

          .form-group.row
            .col-sm-3
              %label Categories
              = f.select(:category_id, categories.collect {|c| [c.name, c.id]},  {include_blank: true}, {class: 'form-control select2 disabled'})
            .col-sm-3
              %label Sub Categories
              = f.select(:sub_category_id, sub_categories.collect {|m| [m.name, m.id]}, {include_blank: true}, {class: 'form-control select2-create disabled'})
            .col-sm-3
              %label Serial
              = f.text_field :serial, class: 'form-control'
            .col-sm-3
              %label HDD Serial
              = f.text_field :hdd_serial, class: 'form-control'

          .form-group.row
            .col-sm-3
              %label Staus
              = f.select(:status_id, options_for_select(statuses.map {|s| [s.name, s.id]}, @item.status_id.present? ? @item.status_id : nil), {include_blank: true}, class: 'form-control' )
            .col-sm-3
              %label Condition
              = f.select(:condition_type_id, options_for_select(condition_types.map {|ct| [ct.name, ct.id]}, @item.condition_type_id.present? ? @item.condition_type_id : nil), {include_blank: true}, class: 'form-control' )
            .col-sm-3
              %label Grade
              = f.select(:grade_id, grades.collect {|g| [g.name, g.id]},  {include_blank: true, selected: f.object.grade_id}, {class: 'form-control select2-create'})
            .col-sm-3
              %label LOC.
              = f.select(:warehouse_id, warehouses.collect {|w| [w.name, w.id]},  {include_blank: true, selected: f.object.warehouse_id}, {class: 'form-control select2-create'})

          .form-group.row
            .col-sm-3
              %label QTY
              = f.text_field :qty, class: 'form-control'
            .col-sm-3
              %label Cost
              = f.text_field :cost, class: 'form-control'
            .col-sm-3
              %label Cost of Addson
              = f.text_field :cost_of_addons, class: 'form-control'
            .col-sm-3
              %label Cost of Freight
              = f.text_field :cost_of_freight, class: 'form-control'

          .form-group.row
            .col
              %label Vendor
              = f.select(:vendor_id, vendors.collect {|s| [s.name, s.id]},  {include_blank: true, selected: f.object.vendor_id}, {class: 'form-control select2-create'})
            .col
              %label Description
              = f.text_field :description, class: 'form-control'


        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary{:type => "submit"} Save changes

:javascript
  $( document ).ready(function() {
    $('#itemEditModal').modal('show');
  });
