%table.table.table-bordered
  %tr
    %th{width: "30%"}
    %td.text-center{colspan:"2"}
      .text-primary= "#{@item.category.name.upcase} Specifications"

  %tr
    %th{width: "30%"} Is Bootable?
    %td.text-center= @item_category.bootable
  %tr
    %th{width: "30%"} Processor
    %td.text-center= @item_category.processor
  %tr
    %th{width: "30%"} Speed
    %td.text-center= @item_category.speed
  %tr
    %th{width: "30%"} Hard Disk
    %td.text-center= @item_category.hard_disk
  %tr
    %th{width: "30%"} RAM
    %td.text-center= @item_category.ram
  %tr
    %th{width: "30%"} Screen Size
    %td.text-center= @item_category.screen_size
  %tr
    %th{width: "30%"} Screen Type
    %td.text-center= @item_category.screen_type
  %tr
    %th{width: "30%"} NIC
    %td.text-center= @item_category.nic
  %tr
    %th{width: "30%"} CD Drive
    %td.text-center= @item_category.cd_drive
  %tr
    %th{width: "30%"} Modem
    %td.text-center= @item_category.modem
  %tr
    %th{width: "30%"} Wireless
    %td.text-center= @item_category.wireless
  %tr
    %th{width: "30%"} Memory Slots
    %td.text-center= @item_category.memory_slot
  %tr
    %th{width: "30%"} Memory Type
    %td.text-center= @item_category.memory_type
  %tr
    %th{width: "30%"} Floppy
    %td.text-center= @item_category.floppy
  %tr
    %th{width: "30%"} OS
    %td.text-center= @item_category.os