%table.table.table-bordered
  %tr
    %th{width: "30%"}
    %td.text-center{colspan:"2"}
      .text-primary= "#{@item.category.name.upcase} Specifications"
  %tr
    %th{width: "30%"} Type
    %td.text-center= @item_category.d_type
  %tr
    %th{width: "30%"} Size
    %td.text-center= @item_category.size
  %tr
    %th{width: "30%"} Man. Date
    %td.text-center= format_full_date(@item_category.manufacture_date)
  %tr
    %th{width: "30%"} Color
    %td.text-center= @item_category.color

