.form-group.row
  %label.col-sm-4.col-form-label Type
  .col-sm-8
    = text_field_tag "item_category[d_type]", @item_category.present? ? @item_category.d_type : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Size
  .col-sm-8
    = text_field_tag "item_category[size]", @item_category.present? ? @item_category.size : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Man. Date
  .col-sm-8
    = text_field_tag "item_category[manufacture_date]", @item_category.present? ? @item_category.manufacture_date : nil, class: 'form-control datepicker'
.form-group.row
  %label.col-sm-4.col-form-label Color
  .col-sm-8
    = text_field_tag "item_category[color]", @item_category.present? ? @item_category.color : nil, class: 'form-control', require: true


:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('.save-item-btn').click(function(e){
      e.preventDefault();
      var size = $("#item_category_size").val();
      var color = $("#item_category_color").val();

      if((color != "") && (size !="")) {
        $('.edit_item').submit();
      } else {
        $("#item_category_color").addClass("red-error");
        $("#item_category_size").addClass("red-error");
        return false;
      }
    });

    $('.saving-btn').click(function(e){
      e.preventDefault();
      var size = $("#item_category_size").val();
      var color = $("#item_category_color").val();

      if((color != "") && (size !="")) {
        $('.new_item').submit();
      } else {
        $("#item_category_color").addClass("red-error");
        $("#item_category_size").addClass("red-error");
        return false;
      }
    });

  });