.form-group.row
  .col
    %label Type
    = text_field_tag "item_category[d_type]", spec.present? ? spec.d_type : nil, class: 'form-control disabled'
  .col
    %label Size
    = text_field_tag "item_category[size]", spec.present? ? spec.size : nil, class: 'form-control disabled'

  .col
    %label Manufacture Date
    = text_field_tag "item_category[manufacture_date]", spec.present? ? format_full_date(spec.manufacture_date) : nil, class: 'form-control datepicker disabled'

  .col
    %label Color
    = text_field_tag "item_category[color]", spec.present? ? spec.color : nil, class: 'form-control disabled'
