.form-group.row
  .col
    %label Is Bootable?
    = select_tag("item_category[bootable]", options_for_select([['Yes', true], ['No', false]], {:selected => spec.present? ? spec.bootable : nil }), :prompt => "Select", class: 'form-control disabled')
  .col
    %label Processor
    = text_field_tag "item_category[processor]", spec.present? ? spec.processor : nil, class: 'form-control disabled'
  .col
    %label Speed
    = text_field_tag "item_category[speed]", spec.present? ? spec.speed : nil, class: 'form-control disabled'
  .col
    %label Hard Disk
    = text_field_tag "item_category[hard_disk]", spec.present? ? spec.hard_disk : nil, class: 'form-control disabled'
  .col
    %label Ram
    = text_field_tag "item_category[ram]", spec.present? ? spec.ram : nil, class: 'form-control disabled'
  .col
    %label Screen Size
    = text_field_tag "item_category[screen_size]", spec.present? ? spec.screen_size : nil, class: 'form-control disabled'

.form-group.row
  .col
    %label Screen Type
    = text_field_tag "item_category[screen_type]", spec.present? ? spec.screen_type : nil, class: 'form-control disabled'
  .col
    %label NIC
    = text_field_tag "item_category[nic]", spec.present? ? spec.nic : nil, class: 'form-control disabled'
  .col
    %label CD Drive
    = text_field_tag "item_category[cd_drive]", spec.present? ? spec.cd_drive : nil, class: 'form-control disabled'
  .col
    %label Modem
    = text_field_tag "item_category[modem]", spec.present? ? spec.modem : nil, class: 'form-control disabled'
  .col
    %label Wireless
    = text_field_tag "item_category[wireless]", spec.present? ? spec.wireless : nil, class: 'form-control disabled'
  .col
    %label Memory Slot
    = text_field_tag "item_category[memory_slot]", spec.present? ? spec.memory_slot : nil, class: 'form-control disabled'

.form-group.row
  .col
    %label Memory Type
    = text_field_tag "item_category[memory_type]", spec.present? ? spec.memory_type : nil, class: 'form-control disabled'
  .col
    %label Floppy
    = text_field_tag "item_category[floppy]", spec.present? ? spec.floppy : nil, class: 'form-control disabled'
  .col
    %label OS
    = text_field_tag "item_category[os]", spec.present? ? spec.os : nil, class: 'form-control disabled'


