.form-group.row
  %label.col-sm-4.col-form-label Is Bootable?
  .col-sm-8
    = select_tag("item_category[bootable]", options_for_select([['Yes', true], ['No', false]], {:selected => @item_category.present? ? @item_category.bootable : nil }), :prompt => "Select", class: 'form-control')

.form-group.row
  %label.col-sm-4.col-form-label Processor
  .col-sm-8
    = text_field_tag "item_category[processor]", @item_category.present? ? @item_category.processor : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Speed
  .col-sm-8
    = text_field_tag "item_category[speed]", @item_category.present? ? @item_category.speed : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Hard Disk
  .col-sm-8
    = text_field_tag "item_category[hard_disk]", @item_category.present? ? @item_category.hard_disk : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Ram
  .col-sm-8
    = text_field_tag "item_category[ram]", @item_category.present? ? @item_category.ram : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Screen Size
  .col-sm-8
    = text_field_tag "item_category[screen_size]", @item_category.present? ? @item_category.screen_size : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Screen Type
  .col-sm-8
    = text_field_tag "item_category[screen_type]", @item_category.present? ? @item_category.screen_type : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label NIC
  .col-sm-8
    = text_field_tag "item_category[nic]", @item_category.present? ? @item_category.nic : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label CD Drive
  .col-sm-8
    = text_field_tag "item_category[cd_drive]", @item_category.present? ? @item_category.cd_drive : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Modem
  .col-sm-8
    = text_field_tag "item_category[modem]", @item_category.present? ? @item_category.modem : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Wireless
  .col-sm-8
    = text_field_tag "item_category[wireless]", @item_category.present? ? @item_category.wireless : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Memory Slot
  .col-sm-8
    = text_field_tag "item_category[memory_slot]", @item_category.present? ? @item_category.memory_slot : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Memory Type
  .col-sm-8
    = text_field_tag "item_category[memory_type]", @item_category.present? ? @item_category.memory_type : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Floppy
  .col-sm-8
    = text_field_tag "item_category[floppy]", @item_category.present? ? @item_category.floppy : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label OS
  .col-sm-8
    = text_field_tag "item_category[os]", @item_category.present? ? @item_category.os : nil, class: 'form-control'

:javascript
  $(document).ready(function() {

    $('.save-item-btn').click(function(e){
      e.preventDefault();
      var p = $("#item_category_processor").val();
      var h = $("#item_category_hard_disk").val();
      var r = $("#item_category_ram").val();

      if((p != "") && (h != "") && (r != "")) {
        $('.edit_item').submit();
      } else {
        $("#item_category_processor").addClass("red-error");
        $("#item_category_hard_disk").addClass("red-error");
        $("#item_category_ram").addClass("red-error");
        return false;
      }
    });

    $('.saving-btn').click(function(e){
      e.preventDefault();
      var p = $("#item_category_processor").val();
      var h = $("#item_category_hard_disk").val();
      var r = $("#item_category_ram").val();

      if((p != "") && (h != "") && (r != "")) {
        $('.new_item').submit();
      } else {
        $("#item_category_processor").addClass("red-error");
        $("#item_category_hard_disk").addClass("red-error");
        $("#item_category_ram").addClass("red-error");
        return false;
      }
    });

  });
