.form-group.row
  %label.col-sm-4.col-form-label Processor
  .col-sm-8
    = text_field_tag "item_category[processor]", @item_category.present? ? @item_category.processor : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Ram
  .col-sm-8
    = text_field_tag "item_category[ram]", @item_category.present? ? @item_category.ram : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Screen Size
  .col-sm-8
    = text_field_tag "item_category[screen_size]", @item_category.present? ? @item_category.screen_size : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Memory Slot
  .col-sm-8
    = text_field_tag "item_category[memory_slot]", @item_category.present? ? @item_category.memory_slot : nil, class: 'form-control'

:javascript
  $(document).ready(function() {

    $('.save-item-btn').click(function(e){
      e.preventDefault();
      var p = $("#item_category_processor").val();
      var h = $("#item_category_screen_size").val();
      var r = $("#item_category_ram").val();
      var m = $("#item_category_memory_slot").val();

      if((p != "") && (h != "") && (r != "") && (m != "")) {
        $('.edit_item').submit();
      } else {
        $("#item_category_processor").addClass("red-error");
        $("#item_category_screen_size").addClass("red-error");
        $("#item_category_ram").addClass("red-error");
        $("#item_category_memory_slot").addClass("red-error");
        return false;
      }
    });

    $('.saving-btn').click(function(e){
      e.preventDefault();
      var p = $("#item_category_processor").val();
      var h = $("#item_category_screen_size").val();
      var r = $("#item_category_ram").val();
      var m = $("#item_category_memory_slot").val();

      if((p != "") && (h != "") && (r != "") && (m != "")) {
        $('.new_item').submit();
      } else {
        $("#item_category_processor").addClass("red-error");
        $("#item_category_screen_size").addClass("red-error");
        $("#item_category_ram").addClass("red-error");
        $("#item_category_memory_slot").addClass("red-error");
        return false;
      }
    });

  });
