%table.table.table-bordered
  %tr
    %th{width: "30%"}
    %td.text-center{colspan:"2"}
      .text-primary= "#{@item.category.name.upcase} Specifications"
  %tr
    %th{width: "30%"} Processor
    %td.text-center= @item_category.processor
  %tr
    %th{width: "30%"} RAM
    %td.text-center= @item_category.ram
  %tr
    %th{width: "30%"} Screen Size
    %td.text-center= @item_category.screen_size
  %tr
    %th{width: "30%"} Memory Slots
    %td.text-center= @item_category.memory_slot