.form-group.row
  .col
    %label Processor
    = text_field_tag "item_category[processor]", spec.present? ? spec.processor : nil, class: 'form-control disabled'
  .col
    %label Ram
    = text_field_tag "item_category[ram]", spec.present? ? spec.ram : nil, class: 'form-control disabled'
  .col
    %label Screen Size
    = text_field_tag "item_category[screen_size]", spec.present? ? spec.screen_size : nil, class: 'form-control disabled'
  .col
    %label Memory Slot
    = text_field_tag "item_category[memory_slot]", spec.present? ? spec.memory_slot : nil, class: 'form-control disabled'
