.form-group.row
  %label.col-sm-4.col-form-label Type
  .col-sm-8
    = text_field_tag "item_category[d_type]", @item_category.present? ? @item_category.d_type : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Speed
  .col-sm-8
    = text_field_tag "item_category[speed]", @item_category.present? ? @item_category.speed : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Ram
  .col-sm-8
    = text_field_tag "item_category[ram]", @item_category.present? ? @item_category.ram : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label NIC
  .col-sm-8
    = text_field_tag "item_category[nic]", @item_category.present? ? @item_category.nic : nil, class: 'form-control'


.form-group.row
  %label.col-sm-4.col-form-label Page Count
  .col-sm-8
    = text_field_tag "item_category[page_count]", @item_category.present? ? @item_category.page_count : nil, class: 'form-control'

:javascript
  $(document).ready(function() {

    $('.save-item-btn').click(function(e){
      e.preventDefault();
      var ram = $("#item_category_ram").val();

      if(ram != "") {
        $('.edit_item').submit();
      } else {
        $("#item_category_ram").addClass("red-error");
        return false;
      }
    });

    $('.saving-btn').click(function(e){
      e.preventDefault();
      var ram = $("#item_category_ram").val();

      if(ram != "") {
        $('.new_item').submit();
      } else {
        $("#item_category_ram").addClass("red-error");
        return false;
      }
    });

  });