%table.table.table-bordered
  %tr
    %th{width: "30%"}
    %td.text-center{colspan:"2"}
      .text-primary= "#{@item.category.name.upcase} Specifications"

  %tr
    %th{width: "30%"} Type
    %td.text-center= @item_category.d_type
  %tr
    %th{width: "30%"} Speed
    %td.text-center= @item_category.speed
  %tr
    %th{width: "30%"} RAM
    %td.text-center= @item_category.ram
  %tr
    %th{width: "30%"} NIC
    %td.text-center= @item_category.nic
  %tr
    %th{width: "30%"} Page Count
    %td.text-center= @item_category.page_count

