.form-group.row
  .col
    %label Type
    = text_field_tag "item_category[d_type]", spec.present? ? spec.d_type : nil, class: 'form-control disabled'
  .col
    %label Speed
    = text_field_tag "item_category[speed]", spec.present? ? spec.speed : nil, class: 'form-control disabled'
  .col
    %label Ram
    = text_field_tag "item_category[ram]", spec.present? ? spec.ram : nil, class: 'form-control disabled'
  .col
    %label NIC
    = text_field_tag "item_category[nic]", spec.present? ? spec.nic : nil, class: 'form-control disabled'
  .col
    %label Page Count
    = text_field_tag "item_category[page_count]", spec.present? ? spec.page_count : nil, class: 'form-control disabled'
