.card#result-box
  .card-header
    .float-left
      %a.btn.btn-default-outline.btn-xs{href: "/admin/items/#{result.id}"}
        %i.fa.fa-search
      - if result.purchase_order_id.present?
        %a.btn.btn-xs.ml-3{href:"javascript:void(0)"}
          = "(PO) ITEM SKU: #{result.purchase_order_item_sku}"
    .float-right
      %a.btn.btn-default-outline.btn-xs.mr-4{href: "/admin/items/#{result.id}/edit"}
        %i.fa.fa-edit
        = "Edit Item ID: #{result.id}"
      = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_item_path(result.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'


  .card-body
    .form-group.row
      .col-md-1
        %label ID
        = text_field_tag "item[id]", result.id, class: "form-control disabled"
      .col-md-3
        %label SKU
        = text_field_tag "item[sku]", result.sku, class: "form-control disabled"
      .col-md-2
        %label Part #
        = text_field_tag "item[part_number]", result.part_number.present? ? result.part_number : "NA", class: "form-control disabled upper-case"
      .col-md-2
        %label Serial
        = text_field_tag "item[serial]", result.serial, class: "form-control disabled upper-case"
      .col-md-2
        %label HDD Serial
        = text_field_tag "item[hdd_serial]", result.hdd_serial, class: "form-control disabled upper-case"
      .col-md-2
        %label Location
        = select_tag "item[warehouse_id]", options_from_collection_for_select(@warehouses, "id", "name", result.warehouse_id), include_blank: true, class: 'form-control disabled'

    .form-group.row
      .col-md-2
        %label Make
        = select_tag "item[maker_id]", options_from_collection_for_select(@makes, "id", "name", result.maker_id), include_blank: true, class: 'form-control disabled'

      .col-md-2
        %label Model
        = select_tag "item[maker_model_id]", options_from_collection_for_select(@maker_models, "id", "name", result.maker_model_id), include_blank: true, class: 'form-control disabled'
      .col-md-2
        %label Category
        = select_tag "item[category_id]", options_from_collection_for_select(@categories, "id", "name", result.category_id), include_blank: true, class: 'form-control disabled'
      .col-md-2
        %label Sub Category
        = select_tag "item[sub_category_id]", options_from_collection_for_select(@subcategories, "id", "name", result.sub_category_id), include_blank: true, class: 'form-control disabled'
      .col-md-2
        %label Status
        = select_tag "item[status_id]", options_from_collection_for_select(@statuses, "id", "name", result.status_id), include_blank: true, class: 'form-control disabled'
      .col-md-2
        %label Condition
        = select_tag "item[condition_type_id]", options_from_collection_for_select(@condition_types, "id", "name", result.condition_type_id), include_blank: true, class: 'form-control disabled'
    .form-group.row
      .col-md-4
        %label Vendor
        = select_tag "item[vendor_id]", options_from_collection_for_select(@vendors, "id", "name", result.vendor_id), include_blank: true, class: 'form-control disabled'
      .col-md-2
        %label Grade
        = select_tag "item[grade_id]", options_from_collection_for_select(@grades, "id", "name", result.grade_id.present? ? result.grade_id : nil), include_blank: true, class: 'form-control disabled'
      .col-md-2
        %label Cost
        = text_field_tag "item[cost]", result.cost.present? ? result.cost : 0, class: "form-control"
      .col-md-2
        %label Cost of Addson
        = text_field_tag "item[cost_of_addons]", result.cost_of_addons.present? ? result.cost_of_addons : 0, class: "form-control disabled"
      .col-md-2
        %label Cost of Freight
        = text_field_tag "item[cost_of_freight]", result.cost_of_freight.present? ? result.cost_of_freight : 0, class: "form-control disabled"
    .form-group.row
      .col
        %label Audit Code
        = text_field_tag "item[audit_id]", result.audit_id.present? ? "#{result.audit.code}" : "-", class: "form-control disabled"
      .col
        %label PO #
        = text_field_tag "item[purchase_order_id]", result.purchase_order_id.present? ? "P-#{result.purchase_order_id}" : "-", class: "form-control disabled"
      .col
        %label Quote #
        = text_field_tag "item[quote_id]", result.quote_id.present? ? "Q-#{result.quote_id}" : "-", class: "form-control disabled"
      .col
        %label Order #
        = text_field_tag "item[order_id]", result.order_id.present? ? "O-#{result.order_id}" : "-", class: "form-control disabled"
      .col-md-4
        %label Description
        = text_field_tag "item[description]", result.description, class: "form-control disabled"

    %br
    %h5 Item Specs
    %hr
    - if result.item_category.present?
      - spec = result.item_category
      = render :partial => "#{spec.category.name.downcase}_editable", locals: { spec: spec }
    - else
      .alert.alert-secondary
        No Available Specs


