%table.table.table-bordered
  %tr
    %th{width: "30%"}
    %td.text-center{colspan:"2"}
      .text-primary= "#{@item.category.name.upcase} Specifications"
  %tr
    %th{width: "30%"} Processor
    %td.text-center= @item_category.processor
  %tr
    %th{width: "30%"} Speed
    %td.text-center= @item_category.speed
  %tr
    %th{width: "30%"} Hard Disk
    %td.text-center= @item_category.hard_disk
  %tr
    %th{width: "30%"} RAM
    %td.text-center= @item_category.ram
  %tr
    %th{width: "30%"} NIC
    %td.text-center= @item_category.nic
  %tr
    %th{width: "30%"} CD
    %td.text-center= @item_category.cd
  %tr
    %th{width: "30%"} # of HDs
    %td.text-center= @item_category.no_of_hds
  %tr
    %th{width: "30%"} HD Size
    %td.text-center= @item_category.hd_size
  %tr
    %th{width: "30%"} Slots
    %td.text-center= @item_category.slots
  %tr
    %th{width: "30%"} Cache
    %td.text-center= @item_category.cache
  %tr
    %th{width: "30%"} Type
    %td.text-center= @item_category.d_type