.form-group.row
  %label.col-sm-4.col-form-label Processor
  .col-sm-8
    = text_field_tag "item_category[processor]", @item_category.present? ? @item_category.processor : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Speed
  .col-sm-8
    = text_field_tag "item_category[speed]", @item_category.present? ? @item_category.speed : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Hard Disk
  .col-sm-8
    = text_field_tag "item_category[hard_disk]", @item_category.present? ? @item_category.hard_disk : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Ram
  .col-sm-8
    = text_field_tag "item_category[ram]", @item_category.present? ? @item_category.ram : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label NIC
  .col-sm-8
    = text_field_tag "item_category[nic]", @item_category.present? ? @item_category.nic : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label CD
  .col-sm-8
    = text_field_tag "item_category[cd]", @item_category.present? ? @item_category.cd : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label # of HDs
  .col-sm-8
    = text_field_tag "item_category[no_of_hds]", @item_category.present? ? @item_category.no_of_hds : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label HD Size
  .col-sm-8
    = text_field_tag "item_category[hd_size]", @item_category.present? ? @item_category.hd_size : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Slots
  .col-sm-8
    = text_field_tag "item_category[slots]", @item_category.present? ? @item_category.slots : nil, class: 'form-control'
.form-group.row
  %label.col-sm-4.col-form-label Cache
  .col-sm-8
    = text_field_tag "item_category[cache]", @item_category.present? ? @item_category.cache : nil, class: 'form-control'

.form-group.row
  %label.col-sm-4.col-form-label Type
  .col-sm-8
    = text_field_tag "item_category[d_type]", @item_category.present? ? @item_category.d_type : nil, class: 'form-control'



:javascript
  $(document).ready(function() {

    $('.save-item-btn').click(function(e){
      e.preventDefault();
      var p = $("#item_category_processor").val();
      var h = $("#item_category_hard_disk").val();
      var r = $("#item_category_ram").val();

      if((p != "") && (h != "") && (r != "")) {
        $('.edit_item').submit();
      } else {
        $("#item_category_processor").addClass("red-error");
        $("#item_category_hard_disk").addClass("red-error");
        $("#item_category_ram").addClass("red-error");
        return false;
      }
    });

    $('.saving-btn').click(function(e){
      e.preventDefault();
      var p = $("#item_category_processor").val();
      var h = $("#item_category_hard_disk").val();
      var r = $("#item_category_ram").val();

      if((p != "") && (h != "") && (r != "")) {
        $('.new_item').submit();
      } else {
        $("#item_category_processor").addClass("red-error");
        $("#item_category_hard_disk").addClass("red-error");
        $("#item_category_ram").addClass("red-error");
        return false;
      }
    });

  });
