.form-group.row
  .col
    %label Processor
    = text_field_tag "item_category[processor]", spec.present? ? spec.processor : nil, class: 'form-control disabled'
  .col
    %label Speed
    = text_field_tag "item_category[speed]", spec.present? ? spec.speed : nil, class: 'form-control disabled'
  .col
    %label Hard Disk
    = text_field_tag "item_category[hard_disk]", spec.present? ? spec.hard_disk : nil, class: 'form-control disabled'
  .col
    %label RAM
    = text_field_tag "item_category[ram]", spec.present? ? spec.ram : nil, class: 'form-control disabled'
  .col
    %label NIC
    = text_field_tag "item_category[nic]", spec.present? ? spec.nic : nil, class: 'form-control disabled'
  .col
    %label CD
    = text_field_tag "item_category[cd]", spec.present? ? spec.cd : nil, class: 'form-control disabled'

.form-group.row
  .col
    %label No. of HD
    = text_field_tag "item_category[no_of_hds]", spec.present? ? spec.no_of_hds : nil, class: 'form-control disabled'
  .col
    %label HD Size
    = text_field_tag "item_category[hd_size]", spec.present? ? spec.hd_size : nil, class: 'form-control disabled'
  .col
    %label Slots
    = text_field_tag "item_category[slots]", spec.present? ? spec.slots : nil, class: 'form-control disabled'
  .col
    %label Cache
    = text_field_tag "item_category[cache]", spec.present? ? spec.cache : nil, class: 'form-control disabled'
  .col
    %label Type
    = text_field_tag "item_category[d_type]", spec.present? ? spec.d_type : nil, class: 'form-control disabled'


