%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js", :type => "text/javascript"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js", :type => "text/javascript"}


.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Inventory: Items
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong LIST VIEW
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-default-outline.mr-3#detailedView{href: "javascript:void(0)"}
        %i.fa.fa-list
        Detailed View
      %a.btn.btn-primary.mr-3{href: '/admin/items/new'}
        %i.fa.fa-plus
        Add Item

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link#filter-item
              %i.fa.fa-chevron-up
        .ibox-content.filter-item
          = render 'filter_editable'

  .loading.hidden
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Result
          %h5= "Display: #{@result} items"
          .ibox-tools
            %a.btn.btn-xs.btn-default.mr-3#disabled-editable{href: "javascript:void(0);"} Disabled Editable
            %button.btn.btn-xs.btn-default-outline.mr-4{:onclick => "printBarcode()", target: '_blank'} Print Barcode

            -# = link_to "Generate Barcodes", { :action => "barcodes", :format => :pdf, :item_ids => @items.pluck(:id)}, class: "btn btn-xs btn-default", target: '_blank'
            %a.collapse-link#list-of-items
              %i.fa.fa-chevron-up

        .ibox-content#list-items.list-of-items
          .table-responsive
            #editable-table
              %table.table.table-bordered.list-items-tb#item_dt
                %thead
                  %tr
                    %th
                    %th ID
                    %th Serial
                    %th Category
                    %th Sub Category
                    %th Make
                    %th Model
                    %th Condition
                    %th Status
                    %th Grade
                    %th Description
                    %th Audit
                    %th Audited Date
                    %th Quote No.
                    %th Purchase No.
                    %th Location
                    %th Vendor
                %tbody
                  - @items.each do |item|
                    %tr
                      %th
                        = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_item_path(item.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'
                      %td= item.id
                      %td
                        .edit-text{id: "#{item.id}-serial", "data-id" => item.id, "data-col" => "serial"}
                          %input.text-value.upper-case{value: item.serial.present? ? item.serial : "-----"}
                        .edit-input.hidden{id: "#{item.id}-serial"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'serial'
                          = text_field_tag "item[value]", item.serial, class: "upper-case upper"
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "serial"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "serial"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-category", "data-id" => item.id, "data-col" => "category"}
                          - if item.category_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@categories, "id", "name", item.category_id), class: "disabled item_category_id"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-category"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'category_id'
                          = select_tag "item[value]", options_from_collection_for_select(@categories, "id", "name", item.category_id)
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "category"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "category"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-sub-category", "data-id" => item.id, "data-col" => "sub-category"}
                          - if item.sub_category_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@subcategories, "id", "name", item.sub_category_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-sub-category"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'sub_category_id'
                          = select_tag "item[value]", options_for_select([]), class: "#{item.id}-subcategory-select"

                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "sub-category"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "sub-category"}
                              %i.fas.fa-check



                      %td
                        .edit-text{id: "#{item.id}-maker", "data-id" => item.id, "data-col" => "maker"}
                          - if item.maker_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@makes, "id", "name", item.maker_id), class: "disabled item_maker_id"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-maker"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'maker_id'
                          = select_tag "item[value]", options_from_collection_for_select(@makes, "id", "name", item.maker_id)
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "maker"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "maker"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-maker-model", "data-id" => item.id, "data-col" => "maker-model"}
                          - if item.maker_model_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@maker_models, "id", "name", item.maker_model_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-maker-model"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'maker_model_id'
                          = select_tag "item[value]", options_for_select([]), class: "#{item.id}-makermodel-select"

                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "maker-model"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "maker-model"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-condition", "data-id" => item.id, "data-col" => "condition"}
                          - if item.condition_type_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@condition_types, "id", "name", item.condition_type_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-condition"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'condition_type_id'
                          = select_tag "item[value]", options_from_collection_for_select(@condition_types, "id", "name", item.condition_type_id)
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "condition"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "condition"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-status", "data-id" => item.id, "data-col" => "status"}
                          - if item.status_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@statuses, "id", "name", item.status_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-status"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'status_id'
                          = select_tag "item[value]", options_from_collection_for_select(@statuses, "id", "name", item.status_id)
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "status"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "status"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-grade", "data-id" => item.id, "data-col" => "grade"}
                          - if item.grade_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@grades, "id", "name", item.grade_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-grade"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'grade_id'
                          = select_tag "item[value]", options_from_collection_for_select(@grades, "id", "name", item.grade_id), include_blank: true
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "grade"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "grade"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-description", "data-id" => item.id, "data-col" => "description"}
                          %input.text-value{value: item.description.present? ? item.description : "-----"}
                        .edit-input.hidden{id: "#{item.id}-description"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'description'
                          = text_field_tag "item[value]", item.description
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "description"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "description"}
                              %i.fas.fa-check


                      %td= item.audit_id.present? ? item.audit.code : "-----"
                      %td= item.audit_id.present? ? format_full_date(item.audit.audited_date) : "-----"
                      %td
                        .edit-text{id: "#{item.id}-quote-id", "data-id" => item.id, "data-col" => "quote-id"}
                          - if item.quote_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@quotes, "id", "id", item.quote_id), class: "disabled"
                          - else
                            = "NA"
                        .edit-input.hidden{id: "#{item.id}-quote-id"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'quote_id'
                          = select_tag "item[value]", options_from_collection_for_select(@quotes, "id", "id", item.quote_id), include_blank: true
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "quote-id"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "quote-id"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-purchase-order", "data-id" => item.id, "data-col" => "purchase-order"}
                          - if item.purchase_order_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@pos, "id", "id", item.purchase_order_id), class: "disabled"
                          - else
                            = "NA"
                        .edit-input.hidden{id: "#{item.id}-purchase-order"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'purchase_order_id'
                          = select_tag "item[value]", options_from_collection_for_select(@pos, "id", "id", item.purchase_order_id), include_blank: true
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "purchase-order"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "purchase-order"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-warehouse", "data-id" => item.id, "data-col" => "warehouse"}
                          - if item.warehouse_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@warehouses, "id", "name", item.warehouse_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-warehouse"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'warehouse_id'
                          = select_tag "item[value]", options_from_collection_for_select(@warehouses, "id", "name", item.warehouse_id), include_blank: true
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "warehouse"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "warehouse"}
                              %i.fas.fa-check

                      %td
                        .edit-text{id: "#{item.id}-vendor", "data-id" => item.id, "data-col" => "vendor"}
                          - if item.vendor_id.present?
                            = select_tag "item_value", options_from_collection_for_select(@vendors, "id", "name", item.vendor_id), class: "disabled"
                          - else
                            = "-----"
                        .edit-input.hidden{id: "#{item.id}-vendor"}
                          = hidden_field_tag "item[id]", item.id
                          = hidden_field_tag "item[key]", 'vendor_id'
                          = select_tag "item[value]", options_from_collection_for_select(@vendors, "id", "name", item.vendor_id)
                          .btn-group.float-right
                            %button.btn.btn-xs.btn-warning.cancel-input{id: "#{item.id}", "data-col" => "vendor"}
                              %i.fas.fa-times
                            %button.btn.btn-xs.btn-primary.save-item{id: "#{item.id}", "data-col" => "vendor"}
                              %i.fas.fa-check


  .row.hidden
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Barcodes
          .ibox-tools
            %a.collapse-link#generated-barcodes-list
              %i.fa.fa-chevron-up
        .ibox-content.collapse.generated-barcodes-list
          #multi-barcodes
            - @items.each do |item|
              .generated
                = "#{item.id} / Audit/PO: #{item.audit_id.present? ? item.audit.code : nil } GRD: #{item.grade_id.present? ? item.grade.name : nil}"
                %br
                = "#{item.maker_id.present? ? item.maker.name : nil} #{item.maker_model_id.present? ? item.maker_model.name : nil} PN##{item.part_number.present? ? item.part_number : nil} SN##{item.serial.present? ? item.serial : nil}"
                %br
                = "#{item.description.present? ? item.description : nil}"
                - @barcodes.each do |barcode|
                  .barcode-image.text-center
                    - if barcode[:id] == item.id
                      = image_tag barcode[:data], class: 'img-35'


#editAll.modal.fade
  .modal-dialog{:role => "document"}
    = form_tag edit_all_admin_items_path, method: :get do
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title Edit All Column
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-group.row
            .col
              %label Item Column
              = select_tag "data[edit_item_column]", options_for_select([["Part Number", "part_number"],["Make", "maker_id"], ["Model", "maker_model_id"], ["Category", "category_id"], ["Sub Category", "sub_category_id"], ["Status", "status_id"], ["Condition", "condition_type_id"], ["Grade", "grade_id"], ["Location", "warehouse_id"], ["Vendor", "vendor_id"]]), include_blank: true, :required => true, class: "form-control"
          .form-group.row
            .col
              %label Value
              = text_field_tag "data[part_number]", nil, class: "form-control hidden partner_number_val"
              = select_tag "data[maker_id]", options_from_collection_for_select(@makes, "id", "name"), include_blank: true, class: 'form-control hidden maker_val_id'
              = select_tag "data[maker_model_id]", options_from_collection_for_select(@maker_models, "id", "name"), include_blank: true, class: 'form-control hidden maker_model_val_id'
              = select_tag "data[category_id]", options_from_collection_for_select(@categories, "id", "name"), include_blank: true, class: 'form-control hidden category_val_id'
              = select_tag "data[sub_category_id]", options_from_collection_for_select(@subcategories, "id", "name"), include_blank: true, class: 'form-control hidden sub_category_val_id'
              = select_tag "data[status_id]", options_from_collection_for_select(@statuses, "id", "name"), include_blank: true, class: 'form-control hidden status_val_id'
              = select_tag "data[condition_type_id]", options_from_collection_for_select(@condition_types, "id", "name"), include_blank: true, class: 'form-control hidden condition_val_id'
              = select_tag "data[grade_id]", options_from_collection_for_select(@grades, "id", "name"), include_blank: true, class: 'form-control hidden grade_val_id'
              = select_tag "data[warehouse_id]", options_from_collection_for_select(@warehouses, "id", "name"), include_blank: true, class: 'form-control hidden warehouse_val_id'
              = select_tag "data[vendor_id]", options_from_collection_for_select(@vendors, "id", "name"), include_blank: true, class: 'form-control hidden vendor_val_id'


        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary#edit-all-items{:type => "submit"} Save changes


:javascript
  $( document ).ready(function() {

    $('#item_dt').DataTable( {
        "searching": false,
        "autoWidth": false
    } );

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

    $('#disabled-editable').on('click', function (e) {
      var url = location.search;
      var urlprev = removeParam("prev", url);
      var urlnext = removeParam("next", urlprev);
      window.location.href = "/admin/items/lists"+urlnext;
    });

    $('#detailedView').on('click', function (e) {
      var url = location.search;
      window.location.href = "/admin/items"+url;
    });


    $(document).keypress("m",function(e) {
      if(e.ctrlKey) {
        $('#editAll').modal('show');
      }
    });


    $("#data_edit_item_column").change(function() {
      var val = $(this).val();

      if( val == "status_id" ) {
        $(".status_val_id").removeClass("hidden");
        $(".status_val_id").addClass("active");

        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");


      } else if (val == "condition_type_id") {
        $(".condition_val_id").removeClass("hidden");
        $(".condition_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "grade_id") {
        $(".grade_val_id").removeClass("hidden");
        $(".grade_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "maker_id") {
        $(".maker_val_id").removeClass("hidden");
        $(".maker_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "category_id") {
        $(".category_val_id").removeClass("hidden");
        $(".category_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "part_number" ) {
        $(".partner_number_val").removeClass("hidden");
        $(".partner_number_val").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "maker_model_id" ) {
        $(".maker_model_val_id").removeClass("hidden");
        $(".maker_model_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "sub_category_id" ) {
        $(".sub_category_val_id").removeClass("hidden");
        $(".sub_category_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "warehouse_id" ) {
        console.log(val);
        $(".warehouse_val_id").removeClass("hidden");
        $(".warehouse_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".vendor_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".vendor_val_id").removeClass("active");

      } else if (val == "vendor_id" ) {
        $(".vendor_val_id").removeClass("hidden");
        $(".vendor_val_id").addClass("active");

        $(".status_val_id").addClass("hidden");
        $(".condition_val_id").addClass("hidden");
        $(".grade_val_id").addClass("hidden");
        $(".maker_val_id").addClass("hidden");
        $(".category_val_id").addClass("hidden");
        $(".partner_number_val").addClass("hidden");
        $(".maker_model_val_id").addClass("hidden");
        $(".sub_category_val_id").addClass("hidden");
        $(".warehouse_val_id").addClass("hidden");

        $(".status_val_id").removeClass("active");
        $(".condition_val_id").removeClass("active");
        $(".grade_val_id").removeClass("active");
        $(".maker_val_id").removeClass("active");
        $(".category_val_id").removeClass("active");
        $(".partner_number_val").removeClass("active");
        $(".maker_model_val_id").removeClass("active");
        $(".sub_category_val_id").removeClass("active");
        $(".warehouse_val_id").removeClass("active");

      }

      else {
        ""
      }
    });

  });

  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";

    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  function printBarcode() {
    printJS({
      printable: "multi-barcodes",
      type: "html",
      style: "@page { margin: 0; } #multi-barcodes {margin-top: 10px; text-align: center; max-height: 3cm !important; font-size: 12px;} .generated {margin: 15px 0 10px 0; display: block; page-break-before: always;} .barcode-image {display: block; margin-left: auto; margin-right: auto;} img { width: 150px;}"
    });
  }