$("#my_list").empty();
$("#my_list").append("<%= escape_javascript render(:partial => 'item_list', :locals => {:item => @item, :makes => @makes, :models => @maker_models, :categories => @categories, :sub_categories => @subcategories, :statuses => @statuses, :condition_types => @condition_types, :grades => @grades, :warehouses => @warehouses, :vendors => @vendors}) %>");