.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Update Inventory Item
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/items"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/items/#{@item.id}"}= @item.sku
      %li.breadcrumb-item.active
        %strong EDIT
  .col-lg-2


.wrapper.wrapper-content
  = form_for([:admin, @item]) do |f|
    .row
      .col-lg-8
        .ibox
          .ibox-title
            %h5 Inventory Item
            %small Form
            .ibox-tools
              %a.collapse-link#item-new
                %i.fa.fa-chevron-up

          .ibox-content.item-new
            = render "form", f: f


      .col-lg-4
        .ibox
          .ibox-title
            %h5.selected= @item.category_id.present? ? "#{@item.category.name} - " : "Item Category"
            %h5#device-chosen
          .ibox-content
            #item-device-form
              .deviceForm
                - if @item.category_id.present?
                  = render "#{@item.category.name.downcase}_form"
                - else
                  = ""







    .row
      .col-lg-12
        .ibox
          .ibox-content
            %a.btn.btn-white{href: "/admin/items"} Cancel
            %button.btn.btn-primary.save-item-btn{:type => "submit"} Save


#audtiModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title ADD THIS ITEM TO AUDIT
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.row
          %label.col-sm-3.col-form-label AUDIT CODE
          .col-sm-9
            = select_tag "item_audit_code", options_from_collection_for_select(@audits, "id", "code", @item_audit.present? ? @item_audit.code : ''), include_blank: true, class: 'form-control select2'
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} OK

:javascript
  $(document).ready(function() {
    $("#item_audit_code").select2({ dropdownParent: "#audtiModal .modal-body" });

    $('#item_audit_code').on('select2:select', function (e) {
      var audit_id = e.params.data.id;
      $("#item_audit_id").val(audit_id);
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });
  });
