.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Inventory
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong Items
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-info.mr-3{href: '/admin/items/lists'}
        %i.fa.fa-search
        Show Table

      %a.btn.btn-primary.mr-3{href: '/admin/items/new'}
        %i.fa.fa-plus
        Add Item

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content#filter-content
          = render 'filter'

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Result
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          - if @result.present?
            - @result.each_with_index do |result, index|
              - i = index+1
              .card#result-box
                .card-header
                  .float-left
                    = i
                  .float-right
                    %a.btn.btn-primary.btn-xs{href: "/admin/items/#{result.id}/edit"}
                      %i.fa.fa-edit
                      Edit
                .card-body
                  .form-group.row
                    %label.col.col-form-label SKU
                    .col
                      = text_field_tag "", result.sku, class: "form-control", readonly: true
                    %label.col.col-form-label Part #
                    .col
                      = text_field_tag "", result.part_number.present? ? result.part_number : "NA", class: "form-control", readonly: true
                    %label.col.col-form-label QPart #
                    .col
                      = text_field_tag "", result.qpart_number.present? ? result.qpart_number : "NA", class: "form-control", readonly: true

                    %label.col.col-form-label Device
                    .col
                      - @item_device = ItemDevice.where(item_id: result.id).first
                      - if @item_device.present?
                        - @device = Device.where(id: @item_device.device_id).first
                        = text_field_tag "", @device.name , class: "form-control", readonly: true
                      - else
                        = text_field_tag "", "NA" , class: "form-control", readonly: true

                  .form-group.row
                    %label.col.col-form-label Serial
                    .col
                      = text_field_tag "", result.serial, class: "form-control", readonly: true
                    %label.col.col-form-label HDD Serial
                    .col
                      = text_field_tag "", result.hdd_serial, class: "form-control", readonly: true
                    %label.col.col-form-label Status
                    .col
                      = text_field_tag "", result.status.present? ? result.status : "NA", class: "form-control", readonly: true

                    %label.col.col-form-label Type
                    .col
                      = text_field_tag "", result.condition_type.present? ? result.condition_type.name : "NA", class: "form-control", readonly: true

                  .form-group.row
                    %label.col.col-form-label Make
                    .col
                      = text_field_tag "", result.maker.present? ? result.maker.name : "NA", class: "form-control", readonly: true
                    %label.col.col-form-label Model
                    .col
                      = text_field_tag "", result.maker_model.present? ? result.maker_model.name : "NA", class: "form-control", readonly: true
                    %label.col.col-form-label Cat.
                    .col
                      = text_field_tag "", result.category.present? ? result.category.name : "NA", class: "form-control", readonly: true

                    %label.col.col-form-label Sub Cat.
                    .col
                      = text_field_tag "", result.sub_category.present? ? result.sub_category.name : "NA", class: "form-control", readonly: true


                  .form-group.row
                    %label.col.col-form-label Loc.
                    .col
                      = text_field_tag "", result.warehouse.present? ? result.warehouse.name : "NA", class: "form-control", readonly: true
                    %label.col.col-form-label Supplier
                    .col
                      = text_field_tag "", result.supplier.present? ? result.supplier.name : "NA", class: "form-control", readonly: true
                    %label.col.col-form-label Grade
                    .col
                      = text_field_tag "", result.grade.present? ? result.grade.name : "NA", class: "form-control", readonly: true

                    %label.col.col-form-label QTY
                    .col
                      = text_field_tag "", result.qty.present? ? result.qty : 0 , class: "form-control", readonly: true

                  .form-group.row
                    %label.col.col-form-label Cost
                    .col
                      = text_field_tag "", result.cost.present? ? result.cost : 0, class: "form-control", readonly: true
                    %label.col.col-form-label Addson
                    .col
                      = text_field_tag "", result.cost_of_addons.present? ? result.cost_of_addons : 0, class: "form-control", readonly: true
                    %label.col.col-form-label Freight
                    .col
                      = text_field_tag "", result.cost_of_freight.present? ? result.cost_of_freight : 0, class: "form-control", readonly: true

                    %label.col.col-form-label Desc
                    .col
                      = text_area_tag "", result.description, class: "form-control", readonly: true



          - else
            .alert.alert-secondary
              No Result



:javascript
  $( document ).ready(function() {
    $('#audit_dt').DataTable();
  });