.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Inventory: Items
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong DETAILED VIEW
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-default-outline.mr-3#listView{href: "javascript:void(0)"}
        %i.fa.fa-list
        List View
      %a.btn.btn-primary.mr-3{href: '/admin/items/new'}
        %i.fa.fa-plus
        Add Item

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link#item-filter
              %i.fa.fa-chevron-up
        .ibox-content.item-filter
          = render 'filter'

  .row
    .col-lg-12
      - if params[:item].present?
        = hidden_field_tag "all_params", request.params[:item]
      - else
        = hidden_field_tag "all_params", nil
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5
            = "Total Items: #{@all_items} | "
            - if params[:item].present?
              = " Result - #{@result} | "
              %span.primary-text
                = "Display: #{@result}/#{@items.count} items"
            - else


          .float-right
            %input.hidden#lastId{:value => @item_last_id}
            %input.hidden#nextId{:value => @item_first_id}

            - if @result != 0
              %input.hidden#resultItem{:value => @last_item.id}

              .item-search.inline
                - @val = nil
                - if params[:search].present?
                  - @val = params[:search]
                - elsif params[:item].present? && !params[:prev].present? && !params[:next].present?
                  - @val = @item_ids.length
                - elsif params[:prev].present? || params[:next].present?
                  - @val = @item_id_elem + 1
                - else
                  - if @item_id_elem == @item_ids.length
                    - @val = @item_id_elem
                  - else
                    - @val = @item_id_elem + 1

                = text_field_tag "search[index]", @val, class: "form-control-xs", required: true
                %span.mr-3
                  = params[:item].present? ? "/ #{@item_ids.length}" : "/ #{@items.count}"
                %button.btn.btn-xs.btn-primary.mr-5#search-index Search
              %a.btn.btn-default.mr-3.btn-xs{href: 'javascript:void(0)', id: @last_item.id, class: params[:item].present? ? "prevItemItem" : "prevItem"}
                %i.fa.fa-arrow-left
                PREV
              %a.btn.btn-default.btn-xs{href: 'javascript:void(0)', id: @last_item.id, class: params[:item].present? ? "nextItemItem" : "nextItem"}
                NEXT
                %i.fa.fa-arrow-right

        .ibox-content.item-index
          - if @result != 0
            = render :partial => 'result_item', locals: { result: @last_item }
          - else
            .alert.alert-secondary
              No Record


:javascript
  $( document ).ready(function() {

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

    var lastId = $("#lastId").val();
    var nextId = $("#nextId").val();
    var resultItem = $("#resultItem").val();

    if(lastId == resultItem) {
      $('.prevItem').addClass( "disabled" );
      $('.prevItemItem').addClass( "disabled" );
    } else {
      $('.prevItem').removeClass( "disabled" );
      $('.prevItemItem').removeClass( "disabled" );
    }
    if(nextId == resultItem) {
      $('.nextItem').addClass( "disabled" );
      $('.nextItemItem').addClass( "disabled" );
    } else {
      $('.nextItem').removeClass( "disabled" );
      $('.nextItemItem').removeClass( "disabled" );
    }

    $('.prevItem').on('click', function (e) {
      var item_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/items/get_prev_item",
        dataType: "json",
        data: {
          item_id: item_id
        },
        success: function(data) {
          window.location.href = "/admin/items?prev="+data.id;
        }
      });

    });


    $('.nextItem').on('click', function (e) {
      var item_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/items/get_next_item",
        dataType: "json",
        data: {
          item_id: item_id
        },
        success: function(data) {
          window.location.href = "/admin/items?next="+data.id;
        }
      });

    });


    $('.prevItemItem').on('click', function (e) {
      var item_id = $(this).attr('id');
      var all_params = $("#all_params").val();

      $.ajax({
        type: "GET",
        url: "/admin/items/get_prev_item",
        dataType: "json",
        data: {
          item_id: item_id,
          all_params: all_params
        },
        success: function(data) {
          var url = location.search;
          var urlnext = removeParam("next", url);
          var urlprev = removeParam("prev", urlnext);
          window.location.href = "/admin/items"+urlprev+"&prev="+data.id;
        }
      });

    });

    $('.nextItemItem').on('click', function (e) {
      var item_id = $(this).attr('id');
      var all_params = $("#all_params").val();

      $.ajax({
        type: "GET",
        url: "/admin/items/get_next_item",
        dataType: "json",
        data: {
          item_id: item_id,
          all_params: all_params
        },
        success: function(data) {
          var url = location.search;
          var urlprev = removeParam("prev", url);
          var urlnext = removeParam("next", urlprev);
          window.location.href = "/admin/items"+urlnext+"&next="+data.id;
        }
      });

    });

    $("#search-index").on('click', function (e) {
      var data = $("#search_index").val();
      var all_p = $("#all_params").val();

      var url = location.search;
      var urlprev = removeParam("prev", url);
      var urlnext = removeParam("next", urlprev);
      var final = removeParam("search", urlnext);

      if(all_p != "") {
        window.location.href = "/admin/items"+final+"&search="+data;
      }else {
        window.location.href = "/admin/items?"+final+"&search="+data;
      }




    });

    $('#listView').on('click', function (e) {
      var url = location.search;
      var urlprev = removeParam("prev", url);
      var urlnext = removeParam("next", urlprev);
      window.location.href = "/admin/items/lists"+urlnext;
    });



  });


  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";

    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }
