%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js", :type => "text/javascript"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js", :type => "text/javascript"}


.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Inventory: Items
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong LIST VIEW
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-default-outline.mr-3#detailedView{href: "javascript:void(0)"}
        %i.fa.fa-list
        Detailed View
      %a.btn.btn-primary.mr-3{href: '/admin/items/new'}
        %i.fa.fa-plus
        Add Item

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link#filter-item
              %i.fa.fa-chevron-up
        .ibox-content.filter-item
          = render 'filter_list'

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Result
          %h5= "Display: #{@result} items"
          .ibox-tools
            - if current_user.role.name == "admin"
              %a.btn.btn-xs.btn-primary.mr-3#enable-editable{href: "javascript:void(0);"} Enabled Editable
            %button.btn.btn-xs.btn-default-outline.mr-4{:onclick => "printBarcode()", target: '_blank'} Print Barcode

            -# = link_to "Download Barcodes", { :action => "barcodes", :format => :pdf, :item_ids => @items.pluck(:id)}, class: "btn btn-xs btn-default", target: '_blank'
            %a.collapse-link#list-of-items
              %i.fa.fa-chevron-up

        .ibox-content#list-items.list-of-items
          .table-responsive
            #normal-table
              %table.table.table-bordered.list-items-tb#item_normal_dt
                %thead
                  %tr
                    %th
                    %th ID
                    %th Serial
                    %th Category
                    %th Sub Category
                    %th Make
                    %th Model
                    %th Condition
                    %th Status
                    %th Grade
                    %th Description
                    %th Audit Code
                    %th Audited Date
                    %th Quote No.
                    %th Purchase No.
                    %th Location
                    %th Vendor
                %tbody
                  - @items.each do |item|
                    %tr
                      %th
                        = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_item_path(item.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'
                      %td= item.id
                      %td.upper-case= item.serial.present? ? item.serial : "----"
                      %td= item.category_id.present? ? item.category.name : "----"
                      %td= item.sub_category_id.present? ? item.sub_category.name : "----"
                      %td= item.maker_id.present? ? item.maker.name : "----"
                      %td= item.maker_model_id.present? ? item.maker_model.name : "----"
                      %td= item.condition_type_id.present? ? item.condition_type.name : "----"
                      %td= item.status_id.present? ? item.status.name : "----"
                      %td= item.grade_id.present? ? item.grade.name : "----"
                      %td= item.description.present? ? item.description : "----"
                      %td= item.audit_id.present? ? item.audit.code : "----"
                      %td= item.audit_id.present? ? format_full_date(item.audit.audited_date) : "----"
                      %td= item.quote_id.present? ? "Q-#{item.quote_id}" : nil
                      %td= item.purchase_order_id.present? ? "P-#{item.purchase_order_id}" : nil
                      %td= item.warehouse_id.present? ? item.warehouse.name : "----"
                      %td= item.vendor_id.present? ? item.vendor.name : "----"


  .row.hidden
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Barcodes
          .ibox-tools
            %a.collapse-link#generated-barcodes-list
              %i.fa.fa-chevron-up
        .ibox-content.collapse.generated-barcodes-list
          #multi-barcodes
            - @items.each do |item|
              .generated
                = "#{item.id} / Audit/PO: #{item.audit_id.present? ? item.audit.code : nil } GRD: #{item.grade_id.present? ? item.grade.name : nil}"
                %br
                = "#{item.maker_id.present? ? item.maker.name : nil} #{item.maker_model_id.present? ? item.maker_model.name : nil} PN##{item.part_number.present? ? item.part_number : nil} SN##{item.serial.present? ? item.serial : nil}"
                %br
                = "#{item.description.present? ? item.description : nil}"
                - @barcodes.each do |barcode|
                  .barcode-image.text-center
                    - if barcode[:id] == item.id
                      = image_tag barcode[:data], class: 'img-35'


.clearfix-big

#my_list

:javascript
  $( document ).ready(function() {

    $("#print-barcodes").on("click", function(e) {
      var item_ids = $("#resultIds").val();

      $.ajax({
        type: "GET",
        url: "/admin/items/barcodes",
        data: {
          item_ids: item_ids
        }
      });

    });

    $('#item_normal_dt').dataTable({
      searching: false,
      paging: true,
      info: true,
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'print', {
                extend: 'pdf',
                orientation: 'landscape'
            }
      ]
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

    $('#detailedView').on('click', function (e) {
      var url = location.search;
      window.location.href = "/admin/items"+url;
    });

    $('#enable-editable').on('click', function (e) {
      var url = location.search;
      var urlprev = removeParam("prev", url);
      var urlnext = removeParam("next", urlprev);
      window.location.href = "/admin/items/editable"+urlnext;
    });

  });


  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";

    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  function printBarcode() {
    printJS({
      printable: "multi-barcodes",
      type: "html",
      style: "@page { margin: 0; } #multi-barcodes {margin-top: 10px; text-align: center; max-height: 3cm !important; font-size: 12px;} .generated {margin: 15px 0 10px 0; display: block; page-break-before: always;} .barcode-image {display: block; margin-left: auto; margin-right: auto;} img { width: 150px;}"
    });
  }