.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Create Inventory Item
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/items"} List View
      %li.breadcrumb-item.active
        %strong New
  .col-lg-2

.wrapper.wrapper-content
  = form_for([:admin, @item]) do |f|
    .row
      .col-lg-8
        .ibox
          .ibox-title
            .float-left
              %h5 Inventory Item
              %small Form
            .ibox-tools
              %a.collapse-link#new-item
                %i.fa.fa-chevron-up


          .ibox-content.new-item
            = text_field_tag "audit[code]", nil, class: "form-control hidden"
            = render "form", f: f


      .col-lg-4
        .ibox
          .ibox-title
            %h5#device-chosen
            %small (Specs)
          .ibox-content
            #item-device-form.hidden
              .deviceForm


    .row
      .col-lg-12
        .ibox
          .ibox-content
            %a.btn.btn-white{href: "/admin/items"} Cancel
            %button.btn.btn-primary.saving-btn{:type => "submit"} Save



#audtiModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title ADD THIS ITEM TO AUDIT
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.row
          %label.col-sm-3.col-form-label AUDIT CODE
          .col-sm-9
            = select_tag "item_audit_code", options_from_collection_for_select(@audits, "id", "code", @item_audit.present? ? @item_audit.code : ''), include_blank: true, class: 'form-control select2'
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} OK


:javascript
  $(document).ready(function() {
    $("#item_audit_code").select2({ dropdownParent: "#audtiModal .modal-body" });

    $('#item_audit_code').on('select2:select', function (e) {
      var audit_id = e.params.data.id;
      $("#item_audit_id").val(audit_id);
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });
  });
