.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Item Inventory Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/items"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/items/new"} Create New
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-4
    .clearfix-big
    .float-right
      %input.hidden#lastId{:value => @item_first_id.id}
      %input.hidden#nextId{:value => @item_last_id.id}

      %a.btn.btn-default.mr-3.prevItem{href: 'javascript:void(0)', id: @item.id}
        %i.fa.fa-arrow-left
        PREV
      %a.btn.btn-default.mr-3.nextItem{href: 'javascript:void(0)', id: @item.id}
        NEXT
        %i.fa.fa-arrow-right

.wrapper.wrapper-content
  .toast.hidden
    .toast-body
      #notif-message
      #redirect
        %i.fas.fa-circle-notch.fa-spin
        %span.ml-2

  .row
    .col-lg-12
      .ibox
        .ibox-content
          .row
            .col-lg-12
              .m-b-md
                %h3.inline SKU:
                %span.primary-text= @item.sku.present? ? @item.sku : "--"

          .row
            .col-lg-6
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Status:
                .col-sm-8.text-sm-left
                  %dd.mb-1
                    %span.label.label-primary= @item.status.present? ? @item.status.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt ID:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.id
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Part Number:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.part_number.present? ?  @item.part_number : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Make:
                .col-sm-8.text-sm-left
                  %dd.mb-1
                    %dd.mb-1= @item.maker.present? ? @item.maker.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Model:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.maker_model.present? ? @item.maker_model.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Category:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.category.present? ? @item.category.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Sub Category:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.sub_category.present? ? @item.sub_category.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Vendor:
                .col-sm-8.text-sm-left
                  %dd.mb-1
                    - if @item.vendor.present?
                      %a{href: "/admin/vendors/#{@item.vendor_id}"}
                        = @item.vendor.name
            #cluster_info.col-lg-6
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Condition:
                .col-sm-8.text-sm-left
                  %dd.mb-1
                    %span.label.label-primary= @item.condition_type.present? ? @item.condition_type.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Serail Number:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.serial.present? ? @item.serial : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt HDD Serial:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.hdd_serial.present? ? @item.hdd_serial : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Grade:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.grade.present? ? @item.grade.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Cost:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.cost.present? ? @item.cost : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Cost of Addons:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.cost_of_addons.present? ? @item.cost_of_addons : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Cost of Freight:
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.cost_of_freight.present? ? @item.cost_of_freight : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt Location
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.warehouse.present? ? @item.warehouse.name : "NA"
              %dl.row.mb-0
                .col-sm-4.text-sm-right
                  %dt QTY
                .col-sm-8.text-sm-left
                  %dd.mb-1= @item.qty.present? ? @item.qty : 0


  .row
    .col-lg-8
      .tabs-container
        %ul.nav.nav-tabs{:role => "tablist"}
          %li
            %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1"} More Details
          - if @audited.any?
            %li
              %a.nav-link{"data-toggle" => "tab", :href => "#tab-2"} Audited
        .tab-content
          #tab-1.tab-pane.active{:role => "tabpanel"}
            .panel-body
              .clearfix
              .col-md-12
                - if @item_category.present?
                  = render "#{@item.category.name.downcase}_details"
                - else
                  .alert.alert-secondary
                    No Item Device Included


          - if @audited.any?
            #tab-2.tab-pane
              .panel-body
                .row
                  .col-lg-12
                    .clearfix
                    %table.table
                      %tr
                        %th Audit ID
                        %td= @audited[0].id
                      %tr
                        %th Audit Code
                        %td= @audited[0].code.present? ?  @audited[0].code : "NA"
                      %tr
                        %th Note
                        %td= @audited[0].note.present? ? @audited[0].note : "NA"

    .col-lg-4
      .card#controls-item
        .card-body
          %a.btn.btn-primary.btn-block{:href => "/admin/items/#{@item.id}/edit"} EDIT ITEM
          %a.btn.btn-default-outline.btn-block.clone-item{:href => "javascript:void(0)", id: "#{@item.id}"} Clone Item

      .clearfix
      .card
        .card-body
          #generated-barcode
            .print-barcode.justify-content-center.text-center
              = "#{@item.id} / Audit/PO: #{@item.audit_id.present? ? @item.audit.code : nil} GRD: #{@item.grade_id.present? ? @item.grade.name : nil}"
              %br
              = "#{@item.maker_id.present? ? @item.maker.name : nil} #{@item.maker_model_id.present? ? @item.maker_model.name : nil} PN##{@item.part_number.present? ? @item.part_number : nil} SN##{@item.serial.present? ? @item.serial : nil}"
              %br
              = "#{@item.description.present? ? @item.description : nil}"
              .barcode-image.text-center
                = image_tag @barcode, class: 'img-35'

          .clearfix-big
          %button.btn.btn-block.btn-default-outline{:onclick => "printDiv()", target: '_blank'} Print Barcode
          -# = link_to "Download Barcode", { :action => "show", :format => :pdf }, class: "btn btn-block btn-default-outline #{@audited.any? ? '' : 'disabled'}",
          -#   target: '_blank'

  .clearfix-big

:javascript
  $( document ).ready(function() {

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

    $(".clone-item").on('click', function (e) {
      var id = $(this).attr('id');
      $.ajax({
        type: "POST",
        url: "/admin/items/clone",
        dataType: "json",
        data: {
          item_id: id
        },
        success: function(data) {
          var notif = $('.toast');
          notif.removeClass('hidden');
          $('#notif-message').html('Successfully Duplicated.');
          $('#redirect span').html("Redirecting to Cloned Item");
          setTimeout((function() {
            notif.addClass('hidden');
            window.location = "/admin/items/"+data.id;
          }), 4000);
        }
      });
    });

    var lastId = $("#lastId").val();
    if(lastId == "#{@item.id}") {
      $('.prevItem').addClass( "disabled" );
    } else {
      $('.prevItem').removeClass( "disabled" );
    }

    var nextId = $("#nextId").val();
    if(nextId == "#{@item.id}") {
      $('.nextItem').addClass( "disabled" );
    } else {
      $('.nextItem').removeClass( "disabled" );
    }

    $('.prevItem').on('click', function (e) {
      var item_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/items/get_prev_item",
        dataType: "json",
        data: {
          item_id: item_id
        },
        success: function(data) {
          window.location.href = "/admin/items/"+data.id;
        }
      });

    });

    $('.nextItem').on('click', function (e) {
      var item_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/items/get_next_item",
        dataType: "json",
        data: {
          item_id: item_id
        },
        success: function(data) {
          window.location.href = "/admin/items/"+data.id;
        }
      });

    });

  });

  function printDiv() {
    printJS({
      printable: "generated-barcode",
      type: "html",
      style: "@page { margin: 0; } #generated-barcode {margin-top: 10px; max-height: 3cm !important; font-size: 12px;} .print-barcode {margin: 16px 0 10px 230px; display: block; text-align: center; justify-content: center; page-break-before: always;} .barcode-image {display: block; margin-left: auto; margin-right: auto;} img { width: 150px;}"
    });
  }


