- if @tax.errors
  - @tax.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @tax]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Country
    .col-sm-4
      = f.select(:country_code, CountryStateSelect.countries_collection, {include_blank: true}, { :class => 'form-control select2' })
    %label.col-sm-2.col-form-label Province
    .col-sm-4
      - if @tax.new_record?
        = f.select(:province_code, options_for_select([]), {include_blank: true}, class: 'form-control select2' )
      - else
        = f.select(:province_code, options_for_select(@states.map {|k,v| [v,k]}, @tax.province_code.present? ? @tax.province_code : nil), {include_blank: true}, class: 'form-control select2' )

  .form-group.row
    %label.col-sm-2.col-form-label Code
    .col-sm-4
      = f.text_field :code, class: 'form-control', required: true
    %label.col-sm-2.col-form-label Percentage
    .col-sm-4
      = f.text_field :percentage, class: 'form-control', required: true

  .clearfix-sm
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/taxes"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save


:javascript
  $('.select2').select2({
    placeholder: "Select",
    allowClear: true
  })

  $('#tax_province_code').select2({
    placeholder: "#{@tax.province_code.present? ? @tax.province_code : 'Select Country First'}",
    allowClear: true
  });

  $('#tax_country_code').change(function() {
    var country = $(this).val();
    return $.ajax({
      type: "GET",
      url: "/admin/taxes/get_states",
      data: {
        country: country
      }
    });
  });

