.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Taxes
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/taxes/new'}
        %i.fa.fa-plus
        Add Tax

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Taxes Table
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#tax_dt
              %thead
                %tr
                  %th #
                  %th Country
                  %th Provine
                  %th Code
                  %th Percentage
                  %th{width: "10%"}
              %tbody
                - @taxes.each do |tax|
                  %tr
                    %td= tax.id
                    %td= tax.country_name
                    %td= tax.state_name
                    %td= tax.code
                    %td= tax.percentage
                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/taxes/#{tax.id}/edit"}
                        %i.far.fa-edit
                      = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_tax_path(tax.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'


:javascript
  $( document ).ready(function() {
    $('#tax_dt').DataTable({
      "search": false
    });
  });