.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Order Status Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/order_statuses"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2


.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox-content.m-b-sm.border-bottom
        .p-xs
          .float-left.m-r-md
            %i.fas.fa-info-circle.text-navy.mid-icon.mr-5
          %h2= @status.name
          %span= "ID: # #{@status.id}"
