.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Dashboard
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard Report
      %li.breadcrumb-item.active
        %strong All Reports


.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-6
      .ibox
        .ibox-title
          %h5 Sales Personal
        .ibox-content
          %label Total Sales Year to date &nbsp; &nbsp; &nbsp;
          %span.ml-3.text-primary= "January #{Time.zone.now.year} to #{Date.today.strftime("%B") } #{Time.zone.now.year}"

          %ul.list-group.list-group-flush
            %li.list-group-item
            %li.list-group-item
              1. Total Open Quotes
              %span.badge.badge-secondary.ml-150= @year_total_open_quotes_count
              %span.badge.badge-primary.ml-5= number_to_currency(@year_total_open_quotes, :unit => "$ ")

            %li.list-group-item
              2. Total Approved Quotes
              %span.badge.badge-secondary.ml-124= @year_total_approved_quotes_count
              %span.badge.badge-primary.ml-5= number_to_currency(@year_total_approved_quotes, :unit => "$ ")

            %li.list-group-item
              3. Total Shipped Orders
              %span.badge.badge-secondary.ml-137= @year_total_shipped_orders_count
              %span.badge.badge-primary.ml-5= number_to_currency(@year_total_shipped_orders, :unit => "$ ")



          .clearfix-big
          %label Total Sales Month to date &nbsp;
          %span.ml-3.text-primary= "#{Date.today.strftime("%B") }"
          %ul.list-group.list-group-flush
            %li.list-group-item
            %li.list-group-item
              1. Total Open Quotes
              %span.badge.badge-secondary.ml-150= @month_total_open_quotes_count
              %span.badge.badge-primary.ml-5= number_to_currency(@month_total_open_quotes, :unit => "$ ")

            %li.list-group-item
              2. Total Approved Quotes
              %span.badge.badge-secondary.ml-124= @month_total_approved_quotes_count
              %span.badge.badge-primary.ml-5= number_to_currency(@month_total_approved_quotes, :unit => "$ ")

            %li.list-group-item
              3. Total Shipped Orders
              %span.badge.badge-secondary.ml-137= @month_total_shipped_orders_count
              %span.badge.badge-primary.ml-5= number_to_currency(@month_total_shipped_orders, :unit => "$ ")



    .col-lg-6
      .ibox
        .ibox-title
          %h5 Inventory
        .ibox-content#max-403
          = form_tag admin_dashboard_index_path, method: :get do
            .row
              .col
                = select_tag "item[category_id]", options_from_collection_for_select(@categories, "id", "name", @category_id), include_blank: true, class: 'form-control select2'
              .col
                %a.btn.btn-default-outline.btn-sm{href: "/admin/dashboard"} Reset
                = submit_tag 'Search', class: 'btn btn-secondary btn-sm'


          %hr
          %label 30 Days old
          %table.table#30-days-old
            %thead
              %tr
                %th Item ID/Serial
                %th Price
            %tbody
              - @items.each do |item|
                %tr
                  %td= item.serial.present? ? item.serial : "I-#{item.id}"
                  %td= item.cost




  %hr
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Sales Report
        .ibox-content
          = form_tag admin_dashboard_index_path, method: :get do
            .row
              .col
                = select_tag "sales_general[filter]", options_for_select([["Today", 4], ["Year to Date", 1], ["Month to Date", 2], ["This Week", 3]], params[:sales_general].present? ? params[:sales_general][:filter] : "4"), include_blank: false, class: "form-control select2"
              .col
                %a.btn.btn-default-outline.btn-sm{href: "/admin/dashboard"} Reset
                = submit_tag 'Search', class: 'btn btn-secondary btn-sm'

          %hr
          = bar_chart @sales_by_salesperson


  %hr
  .row
    .col-lg-6
      .ibox
        .ibox-title
          %h5 Report by Status
        .ibox-content
          = form_tag admin_dashboard_index_path, method: :get do
            .row
              .col
                = select_tag "item_by_status[status_id]", options_from_collection_for_select(@statuses, "id", "name", @status_id), include_blank: true, class: 'form-control select2'
              .col
                = select_tag "item_by_status[year]", options_for_select(2010..Date.today.year, @year), include_blank: true, class: "form-control select2"
              .col
                %a.btn.btn-default-outline.btn-sm{href: "/admin/dashboard"} Reset
                = submit_tag 'Search', class: 'btn btn-secondary btn-sm'


          %hr
          = pie_chart @item_by_status, colors: ["#1ab394", "#0d98b7", "#aa10dc", "#f1197d", "#f17219", "#FFEB3B"]


    .col-lg-6
      .ibox
        .ibox-title
          %h5 Report by Product Category
        .ibox-content
          = form_tag admin_dashboard_index_path, method: :get do
            .row
              .col
                = select_tag "item_by_category[category_id]", options_from_collection_for_select(@categories, "id", "name", @category_id), include_blank: true, class: 'form-control select2'
              .col
                = select_tag "item_by_category[year]", options_for_select(2010..Date.today.year, @year), include_blank: true, class: "form-control select2"
              .col
                %a.btn.btn-default-outline.btn-sm{href: "/admin/dashboard"} Reset
                = submit_tag 'Search', class: 'btn btn-secondary btn-sm'


          %hr
          = pie_chart @item_by_category, colors: ["#1ab394", "#0d98b7", "#aa10dc", "#f1197d", "#f17219", "#FFEB3B"]
