.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Departments
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/departments/new'}
        %i.fa.fa-plus
        Add Department

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Departments Table
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#department_dt
              %thead
                %tr
                  %th #
                  %th Name
                  %th{width: "15%"}
              %tbody
                - @departments.each do |department|
                  %tr
                    %td= department.id
                    %td= department.name
                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/departments/#{department.id}/edit"}
                        %i.far.fa-edit
                      %a.btn.btn-xs{href: "/admin/departments/#{department.id}"}
                        %i.far.fa-eye
                      = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_department_path(department.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'


:javascript
  $( document ).ready(function() {
    $('#department_dt').DataTable();
  });