= form_tag admin_purchase_orders_path, method: :get do
  .form-group.row
    .col
      %label Purchase Order #
      = select_tag "purchase_order[purchase_order_number]", options_from_collection_for_select(@purchase_orders, "purchase_order_number", "purchase_order_number", params[:purchase_order].present? ? params[:purchase_order][:purchase_order_number] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Created By
      = select_tag "purchase_order[user_id]", options_from_collection_for_select(@users, "id", "email", params[:purchase_order].present? ? params[:purchase_order][:user_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Vendor
      = select_tag "purchase_order[vendor_id]", options_from_collection_for_select(@vendors, "id", "name", params[:purchase_order].present? ? params[:purchase_order][:vendor_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Purchased Date
      = text_field_tag "purchase_order[purchased_date]", params[:purchase_order].present? ? params[:purchase_order][:purchased_date] : nil, class: "datepicker form-control"

  .clearfix-sm
  %hr
  .form-group.row
    .col-md-12
      .float-right
        %a.btn.btn-default{href: "/admin/purchase_orders"} Reset
        = submit_tag 'Search', class: 'btn btn-secondary'


:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true,
      width: '100%'
    });
  });