- if @purchase_order.errors
  - @purchase_order.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @purchase_order]) do |f|
  .row
    .col-md-6
      .card
        .card-header VENDOR
        .card-body
          .form-group.row
            %label.col-sm-2.col-form-label Name
            .col-sm-10
              = f.select(:vendor_id, @vendors.collect {|s| [s.name, s.id]}, {include_blank: true}, {class: 'form-control select2-create'})
          .form-group.row
            %label.col-sm-2.col-form-label Addr. 1
            .col-sm-4
              = text_area_tag "vendor[address1]", @vendor_address1, class: 'form-control'
            %label.col-sm-2.col-form-label Addr. 2
            .col-sm-4
              = text_area_tag "vendor[address2]", @vendor_address2, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Country
            .col-sm-4
              = select_tag "vendor[country_code]", options_for_select(CountryStateSelect.countries_collection, @vendor_country), include_blank: true, class: 'form-control select2'
            %label.col-sm-2.col-form-label Prov.
            .col-sm-4
              = select_tag "vendor[province_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

          .form-group.row
            %label.col-sm-2.col-form-label City
            .col-sm-4
              = select_tag "vendor[city_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

            %label.col-sm-2.col-form-label Postal
            .col-sm-4
              = text_field_tag "vendor[postal_code]", @vendor_postal, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Phone
            .col-sm-4
              = text_field_tag "vendor[phone_number]", @vendor_phone, class: 'form-control'
            %label.col-sm-2.col-form-label Fax
            .col-sm-4
              = text_field_tag "vendor[fax_number]", @vendor_fax, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Contact
            .col-sm-4
              = text_field_tag "vendor[contact_person]", @vendor_contact, class: 'form-control'
            %label.col-sm-2.col-form-label Email
            .col-sm-4
              = text_field_tag "vendor[email]", @vendor_email, class: 'form-control'


    .col-md-6
      .card
        .card-header SHIP TO
        .card-body
          .form-group.row
            %label.col-sm-2.col-form-label Name
            .col-sm-10
              = f.select(:warehouse_id, @warehouses.collect {|c| [c.name, c.id]}, {include_blank: true}, {class: 'form-control select2-create'})
          .form-group.row
            %label.col-sm-2.col-form-label Addr. 1
            .col-sm-4
              = text_area_tag "warehouse[address1]", @warehouse_address1, class: 'form-control'
            %label.col-sm-2.col-form-label Addr. 2
            .col-sm-4
              = text_area_tag "warehouse[address2]", @warehouse_address2, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Country
            .col-sm-4
              = select_tag "warehouse[country_code]", options_for_select(CountryStateSelect.countries_collection, @warehouse_country), include_blank: true, class: 'form-control select2'
            %label.col-sm-2.col-form-label Prov.
            .col-sm-4
              = select_tag "warehouse[province_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

          .form-group.row
            %label.col-sm-2.col-form-label City
            .col-sm-4
              = select_tag "warehouse[city_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

            %label.col-sm-2.col-form-label Postal
            .col-sm-4
              = text_field_tag "warehouse[postal_code]", @warehouse_postal, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Phone
            .col-sm-4
              = text_field_tag "warehouse[phone_number]", @warehouse_phone, class: 'form-control'
            %label.col-sm-2.col-form-label Fax
            .col-sm-4
              = text_field_tag "warehouse[fax_number]", @warehouse_fax, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Contact
            .col-sm-4
              = text_field_tag "warehouse[contact_person]", @warehouse_contact, class: 'form-control'
            %label.col-sm-2.col-form-label Email
            .col-sm-4
              = text_field_tag "warehouse[email]", @warehouse_email, class: 'form-control'

  .clearfix-big
  .row
    .col-md-12
      %h4 Payment Info
      %hr
      .form-group.row
        %label.col-sm-2.col-form-label Purchased Date
        .col-sm-4
          = f.text_field :purchased_date, class: "datepicker form-control"
        %label.col-sm-2.col-form-label Created By
        .col-sm-4
          - if current_user.role.name == "admin"
            = f.select(:user_id, @users.collect {|a| [a.email, a.id]},  {include_blank: true, selected: @purchase_order.user_id.present? ? @purchase_order.user_id : current_user.id }, {class: 'select2 form-control'})
          - elsif current_user.role.name == "sales"
            = f.select(:user_id, @current_users.collect {|a| [a.email, a.id]},  {include_blank: true, selected: current_user.id}, {class: 'select2 form-control'})


      .form-group.row
        %label.col-sm-2.col-form-label Method of Payment
        .col-sm-4
          = f.select(:payment_method_id, @payment_methods.collect {|pm| [pm.name, pm.id]}, {include_blank: true}, {class: 'form-control select2'})
        %label.col-sm-2.col-form-label Tax
        .col-sm-4
          = f.select(:tax_id, @taxes.collect {|t| ["#{t.province_code} #{t.code}: #{t.percentage}%", t.id]}, {include_blank: true}, {class: 'form-control select2'})


  .clearfix-big
  %div.purchase-order-item
    %label PURCHASE ORDER ITEMS

  #sub_categories
    = f.fields_for :purchase_order_items do |purchase_order_item|
      = render 'purchase_order_item_fields', f: purchase_order_item

    = link_to_add_association "<i class='fa fa-plus'></i> Add Item".html_safe, f, :purchase_order_items, :class => "btn btn-info btn-xs add-purchase-order-item"


  .clearfix-big
  .clearfix-big
  .card
    .card-body
      .float-right
        .form-group.row
          .col
            %label TAX (%)
            = f.text_field :tax_percentage, class: 'form-control', value: 13
          .col
            %label Tax Amount
            = f.text_field :tax_amount, class: 'form-control'
            = hidden_field_tag "changable-tax"
        .form-group.row
          .col
            %label Sub Total
            = f.text_field :sub_total, class: 'form-control disabled'
          .col
            %label Freight
            %span#after-tax
            = f.text_field :freight, class: 'form-control'

        .form-group.row
          .col
            %label TOTAL
            = f.text_field :total, class: 'form-control disabled'


  .clearfix
  .form-group.row
    .col-sm-8
      .form-group.row

        .col-md-10
          %label Note
          = f.text_area :note, class: "form-control"

  .clearfix
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/purchase_orders"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save


:javascript

  $( document ).ready(function() {

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true
    });

    $('#vendor_province_code').select2({
      placeholder: "#{@vendor_province}"
    });
    $('#vendor_city_code').select2({
      placeholder: "#{@vendor_city}"
    });

    $('#warehouse_province_code').select2({
      placeholder: "#{@warehouse_province}"
    });
    $('#warehouse_city_code').select2({
      placeholder: "#{@warehouse_city}"
    });

    $(".select2-create").select2({
      placeholder: "Select or Create",
      allowClear: true,
      tags: true
    });

    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $("#purchase_order_tax_id").on('change', function() {
      var id = $(this).val();
      $.ajax({
        type: "GET",
        url: "/admin/purchase_orders/get_tax_details",
        dataType: "json",
        data: {
          tax_id: id
        },
        success: function(data) {
          $("#purchase_order_tax_percentage").val(data.percentage);
        }
      });
    });

    $('#purchase_order_vendor_id').on('change', function() {
      var vendorId = $("#purchase_order_vendor_id option:selected").val();

      if(vendorId >= 1) {
          $.ajax({
            type: "GET",
            url: "/admin/purchase_orders/get_vendor_details",
            dataType: "json",
            data: {
              vendor_id: vendorId
            },
            success: function(data) {
              $("#vendor_address1").html(data.address1).prop( "disabled", true );
              $("#vendor_address2").html(data.address2).prop( "disabled", true );
              $('#vendor_country_code').val(data.country_code).trigger('change').prop( "disabled", true );
              $("#vendor_city_code").select2({ placeholder: data.city_code }).prop( "disabled", true );
              $("#vendor_province_code").select2({ placeholder: data.province_code }).prop( "disabled", true );
              $("#vendor_postal_code").val(data.postal_code).prop( "disabled", true );
              $("#vendor_phone_number").val(data.phone_number).prop( "disabled", true );
              $("#vendor_fax_number").val(data.fax_number).prop( "disabled", true );
              $("#vendor_contact_person").val(data.contact_person).prop( "disabled", true );
              $("#vendor_email").val(data.email).prop( "disabled", true );

              // if(data.tax_id != null) {
              //   $("#purchase_order_tax_id").val(data.tax_id).trigger('change');
              //   $("#purchase_order_tax_percentage").val(data.percentage);
              // } else {
              //   $("#purchase_order_tax_id").val('').trigger('change');
              //   $("#purchase_order_tax_percentage").val(0);
              // }


            }
          });
      } else {
        $("#vendor_address1").html(null).prop( "disabled", false );
        $("#vendor_address2").html(null).prop( "disabled", false );
        $('#vendor_country_code').prop( "disabled", false );
        $("#vendor_city_code").select2({ placeholder: 'Select Provice 1st' }).prop( "disabled", false );
        $("#vendor_province_code").select2({ placeholder: 'Select Country 1st' }).prop( "disabled", false );
        $("#vendor_postal_code").val(null).prop( "disabled", false );
        $("#vendor_phone_number").val(null).prop( "disabled", false );
        $("#vendor_fax_number").val(null).prop( "disabled", false );
        $("#vendor_contact_person").val(null).prop( "disabled", false );
        $("#vendor_email").val(null).prop( "disabled", false );
      }
    });

    $('#purchase_order_warehouse_id').on('change', function() {
      var warehouseId = $("#purchase_order_warehouse_id option:selected").val();

      if(warehouseId >= 1) {
          $.ajax({
            type: "GET",
            url: "/admin/purchase_orders/get_warehouse_details",
            dataType: "json",
            data: {
              warehouse_id: warehouseId
            },
            success: function(data) {
              $("#warehouse_address1").html(data.address1).prop( "disabled", true );
              $("#warehouse_address2").html(data.address2).prop( "disabled", true );
              $('#warehouse_country_code').val(data.country_code).trigger('change').prop( "disabled", true );
              $("#warehouse_city_code").select2({ placeholder: data.city_code }).prop( "disabled", true );
              $("#warehouse_province_code").select2({ placeholder: data.province_code }).prop( "disabled", true );
              $("#warehouse_postal_code").val(data.postal_code).prop( "disabled", true );
              $("#warehouse_phone_number").val(data.phone_number).prop( "disabled", true );
              $("#warehouse_fax_number").val(data.fax_number).prop( "disabled", true );
              $("#warehouse_contact_person").val(data.contact_person).prop( "disabled", true );
              $("#warehouse_email").val(data.email).prop( "disabled", true );
            }
          });
      } else {
        $("#warehouse_address1").html(null).prop( "disabled", false );
        $("#warehouse_address2").html(null).prop( "disabled", false );
        $('#warehouse_country_code').prop( "disabled", false );
        $("#warehouse_city_code").select2({ placeholder: 'Select Provice 1st' }).prop( "disabled", false );
        $("#warehouse_province_code").select2({ placeholder: 'Select Country 1st' }).prop( "disabled", false );
        $("#warehouse_postal_code").val(null).prop( "disabled", false );
        $("#warehouse_phone_number").val(null).prop( "disabled", false );
        $("#warehouse_fax_number").val(null).prop( "disabled", false );
        $("#warehouse_contact_person").val(null).prop( "disabled", false );
        $("#warehouse_email").val(null).prop( "disabled", false );
      }
    });


    $('#vendor_country_code').change(function() {
      var country = $(this).val();
      return $.ajax({
        type: "GET",
        url: "/admin/purchase_orders/get_states",
        data: {
          country: country
        }
      });
    });

    $('#vendor_province_code').change(function() {
      var state = $(this).val();
      var country = $('#vendor_country_code').val();

      return $.ajax({
        type: "GET",
        url: "/admin/purchase_orders/get_cities",
        data: {
          country: country,
          state: state
        }
      });
    });

    $("#purchase_order_freight").bind('keyup mouseup', function (e) {
      var tax_amount = $("#purchase_order_tax_amount").val();
      var subtotal = $("#purchase_order_sub_total").val();
      var freight = $(this).val();
      var tax = $("#purchase_order_tax_percentage").val();

      if (tax == "") {
        tax = 0;
      }

      if (tax_amount == "") {
        tax_amount = 0;
      }
      if (subtotal == "") {
        subtotal = 0;
      }
      if (freight == "") {
        freight = 0;
      }

      var freight_amount =  ((parseFloat(tax)/ 100) * parseFloat(freight)).toFixed(2);
      var total_tax = (parseFloat(freight_amount) + parseFloat(tax_amount));


      $("#after-tax").html("+ ("+freight_amount+")");
      $("#changable-tax").val(total_tax);

      var final_computation = (parseFloat(total_tax) + parseFloat(subtotal) + parseFloat(freight));
      $("#purchase_order_total").val(final_computation);

    });

  });