.nested-fields#purchase-order-fields
  = f.hidden_field :_destroy
  .form-group.row
    .col-sm-3
      = f.text_field :item_sku, class: 'form-control', placeholder: 'Item SKU'
    .col-sm-3
      = f.text_field :description, class: 'form-control', placeholder: 'Description'
    .col-sm-1
      = f.number_field :qty, class: 'form-control poi-qty', placeholder: 'Qty'
    .col-sm-2
      = f.number_field :rate, class: 'form-control poi-price', placeholder: "Price"
    .col-sm-2
      = f.number_field :amount, class: 'form-control item-subtotal', placeholder: "Total"

    .col-sm-1
      = link_to_remove_association "<i class='fas fa-times'></i>".html_safe, f, class: "btn btn-xs btn-danger remove_fields"


:javascript
  $( document ).ready(function() {

    $(".poi-price").bind('keyup mouseup', function (e) {
      var selectId = $(this).attr("id");
      var numb = selectId.match(/\d/g);
      numb = numb.join("");

      var qty = numb+"_qty";
      var rate = numb+"_rate";
      var total = numb+"_amount";

      var qty_val = $("#purchase_order_purchase_order_items_attributes_"+qty).val();
      var rate_val = $("#purchase_order_purchase_order_items_attributes_"+rate).val();

      var compute = parseFloat(qty_val) * parseFloat(rate_val);

      $("#purchase_order_purchase_order_items_attributes_"+total).val(compute);

      var arr = $(".item-subtotal");
      var tot=0;
      for(var i=0;i<arr.length;i++){
        if(parseFloat(arr[i].value))
            tot += parseFloat(arr[i].value);
      }

      var tax = $("#purchase_order_tax_percentage").val();
      if (tax == "") {
        tax = 0;
      }

      var tax_amount =  ((parseFloat(tax)/ 100) * parseFloat(tot)).toFixed(2)
      $("#purchase_order_tax_amount").val(tax_amount);
      $("#purchase_order_sub_total").val(parseFloat(tot));

      var freight = $("#purchase_order_freight").val();
      if (freight == "") {
        freight = 0;
      }

      var final_computation = (parseFloat(tot) + parseFloat(tax_amount) + parseFloat(freight));
      $("#purchase_order_total").val(final_computation);

    });

    $(".poi-qty").bind('keyup mouseup', function (e) {
      var selectId = $(this).attr("id");
      var numb = selectId.match(/\d/g);
      numb = numb.join("");

      var qty = numb+"_qty";
      var rate = numb+"_rate";
      var total = numb+"_amount";

      var qty_val = $("#purchase_order_purchase_order_items_attributes_"+qty).val();
      var rate_val = $("#purchase_order_purchase_order_items_attributes_"+rate).val();

      var compute = parseFloat(qty_val) * parseFloat(rate_val);

      $("#purchase_order_purchase_order_items_attributes_"+total).val(compute);

      var arr = $(".item-subtotal");
      var tot=0;
      for(var i=0;i<arr.length;i++){
        if(parseFloat(arr[i].value))
            tot += parseFloat(arr[i].value);
      }

      var tax = $("#purchase_order_tax_percentage").val();
      if (tax == "") {
        tax = 0;
      }

      var tax_amount =  ((parseFloat(tax)/ 100) * parseFloat(tot)).toFixed(2)
      $("#purchase_order_tax_amount").val(tax_amount);
      $("#purchase_order_sub_total").val(parseFloat(tot));

      var freight = $("#purchase_order_freight").val();
      if (freight == "") {
        freight = 0;
      }

      var final_computation = (parseFloat(tot) + parseFloat(tax_amount) + parseFloat(freight));
      $("#purchase_order_total").val(final_computation);

    });


  });


