.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Update Purchase Order
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/purchase_orders"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/purchase_orders/#{@purchase_order.id}"}= @purchase_order.purchase_order_number
      %li.breadcrumb-item
        %a{:href => "/admin/purchase_orders/new"} Create New
      %li.breadcrumb-item.active
        %strong Edit
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Purchase Order Form
          .ibox-tools
            %a.collapse-link#po-edit
              %i.fa.fa-chevron-up

        .ibox-content.po-edit
          = render "form"