%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js", :type => "text/javascript"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js", :type => "text/javascript"}


.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Purchase Orders
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong All
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/purchase_orders/new'}
        %i.fa.fa-plus
        Add Purchase Order

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link#po-filter
              %i.fa.fa-chevron-up
        .ibox-content.collapse.po-filter
          = render 'filter'

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Purchase Orders Table
          .ibox-tools
            %a.collapse-link#po-index
              %i.fa.fa-chevron-up


        .ibox-content.po-index
          .table-responsive
            %table.table.table-bordered.table-hover#purchasse_order_dt
              %thead
                %tr
                  %th{width: "8%"} ID
                  %th Purchased Date
                  %th # of Items
                  %th Vendor
                  %th Warehouse
                  %th Payment Method
                  %th Tax
                  %th Freight
                  %th Total
                  %th Sub Total
                  %th Created By
                  
              %tbody
                - @purchase_orders.each do |purchase_order|
                  %tr
                    %td
                      %a{href: "/admin/purchase_orders/#{purchase_order.id}"}
                        = "P-#{purchase_order.id}"
                    %td= format_full_date(purchase_order.purchased_date)
                    %td= purchase_order.purchase_order_items.sum(:qty)
                    %td= purchase_order.vendor_id.present? ? purchase_order.vendor.name : "---"
                    %td= purchase_order.warehouse_id.present? ? purchase_order.warehouse.name : "---"
                    %td= purchase_order.payment_method_id.present? ? purchase_order.payment_method.name : "---"
                    %td= purchase_order.tax_id.present? ? "#{purchase_order.tax.code} - #{purchase_order.tax_percentage} %" : "---"
                    %td= purchase_order.freight
                    %td= purchase_order.total
                    %td= purchase_order.sub_total
                    %td= purchase_order.user_id.present? ? purchase_order.user.email : "---"


:javascript
  $( document ).ready(function() {


    $('#purchasse_order_dt').dataTable({
      searching: false,
      paging: true,
      info: true,
      "order": [[ 1, "desc" ]],
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'print', {
                extend: 'pdf',
                orientation: 'landscape'
            }
      ]
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });
  });