.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Purchase Order
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/purchase_orders"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/purchase_orders/new"} Create New
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-4
    .clearfix-big
    .float-right
      %input.hidden#lastId{:value => @po_first_id.id}
      %input.hidden#nextId{:value => @po_last_id.id}

      %a.btn.btn-default.mr-3.prevItem{href: 'javascript:void(0)', id: @purchase_order.id}
        %i.fa.fa-arrow-left
        PREV
      %a.btn.btn-default.mr-3.nextItem{href: 'javascript:void(0)', id: @purchase_order.id}
        NEXT
        %i.fa.fa-arrow-right

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"

  .toast.hidden
    .toast-body
      #notif-message
      #redirect
        %i.fas.fa-circle-notch.fa-spin
        %span.ml-2

  .row
    .col-md-12
      .ibox
        .ibox-title
          %h5
            = @purchase_order.purchase_order_number
            %small.m-l-sm Purchase Order Number
          .ibox-tools
            %a.btn.btn-default.btn-xs.mr-2.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
              Actions
            %ul.dropdown-menu.dropdown-user
              %li
                %a.dropdown-item{:href => "/admin/purchase_orders/#{@purchase_order.id}/edit"} Edit
              - unless @already_sent
                - if @purchase_order.purchase_order_items.any?
                  %li
                    %a.dropdown-item.add-to-inventory{:href => "javascript:void(0)", id: "#{@purchase_order.id}"} Send To Inventory
              %li
                %a.dropdown-item.duplicate-record-all{:href => "javascript:void(0);", id: "#{@purchase_order.id}"} Clone with Items
              %li
                %a.dropdown-item.duplicate-record-only{:href => "javascript:void(0);", id: "#{@purchase_order.id}"} Clone w/o Items
            %a.collapse-link#po-show
              %i.fa.fa-chevron-up

        .ibox-content#po-show
          .row.justify-content-center#vendor-content
            .col-md-4
              %h5 VENDOR
              %h4= @purchase_order.vendor.name
              .small.text-muted
                = "#{@purchase_order.vendor.city_code}, #{@purchase_order.vendor.state_name} #{@purchase_order.vendor.country_name}"
              %dl.small.m-t-md
                %dt Phone Number
                %dd= @purchase_order.vendor.phone_number
                %dt Fax Number
                %dd= @purchase_order.vendor.fax_number
                %dt Contact Person
                %dd= @purchase_order.vendor.contact_person
                %dt Email
                %dd= @purchase_order.vendor.email

            .col-md-3
              %h5 SHIP TO
              %h4= @purchase_order.warehouse.name
              .small.text-muted
                = "#{@purchase_order.warehouse.city_code}, #{@purchase_order.warehouse.state_name} #{@purchase_order.warehouse.country_name}"
              %dl.small.m-t-md
                %dt Phone Number
                %dd= @purchase_order.warehouse.phone_number
                %dt Fax Number
                %dd= @purchase_order.warehouse.fax_number
                %dt Contact Person
                %dd= @purchase_order.warehouse.contact_person
                %dt Email
                %dd= @purchase_order.warehouse.email.present? ? @purchase_order.warehouse.email : "N/A"
            .col-md-3
              %h5 INFO 1
              %h4= @purchase_order.purchase_order_number
              .small.text-muted
                Purchase Order Number
              %dl.small.m-t-md
                %dt Purchased Date
                %dd= format_full_date(@purchase_order.purchased_date)
                %dt Payment Method
                %dd= @purchase_order.payment_method.name
                %dt Created By
                %dd= @purchase_order.user.email
                %dt Tax
                %dd= @purchase_order.tax_id.present? ? @purchase_order.tax.code : @purchase_order.tax_percentage
            .col-md-2
              %h5 INFO 2
              %h4= @purchase_order.tax_id.present? ? @purchase_order.tax.code : "Default: #{@purchase_order.tax_percentage}%"
              .small.text-muted
                TAX Code
              %dl.small.m-t-md
                %dt Sub Total
                %dd= number_to_currency(@purchase_order.sub_total, :unit => "$ ")
                %dt Tax percentage (%)
                %dd= "#{@purchase_order.tax_percentage} %"
                %dt Freight
                %dd= number_to_currency(@purchase_order.freight, :unit => "$ ")
                %dt TOTAL
                %dd= number_to_currency(@purchase_order.total, :unit => "$ ")




            .col-md-6

          .clearfix-sm
          %hr

          .row.justify-content-center#vendor-content
            .col-md-12
              %table.table.table-bordered#po_item_dt
                %thead
                  %tr
                    %th Item SKU
                    %th Description
                    %th QTY
                    %th Rate
                    %th Amount
                %tbody
                  - @purchase_order.purchase_order_items.each do |item|
                    %tr
                      %td= item.item_sku
                      %td= item.description
                      %td= item.qty
                      %td= price_display(item.rate)
                      %td= price_display(item.amount)


:javascript
  $( document ).ready(function() {
    $('#po_item_dt').DataTable();

    $('.duplicate-record-all').on('click', function (e) {
      var id = $(this).attr('id');
      $.ajax({
        type: "POST",
        url: "/admin/purchase_orders/clone_with_item",
        dataType: "json",
        data: {
          purchase_order_id: id
        },
        success: function(data) {
          var notif = $('.toast');
          notif.removeClass('hidden');
          $('#notif-message').html('Successfully Duplicated with Items.');
          $('#redirect span').html("Redirecting to Cloned Purchase Order");
          setTimeout((function() {
            notif.addClass('hidden');
            window.location = "/admin/purchase_orders/"+data.id;
          }), 4000);
        }
      });
    });

    $('.duplicate-record-only').on('click', function (e) {
      var id = $(this).attr('id');
      $.ajax({
        type: "POST",
        url: "/admin/purchase_orders/clone",
        dataType: "json",
        data: {
          purchase_order_id: id
        },
        success: function(data) {
          var notif = $('.toast');
          notif.removeClass('hidden');
          $('#notif-message').html('Successfully Duplicated.');
          $('#redirect span').html("Redirecting to Cloned Purchase Order");
          setTimeout((function() {
            notif.addClass('hidden');
            window.location = "/admin/purchase_orders/"+data.id;
          }), 4000);
        }
      });
    });

    $('.add-to-inventory').on('click', function (e) {
      var id = $(this).attr('id');

      $.ajax({
        type: "POST",
        url: "/admin/purchase_orders/add_to_inventory",
        dataType: "json",
        data: {
          purchase_order_id: id
        },
        success: function(data) {
          var notif = $('.toast');
          notif.removeClass('hidden');
          $('#notif-message').html('Successfully Added to Inventory.');
          setTimeout((function() {
            notif.addClass('hidden');
            location.reload();
          }), 4000);
        }
      });
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

    var lastId = $("#lastId").val();
    if(lastId == "#{@purchase_order.id}") {
      $('.prevItem').addClass( "disabled" );
    } else {
      $('.prevItem').removeClass( "disabled" );
    }

    var nextId = $("#nextId").val();
    if((nextId == "#{@purchase_order.id}")) {
      $('.nextItem').addClass( "disabled" );
    } else {
      $('.nextItem').removeClass( "disabled" );
    }

    $('.prevItem').on('click', function (e) {
      var purchase_order_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/purchase_orders/get_prev_item",
        dataType: "json",
        data: {
          purchase_order_id: purchase_order_id
        },
        success: function(data) {
          window.location.href = "/admin/purchase_orders/"+data.id;
        }
      });

    });

    $('.nextItem').on('click', function (e) {
      var purchase_order_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/purchase_orders/get_next_item",
        dataType: "json",
        data: {
          purchase_order_id: purchase_order_id
        },
        success: function(data) {
          window.location.href = "/admin/purchase_orders/"+data.id;
        }
      });

    });
  });