- if @company.errors
  - @company.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @company]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Name
    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true

  .clearfix-sm
  %h5
    %i.fas.fa-map-marker-alt
    %span
      &nbsp; Company's Address
  %hr
  .form-group.row
    .col-sm-6
      %label.col-form-label Address 1
      = f.text_area :address1, class: 'form-control', required: true
      %label.col-form-label Country
      = f.select(:country_code, CountryStateSelect.countries_collection, {include_blank: true}, { :class => 'form-control select2' })
      %label.col-form-label State / Province
      = f.select(:province_code, options_for_select([]), {include_blank: true}, class: 'form-control select2' )


    .col-sm-6
      %label.col-form-label Address 2
      = f.text_area :address2, class: 'form-control'
      %label.col-form-label City
      = f.select(:city_code, options_for_select([]), {include_blank: true}, class: 'form-control select2' )
      %label.col-form-label Postal Code
      = f.text_field :postal_code, class: 'form-control', required: true

  .clearfix-sm
  %h5
    %i.fas.fa-phone-square-alt
    %span
      &nbsp; Company's Contact
  %hr
  .form-group.row
    %label.col-sm-2.col-form-label Phone Number
    .col-sm-4
      = f.text_field :phone_number, class: 'form-control', required: true
    %label.col-sm-2.col-form-label Fax Number
    .col-sm-4
      = f.text_field :fax_number, class: 'form-control'

  .form-group.row
    %label.col-sm-2.col-form-label Contact Person
    .col-sm-4
      = f.text_field :contact_person, class: 'form-control'
    %label.col-sm-2.col-form-label Email
    .col-sm-4
      = f.text_field :email, class: 'form-control'

  .clearfix-big
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/companies"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save

:javascript
  $('.select2').select2({
    placeholder: "Select",
    allowClear: true
  })

  $('#company_province_code').select2({
    placeholder: "#{@company.province_code.present? ? @company.province_code : 'Select Country First'}",
    allowClear: true
  });

  $('#company_city_code').select2({
    placeholder: "#{@company.city_code.present? ? @company.city_code : 'Select Province First'}",
    allowClear: true
  });

  $('#company_country_code').change(function() {
    var country = $(this).val();
    return $.ajax({
      type: "GET",
      url: "/admin/companies/get_states",
      data: {
        country: country
      }
    });
  });

  $('#company_province_code').change(function() {
    var state = $(this).val();
    var country = $('#company_country_code').val();

    return $.ajax({
      type: "GET",
      url: "/admin/companies/get_cities",
      data: {
        country: country,
        state: state
      }
    });
  });