.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Companies
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong Companies
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 VenCompaniesdors Table
          .ibox-tools

            %a.btn.btn-xs.btn-primary.mr-3{href: '/admin/companies/new'}
              %i.fa.fa-plus
              Add Company
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#company_dt
              %thead
                %tr
                  %th Name
                  %th{width: "15%"}
              %tbody
                - @companies.each do |company|
                  %tr
                    %td= company.name
                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/companies/#{company.id}/edit"}
                        %i.far.fa-edit
                      %a.btn.btn-xs{href: "/admin/companies/#{company.id}"}
                        %i.far.fa-eye
                      = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_company_path(company.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'


:javascript
  $( document ).ready(function() {
    $('#company_dt').DataTable();
  });