.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Company's Profile
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/companies"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/companies/new"} Create New
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-md-7
      .ibox
        .ibox-content#vendor-content
          .row
            .col-md-12
              %h2.font-bold.m-b-xs
                = @company.name
              %hr
              %h4= @company.country_name
              .small.text-muted
                = "#{@company.city_code}, #{@company.state_name}"

              .row
                .col-md-6
                  %dl.small.m-t-md
                    %dt Address 1
                    %dd= @company.address1
                    %dt Address 2
                    %dd= @company.address2
                    %dt Postal Code
                    %dd= @company.postal_code

                .col-md-6
                  %dl.small.m-t-md
                    %dt Phone Number
                    %dd= @company.phone_number
                    %dt Fax Number
                    %dd= @company.fax_number.present? ? @company.fax_number : "N/A"
                    %dt Contact Peson
                    %dd= @company.contact_person


              %hr/
              %div
                .btn-group
                  %a.btn.btn-white.btn-sm{:href => "mailto:#{@company.email}?", :target => "_top", disabled: @company.email.present? ? false : true}
                    %i.fa.fa-envelope
                    Contact Company
                  %a.btn.btn-primary.btn-sm{href: "/admin/companies/#{@company.id}/edit"}
                    %i.fa.fa-edit
                    Edit