$('#customer_city_code').html("<%= j options_for_select(@cities) %>");

console.log("<%= @tax %>");
if("<%= @tax %>" != 0) {
  $("#customer_tax_id").val("<%= @tax %>");
  $("#tax_code").val("<%= @tax_code %>");
  $("#tax_percentage").val("<%= @tax_percentage %>");
}
else {
  $("#customer_tax_id").val("");
  $("#tax_code").val("");
  $("#tax_percentage").val("");
}