.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Customer's Profile
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/customers"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/customers/new"} Create New
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-md-7
      .ibox
        .ibox-content#customer-content
          .row
            .col-md-12
              %h2.font-bold.m-b-xs
                = @customer.name
              %hr
              %h4= @customer.country_code.present? ? @customer.country_name : "No Location"
              - if @customer.city_code.present? && @customer.state_name.present?
                .small.text-muted
                  = "#{@customer.city_code}, #{@customer.state_name}"

              .row
                .col-md-6
                  %dl.small.m-t-md
                    %dt Address 1
                    %dd= @customer.address1.present? ? @customer.address1 : "NA"
                    %dt Address 2
                    %dd= @customer.address2.present? ? @customer.address2 : "NA"
                    %dt Postal Code
                    %dd= @customer.postal_code.present? ? @customer.postal_code : "NA"

                .col-md-6
                  %dl.small.m-t-md
                    %dt Phone Number
                    %dd= @customer.phone_number.present? ? @customer.phone_number : "NA"
                    %dt Fax Number
                    %dd= @customer.fax_number.present? ? @customer.fax_number : "N/A"
                    %dt Contact Peson
                    %dd= @customer.contact_name.present? ? @customer.contact_name : "NA"
                    %dt Tax
                    %dd= @customer.tax_id.present? ? @customer.tax.code : "NA"


              %hr/
              %div
                .btn-group
                  %a.btn.btn-white.btn-sm{:href => "mailto:#{@customer.email}?", :target => "_top", disabled: @customer.email.present? ? false : true}
                    %i.fa.fa-envelope
                    Contact Customer
                  %a.btn.btn-primary.btn-sm{href: "/admin/customers/#{@customer.id}/edit"}
                    %i.fa.fa-edit
                    Edit

