- if @order.errors
  - @order.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @order]) do |f|
  .form-group.row
    %label.col-sm-3.col-form-label Quote
    .col-sm-7
      - if @order.new_record?
        = f.select(:quote_id, @available_quotes.collect {|a| [a.id, a.id]},  {include_blank: true}, {class: 'select2 form-control'})
      - else
        = f.text_field :quote_id, class: "form-control disabled"

  .form-group.row
    %label.col-sm-3.col-form-label Salesperson
    .col-sm-7
      - if current_user.role.name == "admin"
        = f.select(:user_id, @users.collect {|us| [us.email, us.id]},  {include_blank: true, selected: current_user.id}, {class: 'form-control select2'})
      - elsif current_user.role.name == "sales"
        = f.select(:user_id, @current_users.collect {|a| [a.email, a.id]},  {include_blank: true, selected: current_user.id}, {class: 'select2 form-control'})

  .form-group.row
    %label.col-sm-3.col-form-label Delivery Method
    .col-sm-7
      = f.select(:delivery_method_id, @delivery_methods.collect {|dm| [dm.name, dm.id]},  {include_blank: true, selected: @order.delivery_method_id.present? ? @order.delivery_method_id : nil}, {class: 'form-control select2'})

  .form-group.row
    %label.col-sm-3.col-form-label Delivery Type
    .col-sm-7
      = f.select(:delivery_type_id, @delivery_types.collect {|dt| [dt.name, dt.id]},  {include_blank: true, selected: @order.delivery_type_id.present? ? @order.delivery_type_id : nil}, {class: 'form-control select2'})

  .form-group.row
    %label.col-sm-3.col-form-label Status
    .col-sm-7
      = f.select(:order_status_id, @order_statuses.collect {|os| [os.name, os.id]}, {include_blank: true}, :class=>"form-control select2", disabled: @is_shipped)

  .form-group.row
    %label.col-sm-3.col-form-label Shipped Date
    .col-sm-7
      = f.text_field :shipped_date, class: "datepicker form-control"

  - unless @order.new_record?
    .clearfix-big
    %div.purchase-order-item
      %label ASSIGNED ITEMS

    .form-group.row
      .col-md-4
        %label Search Serial
        = text_field_tag "autocomplete", nil, class: "form-control search-input"
      .col
        %label Result:
        = text_field_tag "result_serial", nil, class: "form-control result_serial"
        = text_field_tag "result_id", nil, class: "form-control result_id hidden"
    .form-group.row
      .col
        .float-right
          %a.btn.btn-secondary.btn-sm.add-item{href: "javascript:void(0)"} Add Item

    %hr
    #order_items
      = f.fields_for :order_items do |order_item|
        = render 'order_item_fields', f: order_item

      .col-md-5
        .clearfix-sm
        = link_to_add_association "<i class='fa fa-plus'></i> Add Item".html_safe, f, :order_items, :class => "btn btn-info btn-sm btn add-order-item hidden"
        .clearfix-sm


  .clearfix-big
  .clearfix-big
  .form-group.row
    .col-sm-10
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/orders"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save

  .clearfix-big
  - if !@order.new_record?
    - if @order.item_ids.any?
      %label Assigned Items
      %ul.list-group
        - arry_item_ids = @order.item_ids.map(&:to_i).drop(1)
        - arry_item_ids.each do |item|
          %li.list-group-item= Item.find(item.to_i).serial || Item.find(item.to_i).id



:javascript
  $( document ).ready(function() {
    $("#order_item_ids").select2();

    $('#item_maker_id').change(function() {
      var id = $(this).val();
      return $.ajax({
        type: "GET",
        url: "/admin/orders/update_maker_model",
        data: {
          maker_id: id
        }
      });
    });

    $("#item_maker_model_id").change(function() {
      var maker_model_id = $(this).val();
      var maker_id = $('#item_maker_id').val();
      return $.ajax({
        type: "GET",
        url: "/admin/orders/update_items",
        data: {
          maker_id: maker_id,
          maker_model_id: maker_model_id
        }
      });
    });

    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('#order_quote_id').change(function() {
      var id = $(this).val();

      $.ajax({
        type: "GET",
        url: "/admin/orders/get_quote",
        dataType: "json",
        data: {
          quote_id: id
        },
        success: function(data) {
          console.log(data);
          $("#quote-summary").removeClass("hidden");
          $("#date-required-order").html(data.date_required);
          $("#status-order").html(data.status);
          $("#total-order").html(data.total);
          $("#total-subtotal").html(data.subtotal);
        }
      });

    });

    $(".search-input").bind('keyup', function (e) {
      if (e.which >= 97 && e.which <= 122) {
          var newKey = e.which - 32;
          e.keyCode = newKey;
          e.charCode = newKey;
      }
      $(this).val($(this).val().toUpperCase());
      var serial = $(this).val();

      $.ajax({
        type: "GET",
        url: "/admin/orders/autocomplete",
        dataType: "json",
        data: {
          serial: serial
        },
        success: function(item) {
          if((item != undefined) || (item != null)) {
            $(".result_serial").val(item.serial.toUpperCase());
            $(".result_id").val(item.id);
          }
        }
      });

    });

    $(".add-item").on("click", function(e) {
      $(".add-order-item").click();
      var id = $("#order_items").next('input').attr('id');
      var result_serial = $(".result_serial").val();
      var result_id = $(".result_id").val();
      $('#order_items .nested-fields').last().find(".serial-item").val(result_serial);
      $('#order_items .nested-fields').last().find(".serial-id").val(result_id);

      $(".result_serial").val("");
      $(".result_id").val("");
      $(".search-input").val("");
    });


  });

