.nested-fields#quote-fields
  = f.hidden_field :_destroy
  .form-group.row
    .col
      %label Item
      = f.text_field :serial, class: "form-control serial-item"
    .col
      %label Item ID
      = f.text_field :item_id, class: "form-control serial-id disabled"
    .col
      %br
      = link_to_remove_association "<i class='fas fa-times'></i>".html_safe, f, class: "btn btn-xs btn-danger remove_fields"

:javascript
  $( document ).ready(function() {
  });