.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Update Order
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/orders"} List View
      %li.breadcrumb-item.active
        %strong Edit
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-7
      .ibox
        .ibox-title
          %h5 Order Form
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up

        .ibox-content
          = render "form"

    .col-lg-5
      - if @order.quote_id.present?
        .ibox#quote-summary
          .ibox-title
            %h5 Quote Summary
          .ibox-content
            %table.table
              %tr
                %th Date Required
                %td= @order.quote.date_required.present? ? format_full_date(@order.quote.date_required) : "NA"
              %tr
                %th Quote Status
                %td= @order.quote.status.present? ? @order.quote.status : "NA"
              %tr
                %th Salesperson
                %td= @order.quote.user_id.present? ? @order.quote.user.email : "NA"
              %tr
                %th No. of Item/s
                %td= @order.quote.quote_items.count
              %tr
                %th Total
                %td= @order.quote.total.present? ? price_display(@order.quote.total) : "$0"
              %tr
                %th Sub Total
                %th= @order.quote.subtotal.present? ? price_display(@order.quote.subtotal) : "$0"

