.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Orders
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/orders/new'}
        %i.fa.fa-plus
        Add Order

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Orders Table
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#order_dt
              %thead
                %tr
                  %th{width: "8%"} ID
                  %th Quote Id
                  %th Delivery Method
                  %th Delivery Type
                  %th Status
                  %th Approved Date
                  %th Shipped Date
              %tbody
                - @orders.each do |order|
                  %tr
                    %td
                      %a{href: "/admin/orders/#{order.id}"}
                        = "O-#{order.id}"
                    %td
                      %a{href: "/admin/quotes/#{order.quote_id}"}
                        = "Q-#{order.quote_id}"
                    %td= order.delivery_method_id.present? ? order.delivery_method.name : "NA"
                    %td= order.delivery_type_id.present? ? order.delivery_type.name : "NA"
                    %td= order.status.present? ? order.status : "NA"
                    %td= format_full_date(order.created_at)
                    %td= order.shipped_date.present? ? format_full_date(order.shipped_date) : "NA"


:javascript
  $( document ).ready(function() {
    $('#order_dt').DataTable();
  });