.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Create Order
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/orders"} List View
      %li.breadcrumb-item.active
        %strong New
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-7
      .ibox
        .ibox-title
          %h5 Order Form
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up

        .ibox-content
          = render "form"

    .col-lg-5
      .ibox#quote-summary
        .ibox-title
          %h5 Quote Summary
        .ibox-content
          %table.table
            %tr
              %th Date Required
              %td
                #date-required-order
            %tr
              %th Quote Status
              %td
                #status-order
            %tr
              %th Total
              %td
                #total-order
            %tr
              %th Sub Total
              %th
                #total-subtotal

