.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Order's Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/orders"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-4
    .clearfix-big
    .float-right
      %input.hidden#lastId{:value => @order_first_id.id}
      %input.hidden#nextId{:value => @order_last_id.id}

      %a.btn.btn-default.mr-3.prevItem{href: 'javascript:void(0)', id: @order.id}
        %i.fa.fa-arrow-left
        PREV
      %a.btn.btn-default.mr-3.nextItem{href: 'javascript:void(0)', id: @order.id}
        NEXT
        %i.fa.fa-arrow-right


.wrapper.wrapper-content
  .row
    .col-lg-6
      .ibox
        .ibox-title
          %h5
            Order
            %small.m-l-sm Summary
        .ibox-content
          .row
            .col-lg-12
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Order:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @order.id
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Quote ID:
                .col-sm-9.text-sm-left
                  %dd.mb-1
                    = @order.quote_id
                    %span
                      %a{href: "/admin/quotes/#{@order.quote_id}"} &nbsp; View Quote

              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Delivery Method:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @order.delivery_method_id.present? ? @order.delivery_method.name : "NA"
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Delivery Type:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @order.delivery_type_id.present? ? @order.delivery_type.name : "NA"

              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Status:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @order.order_status_id.present? ? @order.order_status.name : "NA"
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Salesperson:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @order.user.email

              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Approved Date:
                .col-sm-9.text-sm-left
                  %dd.mb-1
                    %span.label.label-primary= format_full_date(@order.created_at)

              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Shipped Date:
                .col-sm-9.text-sm-left
                  %dd.mb-1
                    %span.label.label-primary= @order.shipped_date.present? ? format_full_date(@order.shipped_date) : "NA"
              %hr
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Requested Date:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @quote.date_required.present? ? format_full_date(@quote.date_required) : "NA"
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Sub Total:
                .col-sm-9.text-sm-left= @quote.subtotal.present? ? number_to_currency(@quote.subtotal, :unit => "$ ") : "-"

              %hr
              %label Assigned Items
              %br
              - if @order.order_items.any?
                %label Serials
                %p= @order.order_items.pluck(:serial).map(&:inspect).join(', ')

          .clearfix-big
          .row
            .col-lg-4
              = link_to "Delete", admin_order_path(@order.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-block'

            .col-lg-4
              %a.btn.btn-primary.btn-block{href: "/admin/orders/#{@order.id}/edit"}
                %i.fa.fa-edit
                Edit

    .col-lg-6
      .ibox
        .ibox-title
          %h5
            Order
            %small.m-l-sm Details

        .ibox-content
          .row
            .col-lg-12
              %label Customer
              .table-responsive
                %table.table.table-bordered.table-hover
                  %tr
                    %th Name
                    %td= @quote.customer_id.present? ? @quote.customer.name : "NA"
              %label Ship To
              - if @shipto.present?
                .table-responsive
                  %table.table.table-bordered.table-hover
                    %tr
                      %th Address 1
                      %td= @shipto.address1
                    %tr
                      %th Address 2
                      %td= @shipto.address2
                    %tr
                      %th City
                      %td= @shipto.city_code
                    %tr
                      %th Province
                      %td= @shipto.state_name
                    %tr
                      %th Country
                      %td= @shipto.country_name
                    %tr
                      %th Postal Code
                      %td= @shipto.postal_code

              - else
                .table-responsive
                  %table.table.table-bordered.table-hover
                    %tr
                      %th Address 1
                      %td= @quote.customer.address1
                    %tr
                      %th Address 2
                      %td= @quote.customer.address2
                    %tr
                      %th City
                      %td= @quote.customer.city_code
                    %tr
                      %th Province
                      %td= @quote.customer.state_name
                    %tr
                      %th Country
                      %td= @quote.customer.country_name
                    %tr
                      %th Postal Code
                      %td= @quote.customer.postal_code


  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5
            Order
            %small.m-l-sm Items
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#order_dt
              %thead
                %tr
                  %th{width: "5%"} ID
                  %th{width: "10%"} Warranty
                  %th{width: "12%"} Make
                  %th{width: "12%"} Model
                  %th{width: "10%"} Part Number
                  %th Description
                  %th{width: "5%"} QTY
                  %th{width: "8%"} Each Price
              %tbody
                - @quote.quote_items.each do |quote_item|
                  %tr
                    %td= quote_item.id
                    %td= quote_item.warranty_id.present? ? ProductWarranty.where(id: quote_item.warranty_id).first.name : "NA"
                    %td= quote_item.maker_id.present? ? quote_item.maker.name : "NA"
                    %td= quote_item.maker_model_id.present? ? quote_item.maker_model.name : "NA"
                    %td= quote_item.part_number.present? ? quote_item.part_number : "NA"
                    %td= quote_item.description.present? ? quote_item.description : "NA"
                    %td= quote_item.qty.present? ? quote_item.qty : 0
                    %td= quote_item.each_price.present? ? quote_item.each_price : 0



:javascript
  $( document ).ready(function() {
    var lastId = $("#lastId").val();
    if(lastId == "#{@order.id}") {
      $('.prevItem').addClass( "disabled" );
    } else {
      $('.prevItem').removeClass( "disabled" );
    }

    var nextId = $("#nextId").val();
    if(nextId == "#{@order.id}") {
      $('.nextItem').addClass( "disabled" );
    } else {
      $('.nextItem').removeClass( "disabled" );
    }

    $('.prevItem').on('click', function (e) {
      var order_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/orders/get_prev_item",
        dataType: "json",
        data: {
          order_id: order_id
        },
        success: function(data) {
          window.location.href = "/admin/orders/"+data.id;
        }
      });

    });

    $('.nextItem').on('click', function (e) {
      var order_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/orders/get_next_item",
        dataType: "json",
        data: {
          order_id: order_id
        },
        success: function(data) {
          window.location.href = "/admin/orders/"+data.id;
        }
      });

    });
  });


