.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 SKUs
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 SKU Table
          .ibox-tools
            %a.collapse-link#sku-table
              %i.fa.fa-chevron-up


        .ibox-content.sku-table
          .table-responsive
            %table.table.table-bordered.table-hover#sku_dt
              %thead
                %tr
                  %th #
                  %th Name
                  %th Description
              %tbody
                - @skus.each do |sku|
                  %tr
                    %td= sku.id
                    %td= sku.name
                    %td= sku.description


:javascript
  $( document ).ready(function() {
    $('#sku_dt').DataTable();
  });