.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Tutorial
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong Pages
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.product-detail
        .ibox-content
          .row
            .col-md-6
              #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
                %ol.carousel-indicators
                  %li{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
                  %li.active{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
                  %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
                  %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators"}
                  %li{"data-slide-to" => "4", "data-target" => "#carouselExampleIndicators"}
                  %li{"data-slide-to" => "5", "data-target" => "#carouselExampleIndicators"}
                .carousel-inner
                  .carousel-item
                    = image_tag 'login.png', class: 'd-block w-100'
                    .carousel-caption.d-none.d-md-block
                      %p.navy-bg Login Page
                  .carousel-item.active
                    = image_tag 'setting-tab.png', class: 'd-block w-100'
                    .carousel-caption.d-none.d-md-block
                      %p.navy-bg Settings Module
                  .carousel-item
                    = image_tag 'audit.png', class: 'd-block w-100'
                    .carousel-caption.d-none.d-md-block
                      %p.navy-bg Audit Module
                  .carousel-item
                    = image_tag 'inventory.png', class: 'd-block w-100'
                    .carousel-caption.d-none.d-md-block
                      %p.navy-bg Inventory Items Module
                  .carousel-item
                    = image_tag 'purchaseorder.png', class: 'd-block w-100'
                    .carousel-caption.d-none.d-md-block
                      %p.navy-bg Purchase Order Module
                  .carousel-item
                    = image_tag 'report.png', class: 'd-block w-100'
                    .carousel-caption.d-none.d-md-block
                      %p.navy-bg Report Module
                %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
                  %span.carousel-control-prev-icon{"aria-hidden" => "true"}
                  %span.sr-only Previous
                %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
                  %span.carousel-control-next-icon{"aria-hidden" => "true"}
                  %span.sr-only Next

            .col-md-6
              %h3.font-bold.m-b-xs
                Login Page
              %hr/
              .small.text-muted
                The login page allows a user to gain access to an application by entering their email and password.

              .clearfix-big
              %h3.font-bold.m-b-xs
                Settings Tab (CRUD)
              %hr/
              %h5.red-text NOTE: User must configure all the data first.
              .small.text-muted
                CRUD stands for Create, Read (or retrieve), Update, Delete.
                %br
                The settings module allows a user to configure all the data.

              .clearfix-big
              %h3.font-bold.m-b-xs
                Inventory Tab (Items)
              %hr/
              .small.text-muted
                The inventory tab is for item creation. User can add new item, edit item and delete an item.
                %br/
                For Select Dropdown: (Make, Model, Category, Sub Category, Location, Vendor and Grade):textile
                %br/
                User can create new data/record by typing in select dropdown

              .clearfix-big
              %h3.font-bold.m-b-xs
                Audit Tab
              %hr/
              .small.text-muted
                The audit tab is for audited item.
                %br/
                User do an inspection, correction, and verification of the items. Add new audited item here for the records.

              .clearfix-big
              %h3.font-bold.m-b-xs
                Purchase Order Tab
              %hr/
              .small.text-muted
                The purchase order tab is for all the orders. Is the official confirmation of an order.
                %br/
                It is a document sent from a purchaser to a vendor that authorizes a purchase.
                %dl.m-t-md
                  %dt Show
                  %dd In show page, user can see all the purchased items and order details
                %dl.m-t-md
                  %dt Print Invoice
                  %dd User can print invoice from this page (show)

                .clearfix-big
                %h3.font-bold.m-b-xs
                  Report Tab
                %hr/
                .small.text-muted
                  All the weekly report for new items, purchase orders, audited items and users are in chart display.


        .ibox-footer
          %span.float-right
            Inventory Modules


          Tutorial and Terms
