- if @warehouse.errors
  - @warehouse.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @warehouse]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Name
    .col-sm-5
      = f.text_field :name, class: 'form-control', required: true
    %label.col-sm-1.col-form-label Email
    .col-sm-4
      = f.text_field :email, class: 'form-control', required: true

  .clearfix-big
  %h5
    %i.fas.fa-map-marker-alt
    %span
      &nbsp; Warehouse's Address
  %hr
  .form-group.row
    .col-sm-6
      %label.col-form-label Address 1
      = f.text_area :address1, class: 'form-control'
      .clearfix
      %label.col-form-label Address 2
      = f.text_area :address2, class: 'form-control'
    .col-sm-6
      %label.col-form-label Country
      = f.select(:country_code, CountryStateSelect.countries_collection, {include_blank: true}, { :class => 'form-control select2' })
      %label.col-form-label State / Province
      = f.select(:province_code, options_for_select([]), {include_blank: true}, class: 'form-control select2' )
      %label.col-form-label City
      = f.select(:city_code, options_for_select([]), {include_blank: true}, class: 'form-control select2' )
    .col-sm-3
      %label.col-form-label Postal Code
      = f.text_field :postal_code, class: 'form-control'
    .col-sm-3
      %label.col-form-label Contact Person
      = f.text_field :contact_person, class: 'form-control'
    .col-sm-3
      %label.col-form-label Phone Number
      = f.text_field :phone_number, class: 'form-control'
    .col-sm-3
      %label.col-form-label Fax Number
      = f.text_field :fax_number, class: 'form-control'

  %div.category-subcategory
    %label Workers

  #sub_categories
    = f.fields_for :warehouse_workers do |warehouse_worker|
      = render 'warehouse_worker_fields', f: warehouse_worker

    = link_to_add_association "<i class='fa fa-plus'></i> Add Worker".html_safe, f, :warehouse_workers, :class => "btn btn-info btn-sm"


  .clearfix-big
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/warehouses"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save

:javascript
  $('.select2').select2({
    placeholder: "Select",
    allowClear: true
  })

  $('#warehouse_country_code').change(function() {
    var country = $(this).val();
    return $.ajax({
      type: "GET",
      url: "/admin/warehouses/get_states",
      data: {
        country: country
      }
    });
  });

  $('#warehouse_province_code').change(function() {
    var state = $(this).val();
    var country = $('#warehouse_country_code').val();

    return $.ajax({
      type: "GET",
      url: "/admin/warehouses/get_cities",
      data: {
        country: country,
        state: state
      }
    });
  });