.nested-fields#warehouse-worker-fields
  = f.hidden_field :_destroy
  .form-group.row
    .col-sm-5
      = f.text_field :name, class: 'form-control', placeholder: "Name"
    .col-md-5
      = f.text_field :email, class: 'form-control', placeholder: "Email"
    .col-sm-2
      = link_to_remove_association "<i class='fas fa-times'></i>".html_safe, f, class: "btn btn-xs btn-danger remove_fields"
