.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Warehouse's Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/warehouses"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-md-12
      .ibox
        .ibox-content
          .row
            .col-md-3
              = image_tag 'warehouse.png', class: 'img-fluid'
            .col-md-5
              %h2.font-bold.m-b-xs
                = @warehouse.name
              %hr
              %h4= @warehouse.country_name
              .small.text-muted
                = "#{@warehouse.city_code}, #{@warehouse.state_name}"
                %br/
                %br/
              .row
                .col-md-6
                  %dl.small.m-t-md
                    %dt Address 1
                    %dd= @warehouse.address1
                    %dt Address 2
                    %dd= @warehouse.address2.present? ? @warehouse.address2 : "N/A"
                  %dl.small.m-t-md
                    %dt Postal Code
                    %dd= @warehouse.postal_code
                    %dt Phone Number
                    %dd= @warehouse.phone_number
                    %dt Fax Number
                    %dd= @warehouse.fax_number
                    %dt Contact Person
                    %dd= @warehouse.contact_person
                    %dt Email
                    %dd= @warehouse.email

              %hr/
              %div
                .btn-group
                  %a.btn.btn-primary.btn-sm{href: "/admin/warehouses/#{@warehouse.id}/edit"}
                    %i.fa.fa-edit
                    Edit

            .col-md-4
              %h3 Workers
              .card
                .card-body#warehouse-workers
                  %ul.list-group
                    - @warehouse.warehouse_workers.each do |ww|
                      %li.list-group-item= "#{ww.name} (#{ww.email})"