.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name A+
    %h3 AVAID INVENTORY
    %p Login in
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "m-t"}) do |f|
      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true, placeholder: "Email"
      .form-group
        = f.password_field :password, autocomplete: "current-password", class: "form-control", required: true, placeholder: "Password"
      = f.submit "Log in", class: "btn btn-primary block full-width m-b"
      = f.check_box :remember_me
      = f.label :remember_me

    %p.m-t
      %small Copyright Avaid © 2020
