.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Devices
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Devices Table
          .ibox-tools

            %a.btn.btn-xs.btn-primary.mr-3{href: '/admin/devices/new'}
              %i.fa.fa-plus
              Add Device
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#device_dt
              %thead
                %tr
                  %th #
                  %th Name
                  %th{width: "15%"}
              %tbody
                - @devices.each do |device|
                  %tr
                    %td= device.id
                    %td= device.name
                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/devices/#{device.id}/edit"}
                        %i.far.fa-edit
                      %a.btn.btn-xs{href: "/admin/devices/#{device.id}"}
                        %i.far.fa-eye
                      = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_device_path(device.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'


:javascript
  $( document ).ready(function() {
    $('#device_dt').DataTable();
  });