.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Device's Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/devices"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2


.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox-content.m-b-sm.border-bottom
        .p-xs
          .float-left.m-r-md
            %i.fa.fa-desktop.text-navy.mid-icon.mr-5
          %h2= @device.name
          %span= "ID: # #{@device.id}"
      -#
      -# .ibox-content.forum-container
      -#   .forum-title
      -#     .float-right.forum-desc
      -#       %samll Total posts: 320,800
      -#     %h3= @device.name
