<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @order.user_id.present? ? @order.user.email : "Salesperson" %></h4>
    <p>
      Avaid Order # <%= @order.id %> is successfully shipped.
    </p>

    <table class="table table-bordered">
      <tr>
        <th scope="col">Quote ID</th>
        <td><%= @order.quote_id %></td>
      </tr>
      <tr>
        <th scope="col">Delivery Method</th>
        <td><%= @order.delivery_method_id.present? ? @order.delivery_method.name : "NA" %></td>
      </tr>
      <tr>
        <th scope="col">Delivery Type</th>
        <td><%= @order.delivery_type_id.present? ? @order.delivery_type.name : "NA" %></td>
      </tr>
      <tr>
        <th scope="col">Shipped Date</th>
        <td><%= @order.shipped_date.present? ? @order.shipped_date : "NA" %></td>
      </tr>
    </table>
    <br/>

    <p>
     FROM,
     <br>
     Avaid +
    </p>
    <br/>


  </body>
</html>
