@import './bootstrap_custom.scss';
@import '@fortawesome/fontawesome-free';
@import './animate.css';
@import './bootstrap-datepicker.min.css';

@import './theme/inspinia.scss';
@import './theme/inspinia_override.scss';

@import './common.scss';
@import './loading.scss';
@import './pages.scss';

@import './x-editable.scss';
@import './daterangepicker.css';

@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
  .generated { display: block; page-break-before: auto; }
}