.hidden {
  display: none;
}
.clearfix {
  margin: 20px 0 20px 0;
}
.clearfix-big {
  padding-top: 40px;
}
.clearfix-sm {
  padding: 10px 0 10px 0;
}

.upper-case {
  text-transform: uppercase;
}

.upper {
  text-transform: uppercase;
}

#device_dt_length,
#category_dt_length,
#maker_dt_length,
#condition_dt_length,
#status_dt_length,
#item_dt_length,
#grade_dt_length,
#user_dt_length,
#vendor_dt_length,
#audit_dt_length,
#warehouse_dt_length,
#purchasse_order_dt_length,
#payment_method_dt_length,
#company_dt_length,
#po_item_dt_length,
#purchasse_order_dt_filter,
#audit_dt_filter,
#department_dt_length,
#delivery_method_dt_length,
#delivery_type_dt_length,
#customer_type_dt_length,
#term_dt_length,
#customer_dt_length
#product_type_dt_length
#product_warranty_dt_length,
#quote_dt_length,
#customer_dt_length,
#sku_dt_length,
#tax_dt_length,
#product_warranty_dt_length,
#product_type_dt_length,
#order_dt_length {
  display: none;
}
#device_dt_filter,
#category_dt_filter,
#maker_dt_filter,
#condition_dt_filter,
#status_dt_filter,
#item_dt_filter,
#grade_dt_filter,
#user_dt_filter,
#vendor_dt_filter,
#audit_dt_filter,
#warehouse_dt_filter,
#purchasse_order_dt_filter,
#payment_method_dt_filter,
#company_dt_filter,
#po_item_dt_filter,
#department_dt_filter,
#delivery_method_dt_filter,
#delivery_type_dt_filter,
#customer_type_dt_filter,
#term_dt_filter,
#customer_dt_filter
#product_type_dt_filter
#product_warranty_dt_filter,
#quote_dt_filter,
#customer_dt_filter,
#sku_dt_filter,
#tax_dt_filter,
#low-items_filter,
#product_warranty_dt_filter,
#product_type_dt_filter,
#order_dt_filter {
  float: right;
  margin-bottom: 20px;
}
.code-red {
  color: #f32b58;
}

.category-subcategory,
.purchase-order-item {
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: #e7eaec;
  margin-bottom: 30px;

  label {
    font-weight: 500;
  }
}

#sub-category-fields {
  .form-group:first-of-type {
    margin-top: 20px;
  }
}

.red-text {
  color: red;
}
p.navy-bg {
  background: #1bb394;
  padding: 5px;
}

h4.page-title {
  padding-bottom: 20px;
}

.text-primary {
  color: #1ab394 !important;
}

.table > thead  {
  background-color: #f3f3f4 !important;
}

#audtiModal,
#editAll {
  .modal-body {
    height: 260px;
    .select2-container {
      width: 100% !important;
    }
  }
}

#sendTo {
  .modal-body {
    height: 400px;
    .select2-container {
      width: 100% !important;
    }
  }
}

.ibox-tools {
  .btn-default {
    border: 1px solid #1bb394;
    color: #1bb394 !important;
    &:hover {
      color: #fff !important;
      background: #1bb394;
    }
  }
}

.form-control {
  border: 1px solid #aaaaaa;
  font-size: 12px;

}
.form-control-sm {
  border: 1px solid #d3d3d6;
  border-radius: 0;
}
.form-control-sm:focus {
    border-color: $navy;
    outline: none;
}

#result-box {
  margin-bottom: 15px;
  label {
    font-size: 12px;
  }
}

#filter-content {
  .col-label {
    max-width: 83px;
  }
}

.breadcrumb {
  li:hover {
    color: $navy;
  }
  li.active {
    color: $navy;
    text-transform: uppercase;
  }
}

.toast {
  opacity: 1;
  border: none;
  width: 350px;
  position: absolute;
  top: 80px;
  right: 0;

  .toast-body {
    color: $white !important;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

h5.inline {
  display: inline-flex;
}

.primary-text {
  color: #1bb394;
  font-weight: bolder;
  margin-left: 15px;
}

.btn-default-outline {
  border: 1px solid $navy;
  color: $navy !important;
  &:hover {
    background: $navy;
    color: $white !important;
  }
}

.list-items-tb {
  font-size: 12px;
}
.list-items-tb {
  tbody > tr > td {
    padding: 15px;
  }
}

#controls-item {
  margin-top: 48px;
  border-radius: 0;
}

.barcode-img {
  align-items: center;
  img {
    width: 100%;
  }
}

.item-search {
  input#search_index {
    width: 70px;
    margin-right: 10px;
    font-size: 11px;
    &:focus {
      outline: none;
      border: 1px solid $navy;
    }
  }
}

#warehouse-workers {
  height: 450px;
  max-height: 450px;
  overflow-y: scroll;
}

#list-items {
  #item_normal_dt_wrapper {
    .dt-buttons {
      margin-bottom: 30px;
    }
  }
  .dataTables_info {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

#quote_dt_wrapper,
#audit_dt_wrapper,
#purchasse_order_dt_wrapper {
  .dt-buttons {
    margin-bottom: 30px;
  }
  .dataTables_info {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

#itemEditModal {
  .modal-dialog {
    max-width: 700px;
  }
}

h5.selected {
  color: $navy;
}

.list-items-tb {
  input {
    color: #2196F3;
    line-height: 2;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .edit-text {
    input {
      border: none !important;
      color: $navy;

      &:focus {
        outline: none !important;
        box-shadow: none;
      }
    }
    select {
      border: none;
      background: transparent;
      color: $navy;
    }
    select::-ms-expand {	display: none; }
    select{
        -webkit-appearance: none;
        appearance: none;
    }
  }

  .edit-input {
    select {
      width: 150px !important;
      margin-bottom: 5px !important;
    }
  }

}

.red-error {
  border: 1px solid red !important;
}

#report-form {
  span.date-result {
    text-decoration: underline;
    color: $navy;
    font-size: 14px;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
  }
  dt {
    flex-basis: 30%;
    padding: 10px;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 10px;
  }

  #sales-by-salesperson {
    font-size: 12px;
    overflow-y: scroll;
    max-height: 200px;
  }

  #table-300 {
    overflow-y: scroll;
    max-height: 300px;
  }
}

#generated-barcode {
  .barcode-image {
    margin-top: 10px;
  }
}

#multi-barcodes {
  .barcode-image {
    margin-top: 20px;
    width: 250px;
    vertical-align: middle;
    text-align: center;

    img {
      width: 150px;
    }
  }
}

#quote-fields {
  background: #f1f1f1;
  border: 1px solid #cdcdcd;
  padding: 20px;
  margin-bottom: 20px;
}

#quote-computation-container {
  margin-top: 80px;
  margin-bottom: 50px;
  background-color: #f5f5f5;
}

.ml-150 {
  margin-left: 150px;
}
.ml-124 {
  margin-left: 124px;
}
.ml-137 {
  margin-left: 137px;
}

#30-days-old {
  tbody {
    height: 100px;
    overflow-y: scroll;
  }
}

#max-403 {
  height: 403px;
  max-height:  403px;
  overflow-y: scroll;
}