#vendor-content {
  dt {
    color: $navy;
  }
}

#quote-form {
  .col-form-label {
    max-width: 140px;
  }
}
#quote-info-2 {
  .col-form-label {
    max-width: 80px;
  }
}

#checkboxes-quote {
  label {
    font-size: 12px;
  }
}

#quote-fields {
  .card {
    margin-bottom: 25px;
  }
}