.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 All Reports
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong Reports
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Report
        .ibox-content#report-form
          = form_tag admin_reports_path, method: :get do
            .row
              .col-md-4
                %label Report Date:
                %span.ml-2.date-result
                  - if params[:report].present?
                    - if params[:report][:start_date] == params[:report][:end_date]
                      = params[:report][:start_date]
                    - else
                      = "#{params[:report][:start_date]} - #{params[:report][:end_date]}"
                  - else
                    = format_full_date(Date.today)

              .col-md-2
                = select_tag "report[name]", options_for_select([["Sales", "Sales"]]), class: "form-control select2"
              .col-md-3
                #reportrange{:style => "background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"}
                  %i.fa.fa-calendar
                  %span
                  %i.fa.fa-caret-down
                = hidden_field_tag "report[start_date]"
                = hidden_field_tag "report[end_date]"
              .col-md-3
                %a.btn.btn-default-outline{href: "/admin/dashboard"} Reset
                = submit_tag 'Generate Report', class: 'btn btn-secondary'

          .clearfix
          %hr
          .row
            .col-md-12
              - if @result.present?
                .row
                  .col-md-5
                    %label Sales Totals
                    %dl.small.m-t-md
                      %dt Total Sales
                      %dd= number_to_currency(@result.sum(:subtotal), :unit => "$ ", :precision => 2)
                      %dt Total Freight
                      %dd= number_to_currency(@result.sum(:freight), :unit => "$ ", :precision => 2)
                      %dt Total Quotes
                      %dd= @result.count
                      %dt Average Per Quote
                      %dd= number_to_currency((@result.sum(:subtotal) / @result.count), :unit => "$ ", :precision => 2)
                  .col-md-4
                    %label Sales By Salesperson
                    .clearfix
                    #sales-by-salesperson
                      %table.table.table-condensed.table-sm.table-bordered
                        %thead
                          %tr
                            %th{:scope => "col"} Salesperson
                            %th{:scope => "col"} Total
                        %tbody
                          - @sales.each do |sale|
                            %tr
                              %td= sale.user.email
                              %td= number_to_currency(sale.total_sale, :unit => "$ ")




              - else
                .alert.alert-secondary
                  No Report

          .clearfix
          %hr
          .clearfix
          .row
            .col-md-12
              #table-300
                - if @result.present?
                  %table.table.table-bordered.table-hover
                    %thead
                      %tr
                        %th Quote ID
                        %th Date Created
                        %th Salesperson
                        %th Customer
                    %tbody
                      - @result.each do |result|
                        %tr
                          %td= result.id
                          %td= format_full_date(result.created_at)
                          %td= result.user.email
                          %td= result.customer.name


          .clearfix
          %hr
          .clearfix
          .row
            .col-md-6.text-center
              %label Sales By Salesperson
              .clearfix
              = pie_chart @sales_by_salesperson
            .col-md-6.text-center
              %label Item Sold By Category
              .clearfix
              = pie_chart @item_sold_by_category, colors: ["#1ab394", "#0d98b7", "#aa10dc", "#f1197d", "#f17219", "#FFEB3B"]


          %br
          %hr
          .row
            .col-md-12.text-center
              %label Average by Salesperson
              .clearfix
              = column_chart @average_by_salesperson


  .clearfix-big

  .row
    .col-lg-12
      .page-header
        %h1 Other Reports

  .clearfix
  .row
    .col-lg-6
      .ibox
        .ibox-title
          %h5 Inventory Items
          .ibox-tools
            = link_to "Export Data", convert_admin_reports_path(format: "csv", :data => "item"), class: "btn btn-default btn-xs"

            %a.collapse-link#item-report
              %i.fa.fa-chevron-up
        .ibox-content.item-report
          = column_chart Item.group_by_day_of_week(:created_at, format: "%a").count

    .col-lg-6
      .ibox
        .ibox-title
          %h5 Audited Items
          .ibox-tools
            = link_to "Export Data", convert_admin_reports_path(format: "csv", :data => "audit"), class: "btn btn-default btn-xs"
            %a.collapse-link#audit-report
              %i.fa.fa-chevron-up
        .ibox-content.audit-report
          = column_chart Audit.group_by_day_of_week(:audited_date, format: "%a").count



  .row
    .col-lg-6
      .ibox
        .ibox-title
          %h5 Users
          .ibox-tools
            = link_to "Export Data", convert_admin_reports_path(format: "csv", :data => "user"), class: "btn btn-default btn-xs"
            %a.collapse-link#user-report
              %i.fa.fa-chevron-up
        .ibox-content.user-report
          = line_chart User.group_by_day(:created_at).count

    .col-lg-6
      .ibox
        .ibox-title
          %h5 Vendors
          .ibox-tools
            = link_to "Export Data", convert_admin_reports_path(format: "csv", :data => "vendor"), class: "btn btn-default btn-xs"
            %a.collapse-link#vendor-report
              %i.fa.fa-chevron-up
        .ibox-content.vendor-report
          = line_chart Vendor.group_by_month(:created_at).count


:javascript
  $( document ).ready(function() {
    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });

    var today = moment().format('LL');
    $("#date-result").html(today);

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

        $("#report_start_date").val(start.format('MMMM D, YYYY'));
        $("#report_end_date").val(end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

  });
