- if @category.errors
  - @category.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @category]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Name
    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true
  .form-group.row
    %label.col-sm-2.col-form-label Description
    .col-sm-10
      = f.text_area :description, class: 'form-control'



  %div.category-subcategory
    %label Sub Categories

  #sub_categories
    = f.fields_for :sub_categories do |sub_category|
      = render 'sub_category_fields', f: sub_category

    = link_to_add_association "<i class='fa fa-plus'></i> Add Sub Category".html_safe, f, :sub_categories, :class => "btn btn-info btn-sm"

  .clearfix
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/categories"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save
