.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Category's Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/categories"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2


.wrapper.wrapper-content
  .row
    .col-lg-8
      .ibox
        .ibox-title
          %h5
            Category
            %small.m-l-sm Details
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .row
            .col-lg-12
              .m-b-md
                %a.btn.btn-white.btn-xs.float-right{:href => "/admin/categories/#{@category.id}/edit"} Edit category
          .clearfix
          .row
            .col-lg-12
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Category:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @category.name
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Description:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @category.description
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt No of sub categories:
                .col-sm-9.text-sm-left
                  %dd.mb-1
                    %span.label.label-primary= @category.sub_categories.count

    .col-lg-4
      .ibox
        .ibox-title
          %h5
            Sub Categories
            %small.m-l-sm= @category.sub_categories.count
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up

        .ibox-content
          %ul.list-group
            - @category.sub_categories.each do |sc|
              %li.list-group-item= sc.name
