// Bootstrap
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.clearfix {
  padding: 30px 0 10px 0;
}

.main-content {

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
  }

  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .mr-2 {
    margin-right: 20px;
  }

  .inline {
    display:inline-block
  }

  .company-details-1 {
    margin-left: 30px;
  }

  label {
    font-weight: bolder;
    font-size: 13px;
    display: inline-flex;
  }
  .result {
    margin: 10px 0 10px 0;
    font-size: 12px;
    width: 100%;
    display: inline-flex;
  }

  .font-12 {
    font-size: 12px;
  }

  .column {
    float: left;
  }

  .left, .middle {
    width: 35%;
  }

  .larger-left {
    width: 70%;
    margin-right: 20px;
  }

  .font-11 {
    font-size: 11px;
  }

  .larger-right {
    width: 25%;
    label {
      text-align: right;
      margin-bottom: 4px;
      border: 1px solid;
    }

    span {
      font-size: 12px;
      text-align: left;
      width: 100px !important;
      display: inline-flex;
      margin-bottom: 4px;
      border: 1px solid;
    }
  }

  .right {
    width: 20%;
  }

  .mr-3 {
    margin-right: 30px;
  }

  .table-bordered {
    border: 1px solid #dee2e6;
  }

  .description-quote {
    font-size: 12px;
  }
}




.logo-img {
  img {
    width: 100%;
  }
}
.header-section {
  padding: 0;
  margin: 0;
  text-align: left;
}

.text-center {
  text-align: center;
}

.barcode-img-pdf {
  margin-left: 100px;
  img {
    width: 100px;
  }
}

.barcode-container {
  margin-bottom: 20px;
  padding: 10px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.invoice-table tbody > tr > td:last-child, .invoice-table tbody > tr > td:nth-child(4), .invoice-table tbody > tr > td:nth-child(3), .invoice-table tbody > tr > td:nth-child(2) {
  text-align: right;
}

.invoice-table thead > tr > th:last-child, .invoice-table thead > tr > th:nth-child(4), .invoice-table thead > tr > th:nth-child(3), .invoice-table thead > tr > th:nth-child(2) {
  text-align: right;
}

.invoice-total > tbody > tr > td:first-child {
  text-align: right;
}

.invoice-total > tbody > tr > td {
  border: 0 none;
}

.invoice-total > tbody > tr > td:last-child {
  text-align: right;
  width: 15%;
}

#with-border {
  border-top: 1px solid #DDDDDD;
}

.compute-table {
  tr > td.label-tb {
    width: 80px;
    text-align: right;
    font-weight: bold;
  }
  tr > td.res-tb {
    width: 80px;
    text-align: right;
  }
}