- if @user.errors
  - @user.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @user]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Email
    .col-sm-4
      = f.text_field :email, class: 'form-control', required: true
    %label.col-sm-2.col-form-label Direct Phone #
    .col-sm-4
      = f.text_field :direct_number, class: 'form-control', required: true
  %br
  .form-group.row
    %label.col-sm-2.col-form-label First Name
    .col-sm-4
      = f.text_field :first_name, class: 'form-control', required: true
    %label.col-sm-2.col-form-label Last Name
    .col-sm-4
      = f.text_field :last_name, class: 'form-control', required: true

  .form-group.row
    %label.col-sm-2.col-form-label Role
    .col-sm-4
      = f.select(:role_id, @roles.collect {|r| [r.name, r.id]},  {prompt: "Select"}, {class: 'form-control'})
    %label.col-sm-2.col-form-label Is Active?
    .col-sm-4
      = f.select(:is_active, [ 'True', 'False' ], {}, { :class => 'form-control' })

  .form-group.row.hidden#warehouse-select
    %label.col-sm-2.col-form-label Warehouse
    .col-sm-4
      = select_tag "warehouse_id", options_from_collection_for_select(@warehouses, "id", "name"), include_blank: true, class: 'form-control select2'


  %br
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/users"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save


:javascript
  $(document).ready(function() {
    $('.select2').select2({
      placeholder: "Select",
      allowClear: true,
      width: '100%'
    });

    $("#user_role_id").on('change', function() {
      var role = $("#user_role_id option:selected").text()
      if(role == "warehouse"){
        $("#warehouse-select").removeClass("hidden");
      }else {
        $("#warehouse-select").addClass("hidden");
      }
    });

  });