.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Users
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/users/new'}
        %i.fa.fa-plus
        Add User

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Users Table
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#user_dt
              %thead
                %tr
                  %th #
                  %th Email
                  %th Role
                  %th{width: "15%"}
              %tbody
                - @users.each do |user|
                  %tr
                    %td= user.id
                    %td= user.email
                    %td= user.role.name
                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/users/#{user.id}/edit"}
                        %i.far.fa-edit
                      %a.btn.btn-xs{href: "/admin/users/#{user.id}"}
                        %i.far.fa-eye



:javascript
  $( document ).ready(function() {
    $('#user_dt').DataTable();
  });