.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 User's Profile
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/users"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-md-4
      .ibox
        .ibox-title
          %h5 Profile Detail
        %div
          .ibox-content.no-padding.border-left-right
            = image_tag 'avaid.jpg', class: 'img-fluid'
          .ibox-content.profile-content
            %h4
              %strong= @user.full_name
            %p
              %i.fa.fa-user
              = @user.role.name
            %p
              %i.fa.fa-phone
              = @user.direct_number
            %p
              - if @user.is_active == true
                %span.label.label-info Active
              - else
                %span.label.label-danger Deactivated

            .clearfix
            .user-button
              .row
                .col-md-6
                  %button.btn.btn-primary.btn-sm.btn-block{:type => "button"}
                    %i.fa.fa-envelope
                    See Login History
                .col-md-6
                  %button.btn.btn-default.btn-sm.btn-block{:type => "button"}
                    %i.fas.fa-universal-access
                    - if @user.is_active == true
                      &nbsp; Remove Access
                    - else
                      &nbsp; Enable Access
