.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Import Data
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong CSV Files
  .col-lg-2


.wrapper.wrapper-content
  .row
    .col-md-12
      .ibox
        .ibox-title
          %h5 Upload DATA (CSV)
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          - if flash.present?
            - flash.each do |type, msg|
              .alert.alert-info
                = msg

          = form_tag admin_import_data_path, multipart: true do
            .form-group.row
              %label.col-sm-2.col-form-label Source
              .col-sm-6
                = select_tag "data[name]", options_for_select([["WipeDrive", "WipeDrive"], ["Blancco", "Blancco"], ["SKU Import", "Sku"], ["Customer Import", "Customer"], ["Vendor Import", "Vendor"]]), include_blank: true, class: "form-control select2"
            .form-group.row
              %label.col-sm-2.col-form-label File
              .col-sm-6
                = file_field_tag :file, class: 'form-control', required: true
            .clearfix-big
            .form-group.row
              %label.col-sm-2.col-form-label
              .col-sm-6
                = submit_tag "Import CSV", class: "btn btn-primary"

:javascript
  $( document ).ready(function() {
    $('.select2').select2({
      placeholder: "Select",
      allowClear: true
    })
  });