%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.block.m-t-xs.font-bold= current_user.email
            %span.text-muted.text-xs.block
              = current_user.role.name.titleize
              %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item'
        .logo-element
          R+
      %li{:class => parent_child_path?('/dashboard')}
        = link_to "/admin/dashboard" do
          %i.fa.fa-home
          %span.nav-label Dashboard
      %li{:class => parent_child_path?('/audits') }
        = link_to "/admin/audits" do
          %i.far.fa-calendar-check
          %span.nav-label Audits
      %li{:class => parent_child_path?('/items')}
        = link_to "/admin/items" do
          %i.fa.fa-database
          %span.nav-label Inventory
      %li{:class => parent_child_path?('/purchase_orders')}
        = link_to "/admin/purchase_orders" do
          %i.fas.fa-cash-register
          %span.nav-label Purchase Orders

      %li{:class => parent_child_path?('/quotes')}
        = link_to "/admin/quotes" do
          %i.fas.fa-cash-register
          %span.nav-label Quotes

      %li{:class => parent_child_path?('/orders')}
        = link_to "/admin/orders" do
          %i.fas.fa-file-invoice
          %span.nav-label &nbsp; Orders

      - if current_user.role.name == "admin"
        %li{:class => parent_child_path?('/reports')}
          = link_to "/admin/reports" do
            %i.fas.fa-chart-bar
            %span.nav-label Reports




      - if current_user.role.name == "admin"
        %li#settings
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#appConfig"}
            %i.fas.fa-cog
            %span.nav-label Settings
          %ul.nav.nav-second-level#appConfig.collapse
            %li{:class => parent_child_path?('/categories')}
              = link_to "Categories & Sub", "/admin/categories"
            %li{:class => parent_child_path?('/makers')}
              = link_to "Makes & Models", "/admin/makers"
            %li{:class => parent_child_path?('/warehouses')}
              = link_to "Warehouses", "/admin/warehouses"

            %li{:class => parent_child_path?('/condition_types')}
              = link_to "Conditons", "/admin/condition_types"
            %li{:class => parent_child_path?('/statuses')}
              = link_to "Statuses", "/admin/statuses"\
            %li{:class => parent_child_path?('/order_statuses')}
              = link_to "Order Statuses", "/admin/order_statuses"\
            %li{:class => parent_child_path?('/grades')}
              = link_to "Grades", "/admin/grades"
            %li{:class => parent_child_path?('/payment_methods')}
              = link_to "Payment Methods", "/admin/payment_methods"
            -# %li{:class => parent_child_path?('/companies')}
            -#   = link_to "Companies", "/admin/companies"
            %li{:class => parent_child_path?('/departments')}
              = link_to "Departments", "/admin/departments"
            %li{:class => parent_child_path?('/delivery_methods')}
              = link_to "Delivery Methods", "/admin/delivery_methods"
            %li{:class => parent_child_path?('/delivery_types')}
              = link_to "Delivery Types", "/admin/delivery_types"
            %li{:class => parent_child_path?('/customer_types')}
              = link_to "Customer Types", "/admin/customer_types"
            %li{:class => parent_child_path?('/terms')}
              = link_to "Terms", "/admin/terms"
            %li{:class => parent_child_path?('/product_warranties')}
              = link_to "Product Warranties", "/admin/product_warranties"
            %li{:class => parent_child_path?('/product_types')}
              = link_to "Product Types", "/admin/product_types"

            %li{:class => parent_child_path?('/taxes')}
              = link_to "Taxes", "/admin/taxes"

            %li{:class => parent_child_path?('/vendors')}
              = link_to "Vendors", "/admin/vendors"
            %li{:class => parent_child_path?('/customers')}
              = link_to "Customers", "/admin/customers"
            %li{:class => parent_child_path?('/users')}
              = link_to "Users", "/admin/users"



        %li{:class => parent_child_path?('/import_data')}
          = link_to "/admin/import_data" do
            %i.fas.fa-file-import
            %span.nav-label Import Data
        -#
        -# %li{:class => parent_child_path?('/barcodes')}
        -#   = link_to "/admin/barcodes" do
        -#     %i.fas.fa-barcode
        -#     %span.nav-label Barcode



:javascript
  $(document).ready(function () {

    $('li#settings>a').unbind('click').click(function(e){
        $(this).next('ul').toggle();
        var visible = $('#appConfig').is(':visible');

        if(visible) {
          $('li#settings').addClass('active');
        } else {
          $('li#settings').removeClass('active');
        }
        e.stopPropagation();
        e.preventDefault();
    });

    if( $('#appConfig > li').hasClass("active") ) {
      $('li#settings').addClass('active');
      $('#appConfig').show();
    } else {
      $('li#settings').removeClass('active');
      $('#appConfig').hide();
    }

    $('li#people>a').unbind('click').click(function(e){
        $(this).next('ul').toggle();
        var visible = $('#appPeople').is(':visible');

        if(visible) {
          $('li#people').addClass('active');
        } else {
          $('li#people').removeClass('active');
        }
        e.stopPropagation();
        e.preventDefault();
    });

    if( $('#appPeople > li').hasClass("active") ) {
      $('li#people').addClass('active');
      $('#appPeople').show();
    } else {
      $('li#people').removeClass('active');
      $('#appPeople').hide();
    }

  });
