.row.border-bottom
  %nav.navbar.navbar-static-top.white-bg{:role => "navigation", :style => "margin-bottom: 0"}
    .navbar-header
      %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href => "#"}
        %i.fa.fa-bars


    %ul.nav.navbar-top-links.navbar-right
      %li
        %span.m-r-sm.text-muted.welcome-message Welcome to AVAID's Inventory
      %li
        %a{:href => "/admin/tutorial"}
          %i.fas.fa-info.text-primary
      %li.dropdown
        %a.dropdown-toggle.count-info{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-bell
          -# %span.label.label-primary 0
        %ul.dropdown-menu.dropdown-alerts
          %li
            %a{:href => ""}
              %div
                %i.fa.fa-envelope.fa-fw
                No Notification
                %span.float-right.text-muted.small Today
          %li.dropdown-divider
          %li
            .text-center.link-block
              %a{:href => ""}
                %strong See All Alerts
                %i.fa.fa-angle-right
      %li.mr-4
        = link_to "<i class='fas fa-sign-out-alt'></i> Logout".html_safe, destroy_user_session_path, method: :delete


:javascript
  $('.navbar-minimalize').on('click', function (event) {
      event.preventDefault();
      $("body").toggleClass("mini-navbar");
      SmoothlyMenu();
  });
