- if @maker.errors
  - @maker.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @maker]) do |f|
  .form-group.row
    %label.col-sm-2.col-form-label Name
    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true
  .form-group.row
    %label.col-sm-2.col-form-label Description
    .col-sm-10
      = f.text_area :description, class: 'form-control'



  %div.category-subcategory
    %label Models

  #sub_categories
    = f.fields_for :maker_models do |maker_model|
      = render 'maker_model_fields', f: maker_model

    = link_to_add_association "<i class='fa fa-plus'></i> Add Model".html_safe, f, :maker_models, :class => "btn btn-info btn-xs"

  .clearfix
  .form-group.row
    .col-sm-12
      .float-right
        %a.btn.btn-white.btn-sm{href: "/admin/makers"} Cancel
        %button.btn.btn-primary.btn-sm{:type => "submit"} Save
