.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Makes
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/makers/new'}
        %i.fa.fa-plus
        Add Make

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Makes Table
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up


        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-hover#maker_dt
              %thead
                %tr
                  %th{width: "8%"} ID
                  %th Name
                  %th # of Models
                  %th{width: "15%"}
              %tbody
                - @makers.each do |maker|
                  %tr
                    %td= maker.id
                    %td= maker.name
                    %td= maker.maker_models.count
                    %td.text-center
                      %a.btn.btn-xs{href: "/admin/makers/#{maker.id}/edit"}
                        %i.far.fa-edit
                      %a.btn.btn-xs{href: "/admin/makers/#{maker.id}"}
                        %i.far.fa-eye
                      = link_to "<i class='fas fa-trash-alt'></i>".html_safe, admin_maker_path(maker.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn code-red btn-xs'


:javascript
  $( document ).ready(function() {
    $('#maker_dt').DataTable();
  });