.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Make's Details
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/makers"} List View
      %li.breadcrumb-item.active
        %strong Show
  .col-lg-2


.wrapper.wrapper-content
  .row
    .col-lg-8
      .ibox
        .ibox-title
          %h5
            Make
            %small.m-l-sm Details
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .row
            .col-lg-12
              .m-b-md
                %a.btn.btn-white.btn-xs.float-right{:href => "/admin/makers/#{@maker.id}/edit"} Edit maker
          .clearfix
          .row
            .col-lg-12
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Make:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @maker.name
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt Description:
                .col-sm-9.text-sm-left
                  %dd.mb-1= @maker.description
              %dl.row.mb-0
                .col-sm-3.text-sm-right
                  %dt No of models:
                .col-sm-9.text-sm-left
                  %dd.mb-1
                    %span.label.label-primary= @maker.maker_models.count

    .col-lg-4
      .ibox
        .ibox-title
          %h5
            Models
            %small.m-l-sm= @maker.maker_models.count
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up

        .ibox-content
          %ul.list-group
            - @maker.maker_models.each do |mm|
              %li.list-group-item= mm.name
