= form_tag admin_quotes_path, method: :get do
  .form-group.row
    .col-md-1
      %label Quote ID
      = select_tag "quote[id]", options_from_collection_for_select(@quotes, "id", "id", params[:quote].present? ? params[:quote][:quote_purchase_number] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Salesperson
      = select_tag "quote[user_id]", options_from_collection_for_select(@usersales, "id", "email", params[:quote].present? ? params[:quote][:user_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Customer
      = select_tag "quote[customer_id]", options_from_collection_for_select(@customers, "id", "name", params[:quote].present? ? params[:quote][:customer_id] : nil), include_blank: true, class: 'form-control select2'
    .col
      %label Quote Date
      = text_field_tag "quote[quote_date]", params[:quote].present? ? params[:quote][:quote_date] : nil, class: "datepicker form-control"
    .col
      %label Required Date
      = text_field_tag "quote[date_required]", params[:quote].present? ? params[:quote][:required_date] : nil, class: "datepicker form-control"
    .col
      %label Term
      = select_tag "quote[term_id]", options_from_collection_for_select(@terms, "id", "name", params[:quote].present? ? params[:quote][:term_id] : nil), include_blank: true, class: 'form-control select2'

    .col
      %label Status
      = select_tag "quote[status]", options_for_select(@statuses, params[:quote].present? ? params[:quote][:status] : nil), include_blank: true, class: 'form-control select2'

  .clearfix-sm
  %hr
  .form-group.row
    .col-md-12
      .float-right
        %a.btn.btn-default{href: "/admin/quotes"} Reset
        = submit_tag 'Search', class: 'btn btn-secondary'

:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true,
      width: '100%'
    });
  });