- if @quote.errors
  - @quote.errors.full_messages.each do |msg|
    .alert.alert-danger#error-msg
      = msg

= form_for([:admin, @quote]) do |f|
  .row
    .col-md-7
      .card
        .card-header
          .float-left CUSTOMER
          .float-right
            %button.btn-default-outline.btn-xs.disabled#copy-address{type: "button"} Copy Shipping Address
        .card-body
          .form-group.row
            %label.col-sm-2.col-form-label Name
            .col-sm-10
              = f.select(:customer_id, @customers.collect {|s| [s.name, s.id]}, {include_blank: true}, {class: 'form-control'})
          .form-group.row
            %label.col-sm-2.col-form-label Addr. 1
            .col-sm-4
              = text_area_tag "customer[address1]", @customer_address1, class: 'form-control'
            %label.col-sm-2.col-form-label Addr. 2
            .col-sm-4
              = text_area_tag "customer[address2]", @customer_address2, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Country
            .col-sm-4
              = select_tag "customer[country_code]", options_for_select(CountryStateSelect.countries_collection, @customer_country), include_blank: true, class: 'form-control select2'
            %label.col-sm-2.col-form-label Prov.
            .col-sm-4
              = select_tag "customer[province_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

          .form-group.row
            %label.col-sm-2.col-form-label City
            .col-sm-4
              = select_tag "customer[city_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

            %label.col-sm-2.col-form-label Postal
            .col-sm-4
              = text_field_tag "customer[postal_code]", @customer_postal, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Phone
            .col-sm-4
              = text_field_tag "customer[phone_number]", @customer_phone, class: 'form-control'
            %label.col-sm-2.col-form-label Fax
            .col-sm-4
              = text_field_tag "customer[fax_number]", @customer_fax, class: 'form-control'

          .form-group.row
            %label.col-sm-2.col-form-label Contact
            .col-sm-4
              = text_field_tag "customer[contact_name]", @customer_contact, class: 'form-control'
            %label.col-sm-2.col-form-label Email
            .col-sm-4
              = text_field_tag "customer[email]", @customer_email, class: 'form-control'

    .col-md-5
      .card
        .card-header SHIP TO DIFF. ADDRESS
        .card-body
          .form-group.row
            .col
              %label Address 1
              = text_area_tag "shipment[address1]", @ship_address1, class: 'form-control'
            .col
              %label Address 2
              = text_area_tag "shipment[address2]", @ship_address2, class: 'form-control'

          .form-group.row
            .col-md-6
              %label Country
              = select_tag "shipment[country_code]", options_for_select(CountryStateSelect.countries_collection, @ship_country), include_blank: true, class: 'form-control select2'
            .col-md-6
              %label Prov
              = select_tag "shipment[province_code]", options_for_select([]), include_blank: true, class: 'form-control select2'

          .form-group.row
            .col
              %label City
              = select_tag "shipment[city_code]", options_for_select([]), include_blank: true, class: 'form-control select2'
            .col
              %label Postal
              = text_field_tag "shipment[postal_code]", @ship_postal, class: 'form-control'
          .form-group.row
            .col
              %label Contact Name
              = text_field_tag "shipment[contact_name]", @ship_contact, class: 'form-control'
            .col
              %label Email
              = text_field_tag "shipment[email]", @ship_email, class: 'form-control'

  .clearfix-big
  .row
    .col-md-12
      %h4 Quote Info
      %hr
      .form-group.row
        .col-md-3
          %label Quote PO #
          = f.text_field :quote_purchase_number, class: "form-control"
        .col-md-3
          %label Date Required
          = f.text_field :date_required, class: "datepicker form-control"
        .col-md-3
          %label Terms
          = f.select(:term_id, @terms.collect {|t| [t.name, t.id]},  {include_blank: true}, {class: 'select2-create form-control'})
        .col-md-3
          %label Customer Type
          = f.select(:customer_type_id, @customer_types.collect {|ct| [ct.name, ct.id]},  {include_blank: true}, {class: 'select2-create form-control'})

      .form-group.row
        .col-md-3
          %label Salesperson
          - if current_user.role.name == "admin"
            = f.select(:user_id, @users.collect {|us| [us.email, us.id]},  {include_blank: false, selected: current_user.id}, {class: 'form-control select2'})
          - elsif current_user.role.name == "sales"
            = f.select(:user_id, @current_users.collect {|a| [a.email, a.id]},  {include_blank: false, selected: current_user.id}, {class: 'select2 form-control'})

        .col-md-3
          %label Tax
          = f.select(:tax_id, @taxes.collect {|t| ["#{t.province_code} #{t.code}: #{t.percentage}%", t.id]}, {include_blank: true}, {class: 'form-control select2'})
        .col-md-3
          %label Status
          = f.select(:status, options_for_select(@statuses, @quote.status.present? ? @quote.status : nil), {}, :class=>"form-control select2")



  .clearfix-big
  %div.purchase-order-item
    %label ITEMS

  #sub_categories
    = f.fields_for :quote_items do |quote_item|
      = render 'quote_item_fields', f: quote_item

    .col-md-5.float-right
      .clearfix-sm
      - if @quote.status != "approved"
        = link_to_add_association "<i class='fa fa-plus'></i> Add Item".html_safe, f, :quote_items, :class => "btn btn-info btn-block btn add-quote-item"
      .clearfix-sm

  .clearfix-big
  .clearfix-big
  .card#quote-computation-container
    .card-body
      .float-right
        .form-group.row
          .col
            %label TAX (%)
            = f.text_field :tax_percentage, class: 'form-control'
            = hidden_field_tag "changable-tax"
          .col
            %label Tax Amount
            = f.text_field :tax_amount, class: 'form-control disabled'
        .form-group.row
          .col
            %label Freight
            %span#after-tax
            = f.text_field :freight, class: 'form-control'
          .col
            %label SubTotal
            = f.text_field :subtotal, class: 'form-control disabled'
        .form-group.row
          .col
            %label TOTAL
            = f.text_field :total, class: 'form-control disabled'



  .clearfix
  .form-group.row
    .col-sm-8
      .form-group.row

        .col-md-10
          %label Note
          = f.text_area :note, class: "form-control"


    .col-sm-4

      %a.btn.btn-white.btn-block{href: "/admin/quotes"} Cancel
      - if @quote.status != "approved"
        %button.btn.btn-primary.btn-block{:type => "submit"} Save
      - else
        %a.btn.btn-primary.btn-block{:href => "/admin/quotes/#{@quote.id}"} View Quote



:javascript
  $( document ).ready(function() {

    var quote_status = $("#quote_status").val();

    if(quote_status == "approved") {
      $(".form-control").prop('disabled', true);
    }

    $("#quote_customer_id").select2({
      placeholder: "Select or Create",
      allowClear: true,
      tags: true
    });



    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto top',
      format: 'yyyy-mm-dd'
    });

    $('#customer_province_code').select2({
      placeholder: "#{@customer_province}"
    });
    $('#customer_city_code').select2({
      placeholder: "#{@customer_city}"
    });

    $('#shipment_province_code').select2({
      placeholder: "#{@ship_province}"
    });
    $('#shipment_city_code').select2({
      placeholder: "#{@ship_city}"
    });

    $('#shipment_country_code').change(function() {
      var country = $(this).val();
      return $.ajax({
        type: "GET",
        url: "/admin/quotes/get_states",
        data: {
          country: country
        }
      });
    });

    $('#shipment_province_code').change(function() {
      var state = $(this).val();
      var country = $('#shipment_country_code').val();

      return $.ajax({
        type: "GET",
        url: "/admin/quotes/get_cities",
        data: {
          country: country,
          state: state
        }
      });
    });


    $('#customer_country_code').change(function() {
      var country = $(this).val();
      return $.ajax({
        type: "GET",
        url: "/admin/quotes/get_states_customer",
        data: {
          country: country
        }
      });
    });

    $('#customer_province_code').change(function() {
      var state = $(this).val();
      var country = $('#customer_country_code').val();

      return $.ajax({
        type: "GET",
        url: "/admin/quotes/get_cities_customer",
        data: {
          country: country,
          state: state
        }
      });
    });

    $("#shipment_province_code").on('change', function() {
      var province_code = $(this).val();
      $.ajax({
        type: "GET",
        url: "/admin/quotes/get_tax_details",
        dataType: "json",
        data: {
          province_code: province_code
        },
        success: function(data) {
          $("#quote_tax_id").val(data.id).trigger('change');
          $("#quote_tax_percentage").val(data.percentage);
        }
      });
    });


    $('#quote_customer_id').on('change', function() {
      var customerId = $("#quote_customer_id option:selected").val();
      $("#copy-address").removeClass("disabled");

      if(customerId >= 1) {
          $.ajax({
            type: "GET",
            url: "/admin/quotes/get_customer_details",
            dataType: "json",
            data: {
              customer_id: customerId
            },
            success: function(data) {
              console.log(data);
              $("#customer_address1").html(data.address1).prop( "disabled", true );
              $("#customer_address2").html(data.address2).prop( "disabled", true );

              $("#customer_country_code").select2({ placeholder: data.country_code }).prop( "disabled", true );
              $("#customer_city_code").select2({ placeholder: data.city_code }).prop( "disabled", true );
              $("#customer_province_code").select2({ placeholder: data.province_code }).prop( "disabled", true );

              $("#customer_postal_code").val(data.postal_code).prop( "disabled", true );
              $("#customer_phone_number").val(data.phone_number).prop( "disabled", true );
              $("#customer_fax_number").val(data.fax_number).prop( "disabled", true );
              $("#customer_contact_name").val(data.contact_name).prop( "disabled", true );
              $("#customer_email").val(data.email).prop( "disabled", true );

              if(data.tax_id != null) {
                $("#quote_tax_id").val(data.tax_id).trigger('change');
                $("#quote_tax_percentage").val(data.percentage);
              } else {
                $("#quote_tax_id").val('').trigger('change');
                $("#quote_tax_percentage").val(0);
              }

            }
          });
      } else {
        $("#customer_address1").html(null).prop( "disabled", false );
        $("#customer_address2").html(null).prop( "disabled", false );
        $('#customer_country_code').prop( "disabled", false );
        $("#customer_city_code").select2({ placeholder: 'Select Provice 1st' }).prop( "disabled", false );
        $("#customer_province_code").select2({ placeholder: 'Select Country 1st' }).prop( "disabled", false );
        $("#customer_postal_code").val(null).prop( "disabled", false );
        $("#customer_phone_number").val(null).prop( "disabled", false );
        $("#customer_fax_number").val(null).prop( "disabled", false );
        $("#customer_contact_name").val(null).prop( "disabled", false );
        $("#customer_email").val(null).prop( "disabled", false );
      }
    });

    $("#quote_freight").bind('keyup mouseup', function (e) {
      var tax_amount = $("#quote_tax_amount").val();
      var subtotal = $("#quote_subtotal").val();
      var freight = $(this).val();
      var tax = $("#quote_tax_percentage").val();

      if (tax == "") {
        tax = 0;
      }
      if (tax_amount == "") {
        tax_amount = 0;
      }
      if (subtotal == "") {
        subtotal = 0;
      }
      if (freight == "") {
        freight = 0;
      }

      var freight_amount =  ((parseFloat(tax)/ 100) * parseFloat(freight)).toFixed(2);
      var total_tax = (parseFloat(freight_amount) + parseFloat(tax_amount));

      $("#after-tax").html("+ ("+freight_amount+")");
      $("#changable-tax").val(total_tax);

      var final_computation = (parseFloat(total_tax) + parseFloat(subtotal) + parseFloat(freight));
      $("#quote_total").val(final_computation);

    });

    $('#copy-address').on('click', function() {

      var address1 = $("#customer_address1").html();
      var address2 = $("#customer_address2").html();
      var country = $("#customer_country_code").next().find('.select2-selection__placeholder').text();
      var province = $("#customer_province_code").next().find('.select2-selection__placeholder').text();
      var city = $("#customer_city_code ").next().find('.select2-selection__placeholder').text();

      var postal = $("#customer_postal_code").val();
      var contact = $("#customer_contact_name").val();
      var email = $("#customer_email").val();





      $("#shipment_address1").html(address1);
      $("#shipment_address2").html(address2);

      $("#shipment_country_code").select2({ placeholder: country });
      $("#shipment_province_code").select2({ placeholder: province });
      $("#shipment_city_code").select2({ placeholder: city });


      $("#shipment_postal_code").val(postal);
      $("#shipment_contact_name").val(contact);
      $("#shipment_email").val(email);

    });


  });