.nested-fields#quote-fields
  = f.hidden_field :_destroy
  .box-nested
    .form-group.row
      .col
        %label Warranty
        = f.select(:warranty_id, @warranties.collect {|w| [w.name, w.id]},  {include_blank: true}, {class: 'form-control select2'})
      .col
        %label Make
        = f.select(:maker_id, @makes.collect {|m| [m.name, m.id]},  {include_blank: true}, {class: 'maker-select form-control select2'})
      .col
        %label Model
        = f.select(:maker_model_id, @maker_models.collect {|m| [m.name, m.id]},  {include_blank: true}, {class: 'maker-model-select form-control select2'})
      .col
        %label Part #
        = f.text_field :part_number, class: 'form-control'
      .col
        %label Grade
        = f.select(:grade_id, @grades.collect {|t| [t.name, t.id]}, {include_blank: true}, {class: 'form-control select2'})
    .form-group.row
      .col-md-7
        %label Description
        = f.text_field :description, class: 'form-control'
      .col
        %label QTY
        = f.number_field :qty, class: 'form-control item-qty'
      .col
        %label Selling
        = f.text_field :each_price, class: 'form-control item-selling'

      .col
        %label Total
        = f.text_field :item_subtotal, class: 'item-subtotal form-control'


      .col
        %br
        = link_to_remove_association "<i class='fas fa-times'></i>".html_safe, f, class: "btn btn-xs btn-danger remove_fields"

:javascript
  $( document ).ready(function() {

    $('.select2').select2({
      placeholder: "Select",
      allowClear: true
    });

    $('.item-qty').bind('keyup mouseup', function () {
      var selectId = $(this).attr("id");
      var numb = selectId.match(/\d/g);
      numb = numb.join("");

      var qty = numb+"_qty";
      var rate = numb+"_each_price";
      var total = numb+"_item_subtotal";

      var qty_val = $("#quote_quote_items_attributes_"+qty).val();
      var rate_val = $("#quote_quote_items_attributes_"+rate).val();

      var compute = parseFloat(qty_val) * parseFloat(rate_val);

      $("#quote_quote_items_attributes_"+total).val(compute);

      var arr = $(".item-subtotal");
      var tot=0;
      for(var i=0;i<arr.length;i++){
        if(parseFloat(arr[i].value))
            tot += parseFloat(arr[i].value);
      }

      var tax = $("#quote_tax_percentage").val();
      if (tax == "") {
        tax = 0;
      }
      var tax_amount =  ((parseFloat(tax)/ 100) * parseFloat(tot)).toFixed(2)

      $("#quote_tax_amount").val(tax_amount);

      $("#quote_subtotal").val(parseFloat(tot).toFixed(2));

      var freight = $("#quote_freight").val();
      if (freight == "") {
        freight = 0;
      }
      var final_computation = (parseFloat(tot) + parseFloat(tax_amount) + parseFloat(freight));

      $("#quote_total").val(final_computation);

    });

    $('.item-selling').bind('keyup mouseup', function () {

      var selectId = $(this).attr("id");
      var numb = selectId.match(/\d/g);
      numb = numb.join("");

      var qty = numb+"_qty";
      var rate = numb+"_each_price";
      var total = numb+"_item_subtotal";

      var qty_val = $("#quote_quote_items_attributes_"+qty).val();
      var rate_val = $("#quote_quote_items_attributes_"+rate).val();

      var compute = parseFloat(qty_val) * parseFloat(rate_val);

      $("#quote_quote_items_attributes_"+total).val(compute);

      var arr = $(".item-subtotal");
      var tot=0;
      for(var i=0;i<arr.length;i++){
        if(parseFloat(arr[i].value))
            tot += parseFloat(arr[i].value);
      }

      var tax = $("#quote_tax_percentage").val();
      if (tax == "") {
        tax = 0;
      }
      var tax_amount =  ((parseFloat(tax)/ 100) * parseFloat(tot)).toFixed(2)

      $("#quote_tax_amount").val(tax_amount);

      $("#quote_subtotal").val(parseFloat(tot).toFixed(2));

      var freight = $("#quote_freight").val();
      if (freight == "") {
        freight = 0;
      }
      var final_computation = (parseFloat(tot) + parseFloat(tax_amount) + parseFloat(freight));

      $("#quote_total").val(final_computation);

    });


    // $(document).on('change', '.part-number', function(){
    //   var selectId = $(this).attr('id');
    //   var itemId = $('#'+selectId).val();
    //
    //   $.ajax({
    //      type: "GET",
    //      url: "/admin/quotes/get_item_details",
    //      dataType: "json",
    //      data: {
    //        item_id: itemId
    //      },
    //      success: function(item) {
    //         var numb = selectId.match(/\d/g);
    //         numb = numb.join("");
    //         var descriptionId = numb+"_description";
    //         var priceId = numb+"_each_price";
    //         var qtyId = numb+"_qty";
    //
    //         var cost = item.cost || 0;
    //         var addson = item.cost_of_addons || 0;
    //         var freight = item.cost_of_freight || 0;
    //
    //         $("#quote_quote_items_attributes_"+descriptionId).val(item.description);
    //         $("#quote_quote_items_attributes_"+priceId).val(item.cost);
    //
    //         $( "#quote_quote_items_attributes_"+qtyId).bind('keyup mouseup', function () {
    //           var qty_count = $(this).val();
    //           var amount = ((parseFloat(cost) + parseFloat(addson) + parseFloat(freight)) * parseInt(qty_count));
    //
    //           var arr = $(".item-subtotal");
    //           var tot=0;
    //           for(var i=0;i<arr.length;i++){
    //             if(parseFloat(arr[i].value))
    //                 tot += parseFloat(arr[i].value);
    //           }
    //
    //           $("#quote_total").val(tot);
    //
    //         });
    //
    //      }
    //   });
    //
    // });


    $('.maker-select').change(function() {
      var id = $(this).val();
      var selectId = $(this).attr('id');

      var numb = selectId.match(/\d/g);
      numb = numb.join("");
      var modelId = numb+"_maker_model_id";
      var select = $("#quote_quote_items_attributes_"+modelId);


      select.empty();


      $.ajax({
        type: "GET",
        url: "/admin/quotes/update_models",
        dataType: "json",
        data: {
          make_id: id
        },
        success: function(models) {


          for (var j = 0; j < models.length; j++){
            select.prepend("<option value='' selected='selected'></option>");
            select.append($("<option></option>").attr("value", models[j].id ).text(models[j].name));
          };
        }
      });
    });

  });