.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Update Quote
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/quotes"} List View
      %li.breadcrumb-item.active
        %strong Edit
  .col-lg-2

.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Quote Form
          .ibox-tools
            %a.collapse-link#quote-edit
              %i.fa.fa-chevron-up

        .ibox-content.quote-edit
          = render "form"

:javascript
  $( document ).ready(function() {
    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });
  });