%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js", :type => "text/javascript"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js", :type => "text/javascript"}


.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Quote
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/dashboard"} Dashboard
      %li.breadcrumb-item.active
        %strong List View
  .col-lg-4
    .clearfix-big
    .float-right
      %a.btn.btn-primary.mr-3{href: '/admin/quotes/new'}
        %i.fa.fa-plus
        Add Quote

.wrapper.wrapper-content
  - if flash.present?
    .row
      .col-lg-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-info"

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Filter
          .ibox-tools
            %a.collapse-link#filter-quote
              %i.fa.fa-chevron-up
        .ibox-content.filter-quote
          = render 'filter'

  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Quoting Table
          .ibox-tools
            %a.collapse-link#index-quotes
              %i.fa.fa-chevron-up


        .ibox-content.index-quotes
          .table-responsive
            %table.table.table-bordered.table-hover#quote_dt
              %thead
                %tr
                  %th{width: "8%"} ID
                  %th Customer
                  %th Required Date
                  %th Date Quote
                  %th Status
                  %th Salesperson
                  %th Tax
                  %th Total
                  %th Sub Total
              %tbody
                - @quotes.each do |quote|
                  %tr
                    %td
                      %a{href: "/admin/quotes/#{quote.id}"}
                        = "Q - #{quote.id}"
                    %td
                      - if quote.customer_id.present?
                        - if quote.customer.name.present?
                          = quote.customer.name
                        - else
                          = quote.customer_id
                      - else
                        = "NA"
                    %td= quote.date_required.present? ? format_full_date(quote.date_required) : "NA"
                    %td= quote.quote_date.present? ? format_full_date(quote.quote_date) : "NA"
                    %td= quote.status
                    %td= quote.user_id.present? ? quote.user.email : "---"
                    %td= quote.tax_id.present? ? "#{quote.tax.code} - #{quote.tax_percentage}%" : "---"
                    %td= quote.total
                    %td= quote.subtotal


:javascript
  $( document ).ready(function() {

    $('#quote_dt').dataTable({
      searching: false,
      paging: true,
      info: true,
      "order": [[ 0, "desc" ]],
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'print', {
                extend: 'pdf',
                orientation: 'landscape'
            }
      ]
    });

    $('.collapse-link').on('click', function (e) {
      var id = $(this).attr('id');
      $("."+id).slideToggle(200);
    });
  });