.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    %h2 Quote
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/admin/quotes"} List View
      %li.breadcrumb-item
        %a{:href => "/admin/quotes/new"} Create New
      %li.breadcrumb-item.active
        %strong SHOW
  .col-lg-4
    .clearfix-big
    .float-right
      %input.hidden#lastId{:value => @quote_first_id.id}
      %input.hidden#nextId{:value => @quote_last_id.id}

      %a.btn.btn-default.mr-3.prevItem{href: 'javascript:void(0)', id: @quote.id}
        %i.fa.fa-arrow-left
        PREV
      %a.btn.btn-default.mr-3.nextItem{href: 'javascript:void(0)', id: @quote.id}
        NEXT
        %i.fa.fa-arrow-right

.wrapper.wrapper-content
  .toast.hidden
    .toast-body
      #notif-message
      #redirect
        %i.fas.fa-circle-notch.fa-spin
        %span.ml-2
  .row
    .col-md-9
      .ibox-content.p-xl
        .row
          .col-sm-4
            %h5 Customer:
            %address
              %strong= @quote.customer.name
              %br/
              = @quote.customer.address1
              - if @quote.customer.address2.present?
                %br/
                = @quote.customer.address2
              %br/
              = "#{@quote.customer.city_code}, #{@quote.customer.state_name}"
              %br/
              = "#{@quote.customer.country_name}, #{@quote.customer.postal_code}"
              %br/
              - if @quote.customer.contact_name.present?
                %abbr{:title => "Contact Person"} C:
                = @quote.customer.contact_name
              %br/
              - if @quote.customer.phone_number.present?
                %abbr{:title => "Phone"} P:
                = @quote.customer.phone_number
              -if @quote.customer.fax_number.present?
                %abbr{:title => "Fax"} F:
                = @quote.customer.fax_number

          .col-sm-4
            %h5 Ship To:
            - if @shipment.nil?
              %address Same as Address above
            - else
              %address
                %br/
                = @shipment.address1
                - if @shipment.address2.present?
                  %br/
                  = @shipment.address2
                %br/
                = "#{@shipment.city_code}, #{@shipment.state_name}"
                %br/
                = "#{@shipment.country_name}, #{@shipment.postal_code}"
                %br/
                - if @shipment.contact_name.present?
                  %abbr{:title => "Contact Person"} C:
                  = @shipment.contact_name


          .col-sm-4.text-right
            %h4 Quote #
            %h4.text-navy= "#{@quote.id}"

            - if @quote.date_required.present?
              %p
                %span
                  %strong Date Required:
                  = format_full_date(@quote.date_required)

            - if @quote.status.present?
              %p
                %span
                  %strong Status:
                  = @quote.status.titleize

            - if @quote.quote_purchase_number.present?
              %p
                %span
                  %strong: Quote Purchase No.
                  = @quote.quote_purchase_number

        .table-responsive.m-t
          %table.table.invoice-table
            %thead
              %tr
                %th{width: "50%"} Item
                %th Quantity
                %th Grade
                %th Unit Price
                %th Total Price
            %tbody
              - @quote.quote_items.each_with_index do |quote_item, index|
                %tr
                  %td
                    %div
                      %strong
                        - if quote_item.maker_id.present? && quote_item.maker_model_id.present? && quote_item.item_id.present?
                          = "#{quote_item.maker.name} - #{quote_item.maker_model.name} - #{quote_item.item.part_number}"
                        - elsif quote_item.maker_id.present? && quote_item.maker_model_id.present? && quote_item.item_id.nil?
                          = "#{quote_item.maker.name} - #{quote_item.maker_model.name}"
                        - elsif quote_item.maker_id.present? && quote_item.maker_model_id.nil? && quote_item.item_id.nil?
                          = "#{quote_item.maker.name}"
                        - else
                          = "Item - #{index + 1}"

                    %small= quote_item.description
                  %td= quote_item.qty
                  %td= quote_item.grade_id.present? ? quote_item.grade.name : "NA"
                  %td= price_display(quote_item.each_price)
                  %td= price_display(quote_item.item_subtotal)

        / /table-responsive
        %table.table.invoice-total
          %tbody
            %tr
              %td
                %strong SUB TOTAL :
              %td= price_display(@quote.subtotal)
            %tr
              %td
                %strong Tax :

              %td
                - if @quote.tax_percentage.present?
                  = "#{@quote.tax_percentage} %"
                - else
                  = "NA"
            %tr
              %td
                %strong Tax Amount :
              %td= price_display(@quote.tax_amount)

            %tr
              %td
                %strong Freight :
              %td= price_display(@quote.freight)

            %tr
              %td
                %strong TOTAL :
              %td#with-border= price_display(@quote.total)



      .ibox-content.p-xl.hidden#printableInvoice
        .row
          .col-md-6
            = Date.today
          .col-md-6
            .float-right avaid: ERP
        .clearfix-big

        .row
          .col-md-4
            = image_tag "avaid-logo.jpg", size: "250x90"
          .col-md-4
            = @quote.customer.address1
            - if @quote.customer.address2.present?
              %br/
              = @quote.customer.address2
            %br/
            = "#{@quote.customer.city_code}, #{@quote.customer.state_name}"
            %br/
            = "#{@quote.customer.country_name}, #{@quote.customer.postal_code}"
            %br
            - if @quote.customer.phone_number.present?
              ="Tel: #{@quote.customer.phone_number}"
            -if @quote.customer.fax_number.present?
              ="Fax: #{@quote.customer.fax_number}"

        .clearfix-big
        .clearfix-big
        .row
          .col-sm-4
            %h5 Customer:
            %address
              %strong= @quote.customer.name
              %br/
              = @quote.customer.address1
              - if @quote.customer.address2.present?
                %br/
                = @quote.customer.address2
              %br/
              = "#{@quote.customer.city_code}, #{@quote.customer.state_name}"
              %br/
              = "#{@quote.customer.country_name}, #{@quote.customer.postal_code}"
              %br/
              - if @quote.customer.contact_name.present?
                %abbr{:title => "Contact Person"} C:
                = @quote.customer.contact_name
              %br/
              - if @quote.customer.phone_number.present?
                %abbr{:title => "Phone"} P:
                = @quote.customer.phone_number
              -if @quote.customer.fax_number.present?
                %abbr{:title => "Fax"} F:
                = @quote.customer.fax_number

          .col-sm-4
            %h5 Ship To:
            - if @shipment.nil?
              %address Same as Address above
            - else
              %address
                %br/
                = @shipment.address1
                - if @shipment.address2.present?
                  %br/
                  = @shipment.address2
                %br/
                = "#{@shipment.city_code}, #{@shipment.state_name}"
                %br/
                = "#{@shipment.country_name}, #{@shipment.postal_code}"
                %br/
                - if @shipment.contact_name.present?
                  %abbr{:title => "Contact Person"} C:
                  = @shipment.contact_name


          .col-sm-4.text-right
            %h4 Quote #
            %h4.text-navy= "#{@quote.id}"

            - if @quote.date_required.present?
              %p
                %span
                  %strong Date Required:
                  = format_full_date(@quote.date_required)


            - if @quote.quote_purchase_number.present?
              %p
                %span
                  %strong: Quote Purchase No.
                  = @quote.quote_purchase_number

        .table-responsive.m-t
          %table.table.invoice-table
            %thead
              %tr
                %th{width: "50%"} Item
                %th Quantity
                %th Grade
                %th Unit Price
                %th Total Price
            %tbody
              - @quote.quote_items.each_with_index do |quote_item, index|
                %tr
                  %td
                    %div
                      %strong
                        - if quote_item.maker_id.present? && quote_item.maker_model_id.present? && quote_item.item_id.present?
                          = "#{quote_item.maker.name} - #{quote_item.maker_model.name} - #{quote_item.item.part_number}"
                        - elsif quote_item.maker_id.present? && quote_item.maker_model_id.present? && quote_item.item_id.nil?
                          = "#{quote_item.maker.name} - #{quote_item.maker_model.name}"
                        - elsif quote_item.maker_id.present? && quote_item.maker_model_id.nil? && quote_item.item_id.nil?
                          = "#{quote_item.maker.name}"
                        - else
                          = "Item - #{index + 1}"

                    %small= quote_item.description
                  %td= quote_item.qty
                  %td= quote_item.grade_id.present? ? quote_item.grade.name : "NA"
                  %td= price_display(quote_item.each_price)
                  %td= price_display(quote_item.item_subtotal)

        / /table-responsive
        %table.table.invoice-total
          %tbody
            %tr
              %td
                %strong Tax :

              %td
                - if @quote.tax_percentage.present?
                  = "#{@quote.tax_percentage} %"
                - else
                  = "NA"
            %tr
              %td
                %strong Tax Amount :
              %td= price_display(@quote.tax_amount)

            %tr
              %td
                %strong Freight :
              %td= price_display(@quote.freight)

            %tr
              %td
                %strong SUB TOTAL :
              %td= price_display(@quote.subtotal)
            %tr
              %td
                %strong TOTAL :
              %td#with-border= price_display(@quote.total)

    .col-md-3
      .wrapper.wrapper-content.project-manager
        %h2= @quote.quote_purchase_number
        %h4 Quote Purchase No.
        %hr
        %p
          = "This quote consist of #{@quote.quote_items.count} items for #{@quote.customer.name} (Customer)"
        %p.font-bold
          %span
            %i.fa.fa-comment-dollar
            %span.ml-2= price_display(@quote.total)
        %p.font-bold
          %span
            %i.fa.fa-calendar
            %span.ml-2= "Date Required: #{format_full_date(@quote.date_required)}"

        %p
          %a.btn.btn-primary.btn-block{href:"/admin/quotes/#{@quote.id}/edit"}
            %i.fa.fa-edit
            Edit
        %p
          %button.btn.btn-default-outline.btn-block{:onclick => "printDiv('printableInvoice')", :type => "button", :value => "print a div!", :target => "_blank"}
            %i.fa.fa-print
            Print Quote
        %p
          %button.btn.btn-default-outline.btn-block.sendmail{id: @quote.customer_id, "data-quote" => @quote.id}
            %i.fa.fa-envelope
            Send Email

        - if @quote.status == "approved" || @quote.status == "shipped"
          %p
            %span Status: &nbsp;
            %i.far.fa-thumbs-up
            %span.text-primary.upper=" #{@quote.status} "
            %span
              - if @order.present?
                %a{href: "/admin/orders/#{@order.id}"} View Order
        - elsif @quote.status == "cancelled"
          %span Status: &nbsp;
          %i.far.fa-window-close
          %span.text-primary.upper=" #{@quote.status} "
        - else
          %p
            %span Status: &nbsp;
            %i.fas.fa-calculator
            %span.text-primary.upper=" #{@quote.status} "

          %button.btn.btn-warning.btn-block.approvenow{id: @quote.id}
            %i.far.fa-thumbs-up
            Approve?


        .clearfix
        %hr
        -# .clearfix
        -# %p
        -#   = link_to "<i class='fas fa-trash-alt'></i> &nbsp; Delete".html_safe, admin_quote_path(@quote.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn btn-danger btn-block'
        -#


        .clearfix-big

  .clearfix
  .row
    .col-md-9
      .card
        .card-header Note
        .card-body
          %p.small-text
            = @quote.note.present? ? @quote.note : "---"

  .clearfix-big
  .row
    .col-md-9
      .ibox
        .ibox-title
          %h5 Send Logs
          .ibox-content
            %table.table
              %thead
                %tr
                  %th{width: "65%;"}
                    Emails
                  %th
                    Date Time
              %tbody
                - @send_logs.each do |send_log|
                  - if !send_log.emails.nil?
                    %tr
                      %td
                        %code{style: "white-space: pre-wrap;"}= JSON.parse(send_log.emails).map(&:inspect).join(', ')

                      %td
                        .p-xxs.bg-muted= send_log.created_at.strftime("%b %d, %Y - %H:%M:%S")



  .clearfix-big

#sendTo.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title SEND QUOTE
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.row
          %label.col-sm-2.col-form-label FROM:
          .col-sm-8
            = text_field_tag "current_salesperson", current_user.email.present? ? current_user.email : nil, class: 'form-control disabled'

        %hr
        .form-group.row
          %label.col-sm-12.col-form-label SEND TO: (Single)
        .form-group.row
          .col-sm-12
            = text_field_tag "customer_email", @quote.customer.email.present? ? @quote.customer.email : nil, class: 'form-control'

        .form-group.row
          %label.col-sm-12.col-form-label CC: (Multiple)
        .form-group.row
          .col-sm-12
            = select_tag "salesperson_email", options_from_collection_for_select(@salespersons, "email", "email"), include_blank: true, class: 'form-control select2-create', multiple: 'multiple'

        .form-group.row
          .col-sm-8
            = check_box_tag 'cc_myself'
            %label CC myself?


      .modal-footer
        %button.btn.btn-primary.send-quote{"data-dismiss" => "modal", :type => "button"} SEND NOW


:javascript
  $( document ).ready(function() {

    $("#salesperson_email").select2({ dropdownParent: "#sendTo .modal-body", tags: true });

    $(".sendmail").on("click", function(e) {
      var customer_id = $(this).attr('id');
      var quote_id = $(this).attr('data-quote');

        $('#sendTo').modal({
            backdrop: 'static',
            keyboard: false
        });

      $(".send-quote").on("click", function(e) {
        var customer_email = $("#customer_email").val();
        var emails = $("#salesperson_email").val();
        var user_email = $("#current_salesperson").val();
        var cc_myself = $("#cc_myself").val();

        $.ajax({
           type: "GET",
           url: "/admin/quotes/send_email",
           dataType: "json",
           data: {
             customer_email: customer_email,
             quote_id: quote_id,
             emails: emails,
             user_email: user_email,
             cc_myself: cc_myself
           },
           success: function(data) {
            var notif = $('.toast');
            notif.removeClass('hidden');
            $('#notif-message').html('Successfully Sent.');
            $('#redirect span').html("Quote sent");
            setTimeout((function() {
              notif.addClass('hidden');
            }), 4000);
           }
        });
      });
    });


    $(".approvenow").on("click", function(e) {
      var quote_id = $(this).attr("id");

      $.ajax({
         type: "GET",
         url: "/admin/quotes/approve_quote",
         dataType: "json",
         data: {
           quote_id: quote_id
         },
         success: function(data) {
          $(".approvenow").prop( "disabled", false );
          var notif = $('.toast');
          notif.removeClass('hidden');
          $('#notif-message').html('Successfully Approved.');
          $('#redirect span').html("Quote status is approved");
          setTimeout((function() {
            notif.addClass('hidden');
            location.reload();
          }), 4000);
         }
      });
    });

    var lastId = $("#lastId").val();
    if(lastId == "#{@quote.id}") {
      $('.prevItem').addClass( "disabled" );
    } else {
      $('.prevItem').removeClass( "disabled" );
    }

    var nextId = $("#nextId").val();
    if(nextId == "#{@quote.id}") {
      $('.nextItem').addClass( "disabled" );
    } else {
      $('.nextItem').removeClass( "disabled" );
    }

    $('.prevItem').on('click', function (e) {
      var quote_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/quotes/get_prev_item",
        dataType: "json",
        data: {
          quote_id: quote_id
        },
        success: function(data) {
          window.location.href = "/admin/quotes/"+data.id;
        }
      });

    });

    $('.nextItem').on('click', function (e) {
      var quote_id = $(this).attr('id');

      $.ajax({
        type: "GET",
        url: "/admin/quotes/get_next_item",
        dataType: "json",
        data: {
          quote_id: quote_id
        },
        success: function(data) {
          window.location.href = "/admin/quotes/"+data.id;
        }
      });

    });

  });

  function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
