!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Avaid - Inventory
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon_avaid_32x32.png'
  %body
    #wrapper{:class => "#{params[:controller]}.#{params[:action]}"}
      = render 'layouts/partials/navigation'
      #page-wrapper{:class => "gray-bg #{@extra_class}"}
        = render 'layouts/partials/topnavbar'
        = yield
        = render 'layouts/partials/footer'

    = yield :javascript
