<%= wicked_pdf_stylesheet_link_tag "styles" %>

<%- @items.each do |item| %>
  <div class="row justify-content-center barcode-container">
    <div class="col-md-8 barcode-content">
      <p>
        <%= item.id %> / Audit/PO: <%= item.audit_id.present? ? item.audit.code : "NA" %> GRD: <%= item.grade_id.present? ? item.grade.name : nil %>
        <br>
        <%= item.maker.present? ? item.maker.name : "NA" %> <%= item.maker_model.present? ? item.maker_model.name : "NA" %> PN#<%= item.part_number %> SN#<%= item.serial %>
        <br>
        <%= item.description.present? ? item.description : "NA" %>
      </p>
      <% @barcodes.each do |barcode| %>
        <div class="barcode-img-pdf">
          <% if barcode[:id] == item.id %>
            <%= wicked_pdf_image_tag_for_public( barcode[:data] ) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
