<%= wicked_pdf_stylesheet_link_tag "styles" %>

<div class="row justify-content-center barcode-container">
  <div class="col-md-8 barcode-content">
    <p>
      #: <%= @item.id %> / Audit/PO: <%= @audit.code %> GRD: <%= @item.grade.name %>
      <br>
      <%= @item.maker.name %> <%= @item.maker_model.name %> PN#<%= @item.part_number %> SN#<%= @item.serial %>
      <br>
      <%= @item.description %>
    </p>

    <div class="barcode-img">
      <%= wicked_pdf_image_tag_for_public( @barcode ) %>
    </div>

  </div>
</div>