!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
      .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
      }

      .table > thead {
        background-color: #f3f3f4 !important;
      }
  %body
    = yield
