<%= wicked_pdf_stylesheet_link_tag "styles" %>

<div class="row header-section">
  <div class="float-left">
    <%= Date.today %>
  </div>
  <div class="float-right">
    Avaid: ERP
  </div>
</div>

<div class="clearfix"></div>

<div class="main-content">
  <div class="row">
    <div class='col-md-3 inline'>
      <div class="logo-img">
        <%= wicked_pdf_image_tag( 'avaid-logo.jpg' ) %>
      </div>
    </div>

    <div class='col-md-8 inline'>
      <div class="company-details-1">
        <%= @quote.customer.address1 %> <%= @quote.customer.address2 %>
        <br/>
        <%= @quote.customer.city_code %>, <%= @quote.customer.province_code.present? ? @quote.customer.state_name : "NA" %> <%= @quote.customer.postal_code %>
        <br/>
        Tel: <%= @quote.customer.phone_number.present? ?  @quote.customer.phone_number : "NA" %>
        <br/>
        Fax: <%= @quote.customer.fax_number.present? ?  @quote.customer.fax_number : "NA" %>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class='column left mr-3'>
      <h3> Bill To </h3>
      <address>
        <strong>
          <%= @quote.customer.name %>
        </strong>
        <br/>
        <%= @quote.customer.address1 %>
        <% if @quote.customer.address2.present? %>
          <br/>
          <%= @quote.customer.address2 %>
        <% end %>
        <br/>
        <%= "#{@quote.customer.city_code}, #{@quote.customer.state_name}" %>
        <br/>
        <%= "#{@quote.customer.country_name}, #{@quote.customer.postal_code}" %>
        <br/>
        <% if @quote.customer.contact_name.present? %>
          <abbr title="Contact Person">C:</abbr>
          <%= @quote.customer.contact_name %>
        <% end %>
        <br/>
        <% if @quote.customer.phone_number.present? %>
          <abbr title="Phone">P:</abbr>
          <%= @quote.customer.phone_number %>
        <% end %>
        <% if @quote.customer.fax_number.present? %>
          <abbr title="Fax">F:</abbr>
          <%= @quote.customer.fax_number %>
        <% end %>
      </address>

    </div>

    <div class='column middle mr-3'>
      <h3> Ship To </h3>
      <% if @shipment.nil? %>
        <p>Same Customer Address</p>
      <% else %>
        <address>
          <br/>
          <%= @shipment.address1 %>
          <% if @shipment.address2.present? %>
            <br/>
            <%= @shipment.address2 %>
          <% end %>
          <br/>
          <%= "#{@shipment.city_code}, #{@shipment.state_name}" %>
          <br/>
          <%= "#{@shipment.country_name}, #{@shipment.postal_code}" %>
          <br/>
          <% if @shipment.contact_name.present? %>
            <abbr title="Contact Person">C:</abbr>
            <%= @shipment.contact_name %>
          <% end %>
          </address>

      <% end %>




    </div>

    <div class='column right'>
      <h3> Quote Info </h3>
      <address>
        <label>Quote #: &nbsp;</label><%= @quote.id %>
        <br/>
        <label>Date: &nbsp;</label><%= @quote.date_required.present? ? @quote.date_required.strftime("%b %d, %Y") : "NA" %>
        <br/>
        <label>Terms: &nbsp;</label><%= @quote.term_id.present? ? @quote.term.name : "NA" %>
      </<address>
    </div>

  </div>
  <br/>
  <br/>
  <div class="row">
    <div class='col inline mr-2'>
      <label>Date Required</label>
      <div class="result"><%= @quote.date_required.present? ? @quote.date_required.strftime("%b %d, %Y") : "NA" %></div>
    </div>
    <div class='col inline mr-2'>
      <label>Salesperson</label>
      <div class="result"><%= @quote.user.full_name %></div>
    </div>
    <div class='col inline mr-2'>
      <label>Salesperson Email</label>
      <div class="result"><%= @quote.user.email %></div>
    </div>
    <div class='col inline mr-2'>
      <label>Salesperson Contact</label>
      <div class="result"><%= @quote.user.direct_number.present? ? @quote.user.direct_number : "NA" %></div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered font-12">
        <thead>
          <tr>
            <th scope="col">Warranty</th>
            <th scope="col">Make & Model</th>
            <th scope="col">Part #</th>
            <th scope="col">Grade</th>
            <th scope="col">Description</th>
            <th scope="col">QTY</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% @quote.quote_items.each do |quote_item| %>
            <tr>
              <td><%= quote_item.warranty_id.present? ? ProductWarranty.find(quote_item.warranty_id).name : "NA" %></td>
              <td>
                <%= quote_item.maker_id.present? ? quote_item.maker.name : "NA" %>
                <br/>
                <%= quote_item.maker_model_id.present? ? quote_item.maker_model.name : "NA" %>
              </td>
              <td><%= quote_item.part_number.present? ? quote_item.part_number : "NA" %></td>
              <td><%= quote_item.grade_id.present? ? quote_item.grade.name : "NA" %></td>
              <td><%= quote_item.description.present? ? quote_item.description : "NA" %></td>
              <td><%= quote_item.qty.present? ? quote_item.qty : 0 %></td>
              <td><%= quote_item.each_price.present? ? "$#{quote_item.each_price}" : "$0" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



  <div class="row">
    <div class="column larger-left">
      <div class="description-quote">
        <label>NOTE:</label><p><%= @quote.note.present? ? @quote.note : "NONE" %></p>
      </div>
    </div>

    <div class="column larger-right">
      <table class="compute-table font-12">
        <tr>
          <td class="label-tb">Total</td>
          <td class="res-tb"><%= @quote.total.present? ? "$#{@quote.total}" : "NA" %></td>
        </tr>
        <tr>
          <td class="label-tb">Freight</td>
          <td class="res-tb"><%= @quote.freight.present? ? "$#{@quote.freight}" : "NA" %></td>
        </tr>
        <tr>
          <td class="label-tb">Sub Total</td>
          <td class="res-tb"><%= @quote.subtotal.present? ? "$#{@quote.subtotal}" : "NA" %></td>
        </tr>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <p class="font-12">Quotes are valid for seven days from date issued. Prices and availability to change without notice. All sales are final. No returns without prior written authorization and are subject to a minimum 15% restocking fee. Prices are fixed on date of purchase and cannot be renegotiated at a later date.</p>
    </div>
  </div>

</div>
